/* Left Sidebar */
.roam-body .roam-app .roam-sidebar-container {
  background-color: var(--cl-bg-leftsidebar, --cl-bg-leftsidebar2, #182026);
}

/* DB Menu */
#app
  > div
  > div.roam-app
  > div.roam-sidebar-container.noselect
  > div
  > div.flex-h-box.top-row {
  background-color: var(--cl-bg-leftsidebar__dbmenu, transparent);
}

#app
  > div
  > div.roam-app
  > div.roam-sidebar-container.noselect
  > div
  > div.flex-h-box.top-row:hover {
  background-color: var(--cl-bg-leftsidebar__dbmenu-hover, #10161a);
}

.roam-sidebar-container .rm-db-title-container .rm-db-title {
  color: var(--cl-fg-leftsidebar__dbmenu, #5c7080);
  font-family: var(--fnt-family-leftsidebar__dbmenu, "Inter var", sans-serif);
  font-size: var(--fnt-size-leftsidebar__dbmenu, 14px);
  font-style: var(--fnt-style-leftsidebar__dbmenu, normal);
  text-transform: var(--fnt-transform-leftsidebar__dbmenu, normal);
  font-weight: var(--fnt-weight-leftsidebar__dbmenu, normal);
}

#app
  > div
  > div.roam-app
  > div.roam-sidebar-container.noselect
  > div
  > div.flex-h-box.top-row:hover
  .rm-db-title {
  color: var(--cl-fg-leftsidebar__dbmenu-hover, #f5f8fa);
}

/* Graph Dropdown */
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown {
  background-color: var(--cl-bg-leftsidebar__graphdropdown, #ffffff);
  font-family: var(
    --fnt-family-leftsidebar__graphdropdown,
    "Inter var",
    sans-serif
  );
  font-size: var(--fnt-size-leftsidebar__graphdropdown, 14px);
  font-style: var(--fnt-style-leftsidebar__graphdropdown, normal);
  text-transform: var(--fnt-transform-leftsidebar__graphdropdown, normal);
  font-weight: var(--fnt-weight-leftsidebar__graphdropdown, 400);
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .menu-item {
  color: var(--cl-fg-leftsidebar__graphdropdown, #182026);
  font-family: var(
    --fnt-family-leftsidebar__graphdropdown,
    "Inter var",
    sans-serif
  );
  font-size: var(--fnt-size-leftsidebar__graphdropdown, 14px);
  font-style: var(--fnt-style-leftsidebar__graphdropdown, normal);
  font-weight: var(--fnt-weight-leftsidebar__graphdropdown, 400);
}

.roam-body
  .roam-app
  .roam-sidebar-container
  .rm-graph-dropdown
  .menu-item:hover {
  color: var(--cl-fg-leftsidebar__graphdropdown-hover, #182026);
  background-color: var(--cl-bg-leftsidebar__graphdropdown-hover, #e3eaed);
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .menu-title {
  color: var(--cl-fg-leftsidebar__graphdropdown-menutitle, #8a9ba8);
  font-family: var(
    --fnt-family-leftsidebar__graphdropdown,
    "Inter var",
    sans-serif
  );
  font-size: var(--fnt-size-leftsidebar__graphdropdown-2px, 12px);
  font-style: var(--fnt-style-leftsidebar__graphdropdown, normal);
  font-transform: var(--fnt-transform-leftsidebar__graphdropdown, normal);
  font-weight: var(--fnt-weight-leftsidebar__graphdropdown, 400);
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .setting {
  background-color: var(--cl-bg-leftsidebar__graphdropdown-setting, #ebf1f5);
}

/* Collapse Icon */
.roam-sidebar-container .bp3-button.bp3-minimal::before {
  color: var(--cl-fg-leftsidebar__dbmenuicons, #5c7080);
}

.roam-sidebar-container .bp3-button.bp3-minimal {
  background-color: var(--cl-bg-leftsidebar__dbmenuicons, transparent);
}

.roam-sidebar-container .bp3-button.bp3-minimal:hover {
  background-color: var(
    --cl-bg-leftsidebar__dbmenuicons-hover,
    rgba(167, 182, 194, 0.3)
  );
}

.roam-sidebar-container .bp3-button.bp3-minimal:hover::before {
  color: var(--cl-fg-leftsidebar__dbmenuicons-hover, #5c7080);
}

/* Log Menu */
#app
  > div
  > div.roam-app
  > div.roam-sidebar-container.noselect
  > div
  > div.flex-v-box.starred-pages-wrapper
  > div.flex-h-box,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .log-button
  div,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  background-color: var(--cl-bg-leftsidebar__logmenu, transparent);
  color: var(--cl-fg-leftsidebar__logmenu, #5c7080);
  font-family: var(--fnt-family-leftsidebar__logmenu, "Inter var", sans-serif);
  font-size: var(--fnt-size-leftsidebar__logmenu, 14px);
  font-style: var(--fnt-style-leftsidebar__logmenu, normal);
  text-transform: var(--fnt-transform-leftsidebar__logmenu, normal);
  font-weight: var(--fnt-weight-leftsidebar__logmenu, bold);
}

.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .log-button:hover
  div,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .log-button:hover {
  background-color: var(--cl-bg-leftsidebar__logmenu-hover, #10161a);
  color: var(--cl-fg-leftsidebar__logmenu-hover, #f5f8fa);
}

/* Starred Pages */
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page {
  background-color: var(--cl-bg-leftsidebar__starredpages, transparent);
  color: var(--cl-fg-leftsidebar__starredpages, #5c7080);
  font-family: var(
    --fnt-family-leftsidebar__starredpages,
    "Inter var",
    sans-serif
  );
  font-size: var(--fnt-size-leftsidebar__starredpages, 14px);
  font-style: var(--fnt-style-leftsidebar__starredpages, normal);
  text-transform: var(--fnt-transform-leftsidebar__starredpages, normal);
  font-weight: var(--fnt-weight-leftsidebar__starredpages, 500);
}

.roam-bodyx
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page:hover {
  background-color: var(--cl-bg-leftsidebar__starredpages-hover, #10161a);
  color: var(--cl-fg-leftsidebar__starredpages-hover, #f5f8fa);
}

/* Roam Research Icon */
#roam-sidebar-logo {
  background-color: var(--cl-bg-leftsidebar__roamicon, #182026);
}

/* Topbar */
.rm-topbar {
  background-color: var(--cl-bg-topbar, #ffffff);
}

/* Search */
.rm-topbar .bp3-input[type="search"],
.rm-topbar .bp3-input.bp3-round {
  border-radius: var(--br-radius-topbar__search, 30px);
  border: var(--br-fg-topbar__search, 1px solid #dbdbdc);
  background-color: var(--cl-bg-topbar__search, #ffffff);
  color: var(--cl-fg-topbar__search, #000);
  font-family: var(--fnt-family-topbar__search, "Inter var", sans-serif);
  font-size: var(--fnt-size-topbar__search, 14px);
  font-style: var(--fnt-style-topbar__search, normal);
  font-weight: var(--fnt-weight-topbar__search, normal);
}

.rm-topbar .bp3-input[type="search"]::placeholder,
.rm-topbar .bp3-input.bp3-round::placeholder {
  color: var(--cl-fg-topbar__search-placeholder, #5c7080);
}

.rm-topbar .bp3-input[type="search"]:focus,
.rm-topbar .bp3-input.bp3-round:focus {
  border: var(--br-fg-topbar__search-focus, 3px solid #bdd7eb);
}

/* Icons */
.rm-topbar .bp3-button::before,
.rm-topbar .bp3-button .bp3-icon {
  color: var(--cl-fg-topbar__icons, #5c7080);
  background-color: var(--cl-bg-topbar__icons, transparent);
}

.rm-topbar .bp3-button.bp3-small:hover {
  background-color: var(--cl-bg-topbar__icons-hover, rgba(167, 182, 194, 0.3));
}
.rm-topbar .bp3-button:hover::before,
.rm-topbar .bp3-button.bp3-small:hover .bp3-icon {
  color: var(--cl-fg-topbar__icons-hover, #5c7080);
}

/* Menu */
.rm-topbar .bp3-menu {
  background-color: var(--cl-bg-topbar__menu, #ffffff);
  color: var(--cl-fg-topbar__menu, #182026);
}

.bp3-popover .bp3-popover-arrow-fill {
  fill: var(--cl-bg-topbar__menu, #ffffff);
}

.rm-topbar .bp3-menu-item:hover,
.rm-topbar .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-menu-item {
  background-color: var(--cl-bg-topbar__menu-hover, rgba(167, 182, 194, 0.3));
  color: var(--cl-fg-topbar__menu-hover, #182026);
}

.rm-find-or-create-wrapper .rm-menu-item .rm-search-title .rm-new-page {
  color: var(--cl-fg-topbar__menu-searchnewpage, #008000);
}

.rm-find-or-create-wrapper .rm-menu-item .rm-search-list-item {
  color: var(--cf-fg-topbar__menu-searchitem, #8a9ba8);
}

.rm-find-or-create-wrapper .rm-menu-item .rm-search-list-item span span {
  background-color: var(
    --cf-bg-topbar__menu-searchhighlight,
    yellow
  ) !important;
}

/* Icon Tooltips */
.bp3-tooltip .bp3-popover-content,
.bp3-tooltip .bp3-popover-content div {
  background: var(--cl-bg-topbar__icons-tooltip, #394b59);
  color: var(--cl-fg-topbar__icons-tooltip, #f5f8fa);
  font-family: var(--fnt-family-topbar__icons-tooltip, "Inter var", sans-serif);
  font-size: var(--fnt-size-topbar__icons-tooltip, 14px);
  font-style: var(--fnt-style-topbar__icons-tooltip, normal);
  text-transform: var(--fnt-transform-topbar__icons-tooltip, normal);
  font-weight: var(--fnt-weight-topbar__icons-tooltip, 400);
}

.bp3-tooltip .bp3-popover-arrow-fill {
  fill: var(--cl-bg-topbar__icons-tooltip, #394b59);
}

/* Help */
.bp3-card {
  background-color: var(--cl-bg-topbar__help, #ffffff);
}

.rm-help-results .rm-help-categories .rm-help-category-menu-item {
  color: var(--cl-fg-topbar__help, #444);
}

.rm-help-results .rm-help-functions .rm-help-function__name {
  color: var(--cl-fg-topbar__help-function, #202b33);
}

.rm-help-results .rm-help-functions .rm-help-category__name {
  color: var(--cl-fg-topbar__help-category, #8a9ba8);
}

.rm-help-results .rm-help-categories .rm-help-category-menu-item:hover {
  background-color: var(--cl-bg-topbar__help-category-hover, #f5f5f5);
  color: var(--cl-fg-topbar__help-category-hover, #444444);
}

.rm-help-results .rm-help-categories .rm-help-category-menu-item--selected,
.rm-help-results
  .rm-help-categories
  .rm-help-category-menu-item--selected:hover {
  color: var(--cl-fg-topbar__help-category-selected, #ffffff);
  background-color: var(--cl-bg-topbar__help-category-selected, #116aa2);
}

.rm-help-results .rm-help-functions .rm-help-function__shortcut {
  color: var(--cl-fg-topbar__help-shortcut, #202b33);
}

.rm-help-results .rm-help-functions hr {
  border-top: 1px solid var(--cl-fg-topbar__help-hr, #fff);
}

.rm-help-results .rm-help-categories {
  border-right: 1px solid var(--cl-fg-topbar__help-hr, #fff);
}

#right-sidebar {
  background-color: var(--cl-bg-rs, rgba(92, 112, 128, 0.05));
}

/* Icons */
#right-sidebar .bp3-button::before,
#right-sidebar .bp3-button .bp3-icon {
  color: var(--cl-fg-rightsidebar__icons, #5c7080);
  background-color: var(--cl-bg-rightsidebar__icons, transparent);
}

#right-sidebar .bp3-button.bp3-small:hover {
  background-color: var(
    --cl-bg-rightsidebar__icons-hover,
    rgba(167, 182, 194, 0.3)
  );
}

#right-sidebar .bp3-button:hover::before,
#right-sidebar .bp3-button.bp3-small:hover .bp3-icon {
  color: var(--cl-fg-rightsidebar__icons-hover, #5c7080);
}

.roam-body .roam-app .roam-body-main {
  background-color: var(--cl-bg-body, #fff);
}

/* Page Title */
.rm-title-display {
  color: var(--cl-fg-content__pagetitle, #202b33);
  font-family: var(--fnt-family-content__pagetitle, "Inter var", sans-serif);
  font-size: var(--fnt-size-content__pagetitle, 36px);
  font-style: var(--fnt-style-content__pagetitle, normal);
  text-transform: var(--fnt-transform-content__pagetitle, normal);
  font-weight: var(--fnt-weight-content__pagetitle, normal);
}

/* Text */
.roam-body-main div {
  color: var(--cl-fg-content__text, #202b33);
  font-family: var(--fnt-family-content__text, "Inter var", sans-serif);
  font-size: var(--fnt-size-content__text, 14px);
  font-style: var(--fnt-style-content__text, normal);
  text-transform: var(--fnt-transform-content__text, normal);
  font-weight: var(--fnt-weight-content__text, normal);
}

/* Bullets */
.rm-bullet__inner {
  background-color: var(--cl-bg-content__bullet-inner, #394b59);
}

.rm-bullet.rm-bullet--closed .rm-bullet__inner {
  border: 4px solid var(--cl-br-content__bullet-outer, #ced9e0);
}

/* Multibar */
.rm-multibar {
  border-right: 1px solid var(--cl-br-content__multibar, #bfccd6);
}

.rm-multibar:hover {
  border-right: 3px solid
    var(--cl-br-content__multibar-hover, 3px solid #5c7080);
}

/* Checkmark */
.checkmark {
  border: 1px solid var(--cl-br-content__checkmark, #a7b6c2);
}

.check-container input:checked ~ .checkmark {
  background-color: var(--cl-bg-content__checkmark-checked, #137cbd);
}

/* Block Highlight */
.block-highlight-blue {
  background-color: var(--cl-bg-content__hightlight-blue, #7cccff);
}

/* Elevation Menu */
.roam-body-main .bp3-elevation-3 {
  background-color: var(--cl-bg-content__elevation, #ffffff) !important;
}

.roam-body-main .bp3-elevation-3 div {
  color: var(--cl-fg-content__elevation, #202b33) !important;
  font-family: var(--fnt-family-content__elevation, "Inter var", sans-serif);
  font-size: var(--fnt-size-content__elevation, 14px);
  font-style: var(--fnt-style-content__elevation, normal);
  text-transform: var(--fnt-transform-content__elevation, normal);
  font-weight: var(--fnt-weight-content__elevation, normal);
}

/* Block embed */
.rm-embed-container--block {
  background-color: var(--cl-bg-content__embed, #ebf1f5);
}

.rm-embed-container--block div {
  color: var(--cl-fg-content__embed, #202b33);
  font-family: var(--fnt-family-content__embed, "Inter var", sans-serif);
  font-size: var(--fnt-size-content__embed, 14px);
  font-style: var(--fnt-style-content__embed, normal);
  text-transform: var(--fnt-transform-content__embed, normal);
  font-weight: var(--fnt-weight-content__embed, normal);
}

/* External Link */
a.rm-alias--external {
  color: var(--cl-fg-content__aliasexternal, #337ab7);
  background-color: var(--cl-bg-content__aliasexternal, transparent);
  font-family: var(
    --fnt-family-content__aliasexternal,
    "Inter var",
    sans-serif
  );
  font-size: var(--fnt-size-content__aliasexternal, 14px);
  font-style: var(--fnt-style-content__aliasexternal, normal);
  text-transform: var(--fnt-transform-content__aliasexternal, normal);
  font-weight: var(--fnt-weight-content__aliasexternal, normal);
}

/* Internal Link */
.rm-page-ref--link {
  color: var(--cl-fg-content__aliasinternal, #106ba3);
  background-color: var(--cl-bg-content__aliasinternal, transparent);
  font-family: var(
    --fnt-family-content__aliasinternal,
    "Inter var",
    sans-serif
  );
  font-size: var(--fnt-size-content__aliasinternal, 14px);
  font-style: var(--fnt-style-content__aliasinternal, normal);
  text-transform: var(--fnt-transform-content__aliasinternal, normal);
  font-weight: var(--fnt-weight-content__aliasinternal, normal);
}

/* Highlight */
.rm-highlight {
  background-color: var(--cl-bg-content__hightlight, #fef09f);
}

/* Inline Code */
code {
  color: var(--cl-fg-content__inlinecode, #333333);
  background-color: var(--cl-bg-content__inlinecode, #eeeeee);
  border: var(--br-content__inlinecode, 1px solid #ddd);
  font-family: var(
    --fnt-family-content__inlinecode,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace
  );
  font-size: var(--fnt-size-content__inlinecode, 14px);
  font-style: var(--fnt-style-content__inlinecode, normal);
  text-transform: var(--fnt-transform-content__inlinecode, normal);
  font-weight: var(--fnt-weight-content__inlinecode, normal);
}

/* Code Block */
.CodeMirror {
  border: var(--br-content__codeblock, none);
}

.CodeMirror-lines {
  background-color: var(--cl-bg-content__codeblock, #ffffff);
}

.CodeMirror .CodeMirror-code pre {
  color: var(--cl-fg-content__codeblock, #333333);
  font-family: var(--fnt-family-content__codeblock, monospace);
  font-size: var(--fnt-size-content__codeblock, 14px);
}

/* Calculations */
.rm-calc-val {
  color: var(--cl-fg-content__calc, #0a6640);
}

/* References */
.rm-mentions .rm-ref-page-view .rm-ref-page-view-title {
  font-size: var(--fnt-size-content__mentions, 16px);
}

#app
  > div
  > div.roam-app
  > div.flex-h-box
  > div.roam-main
  > div.roam-body-main
  > div
  > div
  > div:nth-child(2)
  > div
  > div
  > div:nth-child(2)
  > div.flex-h-box
  > strong,
#app
  > div
  > div.roam-app
  > div.flex-h-box
  > div.roam-main
  > div.roam-body-main
  > div
  > div
  > div:nth-child(2)
  > div
  > div
  > div.rm-reference-container
  > div.flex-h-box
  > div:nth-child(3),
#app
  > div
  > div.roam-app
  > div.flex-h-box
  > div.roam-main
  > div.roam-body-main
  > div
  > div
  > div:nth-child(2)
  > div
  > div
  > div
  > div.flex-h-box
  > strong {
  color: var(--cl-fg-content__unlinked, rgb(206, 217, 224)) !important;
}

/* Fix bullets */
.rm-block--ghost .controls,
.rm-block--ghost .rm-block__controls {
  display: flex;
  flex: 0 0 41px;
  padding-top: 4px;
  padding-left: 5px;
}

.controls,
.rm-block__controls {
  display: flex;
  flex: 0 0 45px;
  padding-top: 3px;
  padding-left: 9px;
}

.rm-bullet {
  margin-top: 2px;
}

.rm-multibar {
  left: -1px;
}

/* Fix width of starred pages wrapper */
#app
  > div
  > div.roam-app
  > div.roam-sidebar-container.noselect
  > div
  > div.flex-v-box.starred-pages-wrapper {
  padding: 8px 0 !important;
}

#app
  > div
  > div.roam-app
  > div.roam-sidebar-container.noselect
  > div
  > div.flex-v-box.starred-pages-wrapper
  > div.flex-h-box {
  padding: 0 20px;
}

div.page {
  padding: 8px 20px 8px 20px !important;
}

/* Remove shadow from Search */
.rm-topbar .bp3-input[type="search"],
.rm-topbar .bp3-input.bp3-round {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Remove opacity from Graph Dropdown */
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown {
  opacity: 100%;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .menu-item {
  padding: 6px 8px;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .signout {
  font-family: var(--fnt-family-graphdropdown, "Inter var", sans-serif);
  font-size: var(--fnt-size-graphdropdown, 14px);
  font-style: var(--fnt-style-graphdropdown, normal);
  font-weight: var(--fnt-weight-graphdropdown, 400);
  opacity: 100%;
}

/* Remove underline from Roam Logo */
#roam-sidebar-logo:hover {
  text-decoration: none;
}

/* Change bullet size */
/* Bullets */
.rm-bullet__inner {
  width: var(--width-bullet__inner, 6px);
  height: var(--height-bullet__inner, 6px);
}

.CodeMirror-linenumber.CodeMirror-gutter-elt {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
