:root {
	/* Gray */
	--cl-gray-50: 		#F9FAFB;
	--cl-gray-100:		#F3F4F6;
	--cl-gray-200:		#E5E7EB;
	--cl-gray-300:		#D1D5DB;
	--cl-gray-400:		#9CA3AF;
	--cl-gray-500:		#6B7280;
	--cl-gray-600:		#4B5563;
	--cl-gray-700:		#374151;
	--cl-gray-800:		#1F2937;
	--cl-gray-900:		#111827;

	/* Red */
	--cl-red-50:		#FEF2F2;
	--cl-red-100:		#FEE2E2;
	--cl-red-200:		#FECACA;
	--cl-red-300:		#FCA5A5;
	--cl-red-400:		#F87171;
	--cl-red-500:		#EF4444;
	--cl-red-600:		#DC2626;
	--cl-red-700:		#B91C1C;
	--cl-red-800:		#991B1B;
	--cl-red-900:		#7F1D1D;

	/* Yellow */
	--cl-yellow-50:		#FFFBEB;
	--cl-yellow-100:	#FEF3C7;
	--cl-yellow-200:	#FDE68A;
	--cl-yellow-300:	#FCD34D;
	--cl-yellow-400:	#FBBF24;
	--cl-yellow-500:	#F59E0B;
	--cl-yellow-600:	#D97706;
	--cl-yellow-700:	#B45309;
	--cl-yellow-800:	#92400E;
	--cl-yellow-900:	#78350F;

	/* Green */
	--cl-green-50:		#ECFDF5;
	--cl-green-100:		#D1FAE5;
	--cl-green-200:		#A7F3D0;
	--cl-green-300:		#6EE7B7;
	--cl-green-400:		#34D399;
	--cl-green-500:		#10B981;
	--cl-green-600:		#059669;
	--cl-green-700:		#047857;
	--cl-green-800:		#065F46;
	--cl-green-900:		#064E3B;
	
	/* Blue */
	--cl-blue-50:		#EFF6FF;
	--cl-blue-100:		#DBEAFE;
	--cl-blue-200:		#BFDBFE;
	--cl-blue-300:		#93C5FD;
	--cl-blue-400:		#60A5FA;
	--cl-blue-500:		#3B82F6;
	--cl-blue-600:		#2563EB;
	--cl-blue-700:		#1D4ED8;
	--cl-blue-800:		#1E40AF;
	--cl-blue-900:		#1E3A8A;
	
	/* Indigo */
	--cl-indigo-50:		#EEF2FF;
	--cl-indigo-100:	#E0E7FF;
	--cl-indigo-200:	#C7D2FE;
	--cl-indigo-300:	#A5B4FC;
	--cl-indigo-400:	#818CF8;
	--cl-indigo-500:	#6366F1;
	--cl-indigo-600:	#4F46E5;
	--cl-indigo-700:	#4338CA;
	--cl-indigo-800:	#3730A3;
	--cl-indigo-900:	#312E81;
	
	/* Purple */
	--cl-purple-50:		#F5F3FF;
	--cl-purple-100:	#EDE9FE;
	--cl-purple-200:	#DDD6FE;
	--cl-purple-300:	#C4B5FD;
	--cl-purple-400:	#A78BFA;
	--cl-purple-500:	#8B5CF6;
	--cl-purple-600:	#7C3AED;
	--cl-purple-700:	#6D28D9;
	--cl-purple-800:	#5B21B6;
	--cl-purple-900:	#4C1D95;
	
	/* Pink */
	--cl-pink-50:		#FDF2F8;
	--cl-pink-100:		#FCE7F3;
	--cl-pink-200:		#FBCFE8;
	--cl-pink-300:		#F9A8D4;
	--cl-pink-400:		#F472B6;
	--cl-pink-500:		#EC4899;
	--cl-pink-600:		#DB2777;
	--cl-pink-700:		#BE185D;
	--cl-pink-800:		#9D174D;
	--cl-pink-900:		#831843;
}