@font-face {
    font-family: "iA Writer Mono S";
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterMonoS-Regular.eot");
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterMonoS-Regular.eot?#iefix") format("embedded-opentype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterMonoS-Regular.woff2") format("woff2"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterMonoS-Regular.woff") format("woff"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterMonoS-Regular.ttf") format("truetype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterMonoS-Regular.svg#iAWriterMonoS-Regular") format("svg");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "iA Writer Mono S";
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterMonoS-Italic.eot");
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterMonoS-Italic.eot?#iefix") format("embedded-opentype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterMonoS-Italic.woff2") format("woff2"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterMonoS-Italic.woff") format("woff"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterMonoS-Italic.ttf") format("truetype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterMonoS-Italic.svg#iAWriterMonoS-Italic") format("svg");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "iA Writer Duo S";
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterDuoS-Italic.eot");
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterDuoS-Italic.eot?#iefix") format("embedded-opentype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterDuoS-Italic.woff2") format("woff2"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterDuoS-Italic.woff") format("woff"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterDuoS-Italic.ttf") format("truetype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterDuoS-Italic.svg#iAWriterDuoS-Italic") format("svg");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "iA Writer Duo S";
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterDuoS-Regular.eot");
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterDuoS-Regular.eot?#iefix") format("embedded-opentype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterDuoS-Regular.woff2") format("woff2"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterDuoS-Regular.woff") format("woff"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterDuoS-Regular.ttf") format("truetype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterDuoS-Regular.svg#iAWriterDuoS-Regular") format("svg");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "iA Writer Quattro S";
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Regular.eot");
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Regular.eot?#iefix") format("embedded-opentype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Regular.woff2") format("woff2"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Regular.woff") format("woff"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Regular.ttf") format("truetype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Regular.svg#iAWriterQuattroS-Regular") format("svg");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "iA Writer Quattro S";
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Italic.eot");
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Italic.eot?#iefix") format("embedded-opentype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Italic.woff2") format("woff2"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Italic.woff") format("woff"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Italic.ttf") format("truetype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Italic.svg#iAWriterQuattroS-Italic") format("svg");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "iA Writer Quattro S";
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Bold.eot");
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Bold.woff2") format("woff2"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Bold.woff") format("woff"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Bold.ttf") format("truetype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-Bold.svg#iAWriterQuattroS-Bold") format("svg");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "iA Writer Quattro S";
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-BoldItalic.eot");
    src: url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-BoldItalic.woff2") format("woff2"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-BoldItalic.woff") format("woff"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-BoldItalic.ttf") format("truetype"),
        url("https://fonts.rcvd.io/iA Writer/iAWriterQuattroS-BoldItalic.svg#iAWriterQuattroS-BoldItalic") format("svg");
    font-style: italic;
    font-weight: bold;
    font-display: swap;
}