@import url('https://rcvd.github.io/roam-css-system/fonts/bear.css');
@import url('https://rcvd.github.io/roam-css-system/internal/colors-bear.css');
@import url('https://rcvd.github.io/roam-css-system/internal/roam-css-system.css');
@import url('https://rcvd.github.io/roam-css-system/internal/additional-fixes-bear_light.css');


:root {
	--co-a--hover: rgba(221, 76, 79, 1.00);
	--td-a--hover: none;
}

:root {
	--co-a: rgba(221, 76, 79, 1.00);
	--td-a: none;
}

:root {
	--bl-alias__tooltip-content-bq: 1px solid var(--cl-gray-100);
	--co-alias__tooltip-content-bq: ;
}

:root {
	--co-alias__tooltip-external--hover: ;
}

:root {
	--co-alias__tooltip-external: ;
}

:root {
	--bc-allpages__checkbox: transparent;
	--bt-allpages__checkbox: 1px solid #c1c3c6;
	--br-allpages__checkbox: 1px solid #c1c3c6;
	--bb-allpages__checkbox: 1px solid #c1c3c6;
	--bl-allpages__checkbox: 1px solid #c1c3c6;
	--bd-allpages__checkbox: 3px;
	--sd-allpages__checkbox: none;
	--fs-allpages__checkbox: ;
}

:root {
	--bc-allpages__clickable-pill: transparent;
	--bt-allpages__clickable-pill: none;
	--br-allpages__clickable-pill: none;
	--bb-allpages__clickable-pill: none;
	--bl-allpages__clickable-pill: none;
	--bd-allpages__clickable-pill: 0;
	--co-allpages__clickable-pill: #a8a8a9;
	--fs-allpages__clickable-pill: ;
	--fw-allpages__clickable-pill: ;
	--op-allpages__clickable-pill: 1;
}

:root {
	--bc-allpages__clickable-pill-1: transparent;
	--bt-allpages__clickable-pill-1: none;
	--br-allpages__clickable-pill-1: none;
	--bb-allpages__clickable-pill-1: none;
	--bl-allpages__clickable-pill-1: none;
	--co-allpages__clickable-pill-1: #a8a8a9;
	--op-allpages__clickable-pill-1: 1;
}

:root {
	--bc-allpages__clickable-pill-2: transparent;
	--bt-allpages__clickable-pill-2: none;
	--br-allpages__clickable-pill-2: none;
	--bb-allpages__clickable-pill-2: none;
	--bl-allpages__clickable-pill-2: none;
	--co-allpages__clickable-pill-2: #a8a8a9;
	--op-allpages__clickable-pill-2: 1;
}

:root {
	--bc-allpages__clickable-pill-3: transparent;
	--bt-allpages__clickable-pill-3: none;
	--br-allpages__clickable-pill-3: none;
	--bb-allpages__clickable-pill-3: none;
	--bl-allpages__clickable-pill-3: none;
	--co-allpages__clickable-pill-3: #a8a8a9;
	--op-allpages__clickable-pill-3: 1;
}

:root {
	--bc-allpages__clickable-pill-empty: transparent;
	--bt-allpages__clickable-pill-empty: none;
	--br-allpages__clickable-pill-empty: none;
	--bb-allpages__clickable-pill-empty: none;
	--bl-allpages__clickable-pill-empty: none;
	--co-allpages__clickable-pill-empty: #a8a8a9;
	--op-allpages__clickable-pill-empty: 1;
}

:root {
	--bc-allpages__input--focused: #dbdde4;
	--bt-allpages__input--focused: none;
	--br-allpages__input--focused: none;
	--bb-allpages__input--focused: none;
	--bl-allpages__input--focused: none;
}

:root {
	--bc-allpages__input: transparent;
	--bt-allpages__input: none;
	--br-allpages__input: none;
	--bb-allpages__input: none;
	--bl-allpages__input: none;
	--bd-allpages__input: 5px;
	--sd-allpages__input: none;
	--co-allpages__input: #1d1d1f;
	--fs-allpages__input: 1rem;
	--fw-allpages__input: normal;
}

:root {
	--co-allpages__input-icon--focused: #818182;
}

:root {
	--co-allpages__input-icon: #818182;
}

:root {
	--bb-allpages__row: none;
	--co-allpages__row: #a8a8a9;
}

:root {
	--bc-allpages__row-header: transparent;
	--bb-allpages__row-header: 1px solid #e6e8eb;
	--bd-allpages__row-header: 0px;
	--co-allpages__row-header: #1d1d1f;
	--fs-allpages__row-header: 1rem;
	--fw-allpages__row-header: 700;
}

:root {
	--co-allpages__sort-button--focused: #1d72d1;
	--fw-allpages__sort-button--focused: ;
}

:root {
	--co-allpages__sorted-header-text: #1d1d1f;
	--fw-allpages__sorted-header-text: 700;
}

:root {
	--co-allpages__title-col: #818182;
}

:root {
	--co-allpages__title-header: #1d1d1f;
}

:root {
	--co-allpages__title-text: #1d1d1f;
}

:root {
	--co-app__h1: #1d1d1f;
	--ff-app__h1: ;
	--ft-app__h1: ;
	--fw-app__h1: normal;
}

:root {
	--bc-app: #ffffff;
	--co-app: #1d1d1f;
}

:root {
	--co-attributes: ;
	--ft-attributes: ;
	--fw-attributes: bold;
}

:root {
	--co-block__ghost: #aeb2b8;
}

:root {
	--bc-block__button--hover: #509cfe;
	--bt-block__button--hover: none;
	--br-block__button--hover: none;
	--bb-block__button--hover: none;
	--bl-block__button--hover: none;
	--sd-block__button--hover: ;
	--co-block__button--hover: #ffffff;
}

:root {
	--bc-block__button: #b8bdc4;
	--bt-block__button: none;
	--br-block__button: none;
	--bb-block__button: none;
	--bl-block__button: none;
	--bd-block__button: 3px;
	--sd-block__button: ;
	--co-block__button: #ffffff;
}

:root {
	--bc-block-highlight--blue: #363f49;
	--co-block-highlight--blue: ;
}

:root {
	--bc-block-highlight--grey: #d7d7d7;
	--co-block-highlight--grey: ;
}

:root {
	--bc-block-highlight--yellow: #ffcc02;
	--co-block-highlight--yellow: ;
}

:root {
	--bc-block-ref--hover: transparent;
	--co-block-ref--hover: #0076e4;
}

:root {
	--bb-block-ref: .5px dotted #b5b9bf;
}

:root {
	--co-brackets: #b5b9bf;
}

:root {
	--bt-bullet__closed: 4px solid rgba(214, 85, 95, 1.00);
	--br-bullet__closed: 4px solid rgba(214, 85, 95, 1.00);
	--bb-bullet__closed: 4px solid rgba(214, 85, 95, 1.00);
	--bl-bullet__closed: 4px solid rgba(214, 85, 95, 1.00);
}

:root {
	--bc-bullet__ghost: #d7d7d7;
}

:root {
	--bc-bullet__inner: rgba(214, 85, 95, 1.00);
}

:root {
	--bc-button__cancel--hover: #b9bdc4;
	--bt-button__cancel--hover: none;
	--br-button__cancel--hover: none;
	--bb-button__cancel--hover: none;
	--bl-button__cancel--hover: none;
	--sd-button__cancel--hover: none;
	--co-button__cancel--hover: #ffffff;
}

:root {
	--bc-button__cancel: #b9bdc4;
	--bt-button__cancel: none;
	--br-button__cancel: none;
	--bb-button__cancel: none;
	--bl-button__cancel: none;
	--bd-button__cancel: 5px;
	--sd-button__cancel: none;
	--co-button__cancel: #ffffff;
}

:root {
	--bc-button__danger--hover: #fc4870;
	--bt-button__danger--hover: none;
	--br-button__danger--hover: none;
	--bb-button__danger--hover: none;
	--bl-button__danger--hover: none;
	--sd-button__danger--hover: none;
	--co-button__danger--hover: #ffffff;
}

:root {
	--bc-button__danger: #fc4870;
	--bt-button__danger: none;
	--br-button__danger: none;
	--bb-button__danger: none;
	--bl-button__danger: none;
	--bd-button__danger: 5px;
	--sd-button__danger: none;
	--co-button__danger: #ffffff;
}

:root {
	--bc-button__disabled--hover: #d7d7d7;
	--bt-button__disabled--hover: none;
	--br-button__disabled--hover: none;
	--bb-button__disabled--hover: none;
	--bl-button__disabled--hover: none;
	--sd-button__disabled--hover: none;
	--co-button__disabled--hover: #ffffff;
}

:root {
	--bc-button__disabled: #d7d7d7;
	--bt-button__disabled: none;
	--br-button__disabled: none;
	--bb-button__disabled: none;
	--bl-button__disabled: none;
	--bd-button__disabled: 5px;
	--sd-button__disabled: none;
	--co-button__disabled: #ffffff;
}

:root {
	--co-button__icon--hover: #9fa0a0;
}

:root {
	--co-button__icon: #9fa0a0;
}

:root {
	--bc-button__minimal--hover: transparent;
	--bd-button__minimal--hover: 5px;
	--sd-button__minimal--hover: none;
	--co-button__minimal--hover: #9fa0a0;
	--td-button__minimal--hover: none;
}

:root {
	--bc-button__minimal: transparent;
	--bd-button__minimal: 5px;
	--sd-button__minimal: none;
}

:root {
	--bc-button__primary--hover: #509cff;
	--bt-button__primary--hover: none;
	--br-button__primary--hover: none;
	--bb-button__primary--hover: none;
	--bl-button__primary--hover: none;
	--sd-button__primary--hover: none;
	--co-button__primary--hover: #ffffff;
}

:root {
	--bc-button__primary: #509cff;
	--bt-button__primary: none;
	--br-button__primary: none;
	--bb-button__primary: none;
	--bl-button__primary: none;
	--bd-button__primary: 5px;
	--sd-button__primary: none;
	--co-button__primary: #ffffff;
}

:root {
	--bc-button__warning--hover: #fb5276;
	--bt-button__warning--hover: none;
	--br-button__warning--hover: none;
	--bb-button__warning--hover: none;
	--bl-button__warning--hover: none;
	--sd-button__warning--hover: none;
	--co-button__warning--hover: #ffffff;
}

:root {
	--bc-button__warning: #fb5276;
	--bt-button__warning: none;
	--br-button__warning: none;
	--bb-button__warning: none;
	--bl-button__warning: none;
	--bd-button__warning: 5px;
	--sd-button__warning: none;
	--co-button__warning: #ffffff;
}

:root {
	--bc-button__minimal--active: transparent;
	--sd-button__minimal--active: none;
	--co-button__minimal--active: #dc4c4f;
}

:root {
	--co-button__minimal-icon--active: #dc4c4f;
}

:root {
	--bt-button--default: none;
	--br-button--default: none;
	--bb-button--default: none;
	--bl-button--default: none;
	--bd-button--default: 5px;
	--fs-button--default: ;
}

:root {
	--bc-button--hover: transparent;
	--sd-button--hover: none;
	--co-button--hover: #0076e3;
}

:root {
	--bc-button: transparent;
	--sd-button: none;
	--co-button: #5d5f62;
	--ff-button: ;
}

:root {
	--co-callout__icon: ;
}

:root {
	--bc-callout__primary: ;
	--bt-callout__primary: ;
	--br-callout__primary: ;
	--bb-callout__primary: ;
	--bl-callout__primary: ;
	--bd-callout__primary: ;
	--fs-callout__primary: ;
}

:root {
	--bc-card: #f6f6f6;
	--bt-card: 1px solid #b5b5b5;
	--br-card: 1px solid #b5b5b5;
	--bb-card: 1px solid #b5b5b5;
	--bl-card: 1px solid #b5b5b5;
	--bd-card: 5px;
	--sd-card: 3px 3px 11px 3px rgba(0,0,0,0.1);
}

:root {
	--co-caret: #666;
}

:root {
	--bt-checkmark__mark--checked: 0px;
	--br-checkmark__mark--checked: 2px solid rgba(180, 180, 180, 1.00);
	--bb-checkmark__mark--checked: 2px solid rgba(180, 180, 180, 1.00);
	--bl-checkmark__mark--checked: 0px;
}

:root {
	--bc-checkmark--checked: rgba(255, 255, 255, 1.00);
	--bt-checkmark--checked: 1px solid #bfc3c5;
	--br-checkmark--checked: 1px solid #bfc3c5;
	--bb-checkmark--checked: 1px solid #bfc3c5;
	--bl-checkmark--checked: 1px solid #bfc3c5;
	--sd-checkmark--checked: none;
}

:root {
	--bc-checkmark: rgba(255, 255, 255, 1.00);
	--bt-checkmark: 1px solid #bfc3c5;
	--br-checkmark: 1px solid #bfc3c5;
	--bb-checkmark: 1px solid #bfc3c5;
	--bl-checkmark: 1px solid #bfc3c5;
	--bd-checkmark: 3px;
}

:root {
	--bc-code: rgba(255, 255, 255, 1.00);
	--bt-code: 1px solid rgba(221, 221, 221, 1.00);
	--br-code: 1px solid rgba(221, 221, 221, 1.00);
	--bb-code: 1px solid rgba(221, 221, 221, 1.00);
	--bl-code: 1px solid rgba(221, 221, 221, 1.00);
	--bd-code: 0px;
	--co-code: rgba(66, 66, 66, 1.00);
	--ff-code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;;
	--fs-code: 0.85rem;
}

:root {
	--co-codeblock__atom: rgb(0,199,190);
}

:root {
	--co-codeblock__attribute: rgba(186, 43, 163, 1.00);
}

:root {
	--co-codeblock__bracket: rgb(142,142,147);
}

:root {
	--bc-codeblock__button--hover: ;
	--bt-codeblock__button--hover: ;
	--br-codeblock__button--hover: ;
	--bb-codeblock__button--hover: ;
	--bl-codeblock__button--hover: ;
	--sd-codeblock__button--hover: ;
	--co-codeblock__button--hover: #0076e3;
}

:root {
	--bc-codeblock__button: ;
	--bt-codeblock__button: ;
	--br-codeblock__button: ;
	--bb-codeblock__button: ;
	--bl-codeblock__button: ;
	--bd-codeblock__button: ;
	--sd-codeblock__button: ;
	--co-codeblock__button: #5d5f62;
}

:root {
	--co-codeblock__builtin: rgba(0, 135, 178, 1.00);
}

:root {
	--co-codeblock__code: rgba(84, 84, 84, 1.00);
	--ff-codeblock__code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;;
	--fs-codeblock__code: 0.8rem;
}

:root {
	--co-codeblock__comment: rgba(150, 150, 150, 1.00);
}

:root {
	--bc-codeblock__container: rgba(255, 255, 255, 1.00);
	--bt-codeblock__container: 1px solid rgba(221, 221, 221, 1.00);
	--br-codeblock__container: 1px solid rgba(221, 221, 221, 1.00);
	--bb-codeblock__container: 1px solid rgba(221, 221, 221, 1.00);
	--bl-codeblock__container: 1px solid rgba(221, 221, 221, 1.00);
	--bd-codeblock__container: 5px;
	--co-codeblock__container: rgb(142,142,147);
}

:root {
	--br-codeblock__cursor: 1px solid #5c9df5;
	--bl-codeblock__cursor: ;
}

:root {
	--co-codeblock__def: rgb(0,122,255);
}

:root {
	--co-codeblock__error: rgb(255,59,48);
}

:root {
	--bc-codeblock__gutters: #f5f5f7;
	--bt-codeblock__gutters: none;
	--br-codeblock__gutters: none;
	--bb-codeblock__gutters: none;
	--bl-codeblock__gutters: none;
	--bd-codeblock__gutters: 5px;
}

:root {
	--ff-codeblock__gutter: ;
	--fs-codeblock__gutter: ;
	--ft-codeblock__gutter: ;
	--fw-codeblock__gutter: ;
}

:root {
	--co-codeblock__hr: rgb(142,142,147);
}

:root {
	--co-codeblock__invalidchar: rgb(255,59,48);
}

:root {
	--co-codeblock__keyword: rgba(0, 135, 178, 1.00);
}

:root {
	--co-codeblock__link: rgb(85,190,240);
}

:root {
	--co-codeblock__matchingbracket: rgb(40,205,65);
}

:root {
	--co-codeblock__meta: rgb(142,142,147);
}

:root {
	--co-codeblock__nonmatchingbracket: rgb(255,59,48);
}

:root {
	--co-codeblock__number: rgba(0, 135, 178, 1.00);
}

:root {
	--co-codeblock__operator: ;
}

:root {
	--co-codeblock__qualifier: rgb(142,142,147);
}

:root {
	--bc-codeblock__searching: ;
}

:root {
	--bc-codeblock__selected--focused: #c3d8ff;
}

:root {
	--bc-codeblock__selected: #dbdbdb;
}

:root {
	--co-codeblock__string: rgba(222, 79, 0, 1.00);
}

:root {
	--co-codeblock__string-2: rgba(222, 79, 0, 1.00);
}

:root {
	--co-codeblock__tag: rgb(40,205,65);
}

:root {
	--co-codeblock__type: rgb(40,205,65);
}

:root {
	--co-codeblock__variable-2: rgb(85,190,240);
}

:root {
	--bc-control--hover-checked: #0161be;
	--sd-control--hover-checked: none;
}

:root {
	--bc-control--checked: #0161be;
}

:root {
	--bc-control--hover: #b1b6bc;
}

:root {
	--bc-control: #b1b6bc;
}

:root {
	--bc-datepicker__day--hover: #0064e0;
	--bd-datepicker__day--hover: 2px;
	--co-datepicker__day--hover: #ffffff;
}

:root {
	--bc-datepicker__nav-button--hover: #0064e0;
	--bt-datepicker__nav-button--hover: none;
	--br-datepicker__nav-button--hover: none;
	--bb-datepicker__nav-button--hover: none;
	--bl-datepicker__nav-button--hover: none;
	--bd-datepicker__nav-button--hover: 2px;
}

:root {
	--co-datepicker__nav-button--hover: #ffffff;
}

:root {
	--bc-datepicker__nav-button: transparent;
	--bt-datepicker__nav-button: none;
	--br-datepicker__nav-button: none;
	--bb-datepicker__nav-button: none;
	--bl-datepicker__nav-button: none;
	--bd-datepicker__nav-button: 2px;
}

:root {
	--co-datepicker__nav-button: #121417;
}

:root {
	--bc-datepicker__outside--hover: transparent;
}

:root {
	--bc-datepicker__select--hover: #0064e0;
	--co-datepicker__select--hover: #ffffff;
}

:root {
	--co-datepicker__select: #121417;
}

:root {
	--co-datepicker__select-icon--hover: #ffffff;
}

:root {
	--co-datepicker__select-icon: #121417;
}

:root {
	--bc-datepicker__today: transparent;
	--bt-datepicker__today: none;
	--br-datepicker__today: none;
	--bb-datepicker__today: none;
	--bl-datepicker__today: none;
	--co-datepicker__today: #0064e0;
	--fw-datepicker__today: bold;
}

:root {
	--co-datepicker__weekdays: #666666;
}

:root {
	--br-datepicker__weeknumber: 1px solid #f0f0f0;
	--co-datepicker__weeknumber: #666666;
	--ff-datepicker__weeknumber: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-datepicker__weeknumber: 1rem;
}

:root {
	--bc-datepicker: transparent;
	--bt-datepicker: none;
	--br-datepicker: none;
	--bb-datepicker: none;
	--bl-datepicker: none;
	--bd-datepicker: 5px;
	--co-datepicker: #121417;
	--ff-datepicker: ;
}

:root {
	--co-dialog__heading: #121417;
	--fs-dialog__heading: ;
	--fw-dialog__heading: ;
}

:root {
	--co-dialog__span: #6666666;
}

:root {
	--bc-dialog__upload-button: #509cff;
	--bt-dialog__upload-button: none;
	--br-dialog__upload-button: none;
	--bb-dialog__upload-button: none;
	--bl-dialog__upload-button: none;
	--bd-dialog__upload-button: 5px;
	--sd-dialog__upload-button: none;
	--co-dialog__upload-button: #ffffff;
}

:root {
	--bc-dialog__upload-input: #c9c9c9;
	--bt-dialog__upload-input: none;
	--br-dialog__upload-input: none;
	--bb-dialog__upload-input: none;
	--bl-dialog__upload-input: none;
	--bd-dialog__upload-input: 5px;
	--sd-dialog__upload-input: none;
	--co-dialog__upload-input: #ffffff;
}

:root {
	--ff-div: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-div: 13px;
}

:root {
	--bc-dropbar: #b5b9bd;
}

:root {
	--bc-elevation__container: #ececec;
	--bt-elevation__container: 1px solid #c9c9c9;
	--br-elevation__container: 1px solid #c9c9c9;
	--bb-elevation__container: 1px solid #c9c9c9;
	--bl-elevation__container: 1px solid #c9c9c9;
	--bd-elevation__container: 8px;
	--sd-elevation__container: 3px 3px 11px 3px rgba(0,0,0,0.1);
}

:root {
	--co-elevation__create-block--selected: #ffffff;
}

:root {
	--co-elevation__create-block: #a8a8a9;
}

:root {
	--bc-elevation__item--selected: #0064e0;
	--bt-elevation__item--selected: none;
	--br-elevation__item--selected: none;
	--bb-elevation__item--selected: none;
	--bl-elevation__item--selected: none;
	--bd-elevation__item--selected: 5px;
	--co-elevation__item--selected: #ffffff;
}

:root {
	--bt-elevation__item: none;
	--br-elevation__item: none;
	--bb-elevation__item: none;
	--bl-elevation__item: none;
	--co-elevation__item: #000000;
	--ff-elevation__item: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
}

:root {
	--co-elevation__item-icon--selected: #ffffff;
}

:root {
	--co-elevation__item-icon: #a8a8a9;
}

:root {
	--co-elevation__item-keyprompt--selected: #ffffff;
}

:root {
	--co-elevation__item-keyprompt: #a8a8a9;
	--fs-elevation__item-keyprompt: 0.8rem;
	--op-elevation__item-keyprompt: 1;
}

:root {
	--co-elevation__search-block: #a8a8a9;
}

:root {
	--bc-embed__container-10: #d7d7d7;
	--bt-embed__container-10: none;
	--br-embed__container-10: none;
	--bb-embed__container-10: none;
	--bl-embed__container-10: none;
	--bd-embed__container-10: 5px;
}

:root {
	--bc-embed__container-11: #f5f5f7;
	--bt-embed__container-11: none;
	--br-embed__container-11: none;
	--bb-embed__container-11: none;
	--bl-embed__container-11: none;
	--bd-embed__container-11: 5px;
}

:root {
	--bc-embed__container-2: #f3f3f3;
	--bt-embed__container-2: none;
	--br-embed__container-2: none;
	--bb-embed__container-2: none;
	--bl-embed__container-2: none;
	--bd-embed__container-2: 5px;
}

:root {
	--bc-embed__container-3: #f0f0f0;
	--bt-embed__container-3: none;
	--br-embed__container-3: none;
	--bb-embed__container-3: none;
	--bl-embed__container-3: none;
	--bd-embed__container-3: 5px;
}

:root {
	--bc-embed__container-4: #e8e8e8;
	--bt-embed__container-4: none;
	--br-embed__container-4: none;
	--bb-embed__container-4: none;
	--bl-embed__container-4: none;
	--bd-embed__container-4: 5px;
}

:root {
	--bc-embed__container-5: #d7d7d7;
	--bt-embed__container-5: none;
	--br-embed__container-5: none;
	--bb-embed__container-5: none;
	--bl-embed__container-5: none;
	--bd-embed__container-5: 5px;
}

:root {
	--bc-embed__container-6: #f5f5f7;
	--bt-embed__container-6: none;
	--br-embed__container-6: none;
	--bb-embed__container-6: none;
	--bl-embed__container-6: none;
	--bd-embed__container-6: 5px;
}

:root {
	--bc-embed__container-7: #f3f3f3;
	--bt-embed__container-7: none;
	--br-embed__container-7: none;
	--bb-embed__container-7: none;
	--bl-embed__container-7: none;
	--bd-embed__container-7: 5px;
}

:root {
	--bc-embed__container-8: #f0f0f0;
	--bt-embed__container-8: none;
	--br-embed__container-8: none;
	--bb-embed__container-8: none;
	--bl-embed__container-8: none;
	--bd-embed__container-8: 5px;
}

:root {
	--bc-embed__container-9: #e8e8e8;
	--bt-embed__container-9: none;
	--br-embed__container-9: none;
	--bb-embed__container-9: none;
	--bl-embed__container-9: none;
	--bd-embed__container-9: 5px;
}

:root {
	--bc-embed: #f5f5f7;
	--bt-embed: none;
	--br-embed: none;
	--bb-embed: none;
	--bl-embed: none;
	--bd-embed: 5px;
}

:root {
	--bc-embed-page__margin: #eef0f4;
	--bl-embed-page__margin: 1px solid #aeb2b8;
}

:root {
	--bt-embed-page__reference-main: 1px solid #e6e8ec;
}

:root {
	--fs-embed-page__title: 1rem;
}

:root {
	--bc-embed-page: #ebecec;
	--bt-embed-page: none;
	--br-embed-page: none;
	--bb-embed-page: none;
	--bl-embed-page: none;
	--bd-embed-page: 5px;
}

:root {
	--bc-emoji-mart__category-label: #ececec;
}

:root {
	--bc-emoji-mart: transparent;
	--bt-emoji-mart: none;
	--br-emoji-mart: none;
	--bb-emoji-mart: none;
	--bl-emoji-mart: none;
	--bd-emoji-mart: 0px;
	--co-emoji-mart: #000000;
	--ff-emoji-mart: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-emoji-mart: 1rem;
}

:root {
	--bc-encrypted__button: #b9bdc4;
	--bt-encrypted__button: none;
	--br-encrypted__button: none;
	--bb-encrypted__button: none;
	--bl-encrypted__button: none;
	--co-encrypted__button: #ffffff;
}

:root {
	--bc-encrypted__button: #b9bdc4;
	--bt-encrypted__button: none;
	--br-encrypted__button: none;
	--bb-encrypted__button: none;
	--bl-encrypted__button: none;
	--bd-encrypted__button: 5px;
	--co-encrypted__button: #ffffff;
	--fs-encrypted__button: 1rem;
}

:root {
	--bc-encrypted__form: ;
	--bt-encrypted__form: ;
	--br-encrypted__form: ;
	--bb-encrypted__form: ;
	--bl-encrypted__form: ;
	--bd-encrypted__form: ;
}

:root {
	--bc-encrypted__input--focus: transparent;
	--bt-encrypted__input--focus: none;
	--br-encrypted__input--focus: none;
	--bb-encrypted__input--focus: none;
	--bl-encrypted__input--focus: none;
}

:root {
	--bc-encrypted__input: transparent;
	--bt-encrypted__input: none;
	--br-encrypted__input: none;
	--bb-encrypted__input: 1px solid #ebecec;
	--bl-encrypted__input: none;
	--bd-encrypted__input: 5px;
	--co-encrypted__input: #202128;
	--fs-encrypted__input: 1rem;
}

:root {
	--co-encrypted__label: ;
	--fs-encrypted__label: 1rem;
	--fw-encrypted__label: 500;
}

:root {
	--bc-encrypted: ;
	--bt-encrypted: ;
	--br-encrypted: ;
	--bb-encrypted: ;
	--bl-encrypted: ;
	--bd-encrypted: ;
	--co-encrypted: ;
	--fs-encrypted: 1rem;
	--fw-encrypted: 400;
}

:root {
	--bc-find-or-create__menu-item--selected: #0064e0;
	--bt-find-or-create__menu-item--selected: none;
	--br-find-or-create__menu-item--selected: none;
	--bb-find-or-create__menu-item--selected: none;
	--bl-find-or-create__menu-item--selected: none;
	--bd-find-or-create__menu-item--selected: 3px;
}

:root {
	--co-find-or-create__menu-item--selected: #ffffff;
}

:root {
	--bt-find-or-create__menu-item: none;
	--br-find-or-create__menu-item: none;
	--bb-find-or-create__menu-item: none;
	--bl-find-or-create__menu-item: none;
}

:root {
	--co-find-or-create__new-page--selected: #ffffff;
}

:root {
	--co-find-or-create__new-page: #4abd5d;
}

:root {
	--co-find-or-create__recent: #95999d;
}

:root {
	--co-find-or-create__search-list-item: #000000;
}

:root {
	--co-find-or-create__search-list-item-title: #000000;
	--fs-find-or-create__search-list-item-title: 1rem;
}

:root {
	--co-graph-dropdown__a--hover: #272727;
	--td-graph-dropdown__a--hover: ;
}

:root {
	--co-graph-dropdown__a: #272727;
	--td-graph-dropdown__a: none;
}

:root {
	--co-graph-dropdown__expand-icon--hover: #272727;
}

:root {
	--co-graph-dropdown__expand-icon: #272727;
}

:root {
	--co-graph-dropdown__menu-item: #272727;
	--td-graph-dropdown__menu-item: none;
}

:root {
	--co-graph-dropdown__menu-title: #abacac;
	--fs-graph-dropdown__menu-title: 12px;
	--ft-graph-dropdown__menu-title: normal;
	--fw-graph-dropdown__menu-title: normal;
	--tt-graph-dropdown__menu-title: uppercase;
}

:root {
	--bc-graph-dropdown__setting--hover: #0064e0;
}

:root {
	--co-graph-dropdown__setting--hover: #ffffff;
}

:root {
	--bc-graph-dropdown__setting: transparent;
	--co-graph-dropdown__setting: #272727;
	--fs-graph-dropdown__setting: ;
}

:root {
	--co-graph-dropdown__setting-icon--hover: #ffffff;
	--td-graph-dropdown__setting-icon--hover: none;
}

:root {
	--fs-graph-dropdown__sign-out: ;
	--fw-graph-dropdown__sign-out: ;
	--op-graph-dropdown__sign-out: ;
}

:root {
	--sd-graph-dropdown: none;
	--fs-graph-dropdown: ;
	--fw-graph-dropdown: ;
}

:root {
	--bc-help__categories--hover: #0064e0;
	--bd-help__categories--hover: 5px;
	--co-help__categories--hover: #ffffff;
}

:root {
	--bc-help__categories--selected: #0064e0;
	--bd-help__categories--selected: 5px;
	--co-help__categories--selected: #ffffff;
}

:root {
	--co-help__categories: #5d5f62;
}

:root {
	--co-help__category-name: #5d5f62;
	--fs-help__category-name: 1rem;
	--ft-help__category-name: normal;
	--fw-help__category-name: normal;
	--tt-help__category-name: uppercase;
}

:root {
	--co-help__component-description: #95999d;
}

:root {
	--bc-help__component-notation: #f9fafa;
	--co-help__component-notation: #272727;
	--fs-help__component-notation: 1rem;
}

:root {
	--co-help__component-title: #272727;
	--fs-help__component-title: ;
	--fw-help__component-title: ;
}

:root {
	--co-help__function-name: #272727;
	--fs-help__function-name: 1rem;
	--fw-help__function-name: 500;
}

:root {
	--co-help__help-version: #95999d;
	--fs-help__help-version: 12px;
	--fw-help__help-version: normal;
}

:root {
	--bc-help__icon-container: transparent;
	--bt-help__icon-container: none;
	--br-help__icon-container: none;
	--bb-help__icon-container: none;
	--bl-help__icon-container: none;
}

:root {
	--bc-help__input--focus: transparent;
	--bt-help__input--focus: none;
	--br-help__input--focus: none;
	--bb-help__input--focus: none;
	--bl-help__input--focus: none;
	--bd-help__input--focus: 5px;
}

:root {
	--bc-help__input: transparent;
	--bt-help__input: none;
	--br-help__input: none;
	--bb-help__input: none;
	--bl-help__input: none;
	--bd-help__input: 5px;
}

:root {
	--co-help__markdown-md: #5d5f62;
	--fs-help__markdown-md: 12px;
	--fw-help__markdown-md: normal;
	--op-help__markdown-md: 1;
}

:root {
	--co-help__markdown-title: #272727;
	--fs-help__markdown-title: 1rem;
	--fw-help__markdown-title: 500;
}

:root {
	--bc-help__resource--hover: transparent;
}

:root {
	--co-help__resource-description: #5d5f62;
	--fs-help__resource-description: 1rem;
	--fw-help__resource-description: normal;
}

:root {
	--bc-help__resource-icon: transparent;
	--co-help__resource-icon: #5d5f62;
}

:root {
	--co-help__resource-title: #272727;
	--fs-help__resource-title: 1rem;
	--fw-help__resource-title: bold;
}

:root {
	--co-help__title: #272727;
	--fs-help__title: 16px;
}

:root {
	--bc-highlight: #d2ffa3;
	--co-highlight: ;
}

:root {
	--bt-hr: 1px solid #e6e8eb;
	--br-hr: none;
	--bb-hr: none;
	--bl-hr: none;
}

:root {
	--bc-html__select--disabled: transparent;
	--sd-html__select--disabled: ;
	--co-html__select--disabled: #d7d7d7;
}

:root {
	--bc-html__select--hover: #0064e0;
	--sd-html__select--hover: none;
	--co-html__select--hover: #ffffff;
	--td-html__select--hover: ;
}

:root {
	--bc-html__select: transparent;
	--sd-html__select: none;
	--co-html__select: #272727;
	--ff-html__select: ;
	--fs-html__select: ;
}

:root {
	--co-html__select-icon: #272727;
}

:root {
	--bc-inline-references: #f5f6f8;
}

:root {
	--bd-input__search: 5px;
}

:root {
	--co-input__search-icon: #a8a9a8;
}

:root {
	--co-input__search-placeholder: #bdbdbd;
	--ff-input__search-placeholder: ;
}

:root {
	--bc-input--focus: #fff;
	--bt-input--focus: 1px solid #7fabd9;
	--br-input--focus: 1px solid #7fabd9;
	--bb-input--focus: 1px solid #7fabd9;
	--bl-input--focus: 1px solid #7fabd9;
	--bd-input--focus: 5px;
	--sd-input--focus: none;
}

:root {
	--bc-input: #fff;
	--bt-input: 1px solid #cacaca;
	--br-input: 1px solid #cacaca;
	--bb-input: 1px solid #cacaca;
	--bl-input: 1px solid #cacaca;
	--bd-input: 5px;
	--sd-input: none;
	--co-input: #333333;
	--ff-input: ;
	--fs-input: 1rem;
	--fw-input: normal;
}

:root {
	--bc-install-button--hover: #509cfe;
	--bt-install-button--hover: none;
	--br-install-button--hover: none;
	--bb-install-button--hover: none;
	--bl-install-button--hover: none;
	--bd-install-button--hover: 3px;
	--co-install-button--hover: #ffffff;
}

:root {
	--bc-install-button: #b8bdc4;
	--bt-install-button: none;
	--br-install-button: none;
	--bb-install-button: none;
	--bl-install-button: none;
	--bd-install-button: 3px;
	--co-install-button: #ffffff;
}

:root {
	--bc-kanban__card: #fafafa;
	--bt-kanban__card: none;
	--br-kanban__card: none;
	--bb-kanban__card: none;
	--bl-kanban__card: none;
	--bd-kanban__card: 5px;
}

:root {
	--bc-kanban__column: #dee0e5;
}

:root {
	--bc-kanban__dropbar: #8b8d96;
}

:root {
	--bb-kanban__title: 1px solid #fafafa;
}

:root {
	--bc-kanban: #fafafa;
}

:root {
	--bc-left-sidebar__container: #2d3234;
	--br-left-sidebar__container: none;
}

:root {
	--co-left-sidebar__db-title--hover: #b8b9ba;
}

:root {
	--co-left-sidebar__db-title: #b8b9ba;
	--ff-left-sidebar__db-title: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-left-sidebar__db-title: 14px;
	--fw-left-sidebar__db-title: 400;
	--tt-left-sidebar__db-title: ;
}

:root {
	--bc-left-sidebar__hr: #fafafa;
}

:root {
	--co-left-sidebar__icon--hover: #ffffff;
}

:root {
	--co-left-sidebar__icon: #9fa0a0;
	--fs-left-sidebar__icon: 14px;
}

:root {
	--bc-left-sidebar__logo--hover: transparent;
	--td-left-sidebar__logo--hover: none;
}

:root {
	--td-left-sidebar__logo: none;
}

:root {
	--co-left-sidebar__logo-text: #b8b9ba;
}

:root {
	--bc-left-sidebar__toprow: #2d3234;
}

:root {
	--bc-left-sidebar__toprow--hover: #2d3234;
}

:root {
	--bb-level1: none;
	--co-level1: rgba(66, 66, 66, 1.00);
	--ff-level1: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-level1: 20px;
	--ft-level1: ;
	--fw-level1: 500;
	--tt-level1: normal;
}

:root {
	--bb-level2: none;
	--co-level2: rgba(66, 66, 66, 1.00);
	--ff-level2: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-level2: 18px;
	--ft-level2: ;
	--fw-level2: 500;
	--tt-level2: normal;
}

:root {
	--bb-level3: none;
	--co-level3: rgba(66, 66, 66, 1.00);
	--ff-level3: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-level3: 15px;
	--ft-level3: ;
	--fw-level3: 500;
	--tt-level3: normal;
}

:root {
	--co-log-page__h1: rgba(51, 51, 51, 1.00);
	--ff-log-page__h1: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-log-page__h1: 20px;
	--ft-log-page__h1: ;
	--fw-log-page__h1: 500;
	--tt-log-page__h1: ;
}

:root {
	--co-log-page__preview: rgba(136, 136, 136, 1.00);
}

:root {
	--bt-log-page: 1px solid #e8e9eb;
}

:root {
	--bc-logbutton--hover: #dc4c4f;
	--bt-logbutton--hover: none;
	--br-logbutton--hover: none;
	--bb-logbutton--hover: none;
	--bl-logbutton--hover: none;
	--co-logbutton--hover: #ffffff;
	--td-logbutton--hover: ;
}

:root {
	--bd-logbutton: 6px;
	--co-logbutton: #b8b9ba;
	--ff-logbutton: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-logbutton: 1rem;
	--fw-logbutton: 400;
	--tt-logbutton: normal;
}

:root {
	--bc-main: rgba(251,251,251,1.0);
}

:root {
	--co-main: rgba(66, 66, 66, 1.00);
	--ff-main: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-main: 1rem;
	--fw-main: normal;
}

:root {
	--bc-menu__button--active: #509cfe;
	--bt-menu__button--active: 1px solid #509cfe;
	--br-menu__button--active: 1px solid #509cfe;
	--bb-menu__button--active: 1px solid #509cfe;
	--bl-menu__button--active: 1px solid #509cfe;
	--bd-menu__button--active: 3px;
	--co-menu__button--active: #ffffff;
}

:root {
	--bc-menu__button--hover: transparent;
	--bt-menu__button--hover: 1px solid #b5b9bd;
	--br-menu__button--hover: 1px solid #b5b9bd;
	--bb-menu__button--hover: 1px solid #b5b9bd;
	--bl-menu__button--hover: 1px solid #b5b9bd;
	--bd-menu__button--hover: 3px;
	--co-menu__button--hover: #b5b9bd;
}

:root {
	--bc-menu__button: transparent;
	--bt-menu__button: 1px solid transparent;
	--br-menu__button: 1px solid transparent;
	--bb-menu__button: 1px solid transparent;
	--bl-menu__button: 1px solid transparent;
	--bd-menu__button: 3px;
	--co-menu__button: #b5b9bd;
}

:root {
	--co-menu__button-icon--active: #ffffff;
}

:root {
	--co-menu__button-icon--hover: #abacac;
}

:root {
	--co-menu__button-icon: #b5b9bd;
}

:root {
	--bc-menu__item--hover: #0064e0;
	--bt-menu__item--hover: none;
	--br-menu__item--hover: none;
	--bb-menu__item--hover: none;
	--bl-menu__item--hover: none;
	--bd-menu__item--hover: 5px;
	--co-menu__item--hover: #ffffff;
}

:root {
	--bt-menu__item: none;
	--br-menu__item: none;
	--bb-menu__item: none;
	--bl-menu__item: none;
	--bd-menu__item: 5px;
	--co-menu__item: #121417;
	--fw-menu__item: ;
}

:root {
	--co-menu__item-icon--hover: #ffffff;
}

:root {
	--co-menu__item-icon: #121417;
}

:root {
	--co-menu__item-label--hover: #ffffff;
}

:root {
	--co-menu__item-label: #abacac;
	--td-menu__item-label: none;
}

:root {
	--co-menu__item-primary: #121417;
}

:root {
	--bc-menu__menu-item--active: #0064e0;
	--co-menu__menu-item--active: #ffffff;
}

:root {
	--fl-menu__svg-icon--hover: #ffffff;
}

:root {
	--fl-menu__svg-icon: #121417;
}

:root {
	--bc-menu: #ececec;
	--bt-menu: none;
	--br-menu: none;
	--bb-menu: none;
	--bl-menu: none;
	--bd-menu: 5px;
	--co-menu: #121417;
}

:root {
	--co-mobile-bar__icon: #121417;
}

:root {
	--bc-mobile-bar: #f9fafb;
}

:root {
	--bc-modal-dialog: #ececec;
	--bt-modal-dialog: 1px solid #cacaca;
	--br-modal-dialog: 1px solid #cacaca;
	--bb-modal-dialog: 1px solid #cacaca;
	--bl-modal-dialog: 1px solid #cacaca;
	--bd-modal-dialog: 5px;
}

:root {
	--br-multibar--hover: 3px solid #c1c2c2;
}

:root {
	--br-multibar: 1px solid #dddede;
}

:root {
	--co-page__link--hover: rgba(221, 76, 79, 1.00);
	--td-page__link--hover: none;
}

:root {
	--co-page__link: rgba(221, 76, 79, 1.00);
	--td-page__link: none;
}

:root {
	--co-page__title: rgba(51, 51, 51, 1.00);
	--ff-page__title: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-page__title: 20px;
	--ft-page__title: ;
	--fw-page__title: 500;
	--tt-page__title: ;
}

:root {
	--bc-pomodoro--break: #4cbd5e;
	--bt-pomodoro--break: none;
	--br-pomodoro--break: none;
	--bb-pomodoro--break: none;
	--bl-pomodoro--break: none;
	--bd-pomodoro--break: 5px;
	--sd-pomodoro--break: ;
	--co-pomodoro--break: #ffffff;
}

:root {
	--bc-pomodoro--running: #ff2f69;
	--bt-pomodoro--running: none;
	--br-pomodoro--running: none;
	--bb-pomodoro--running: none;
	--bl-pomodoro--running: none;
	--bd-pomodoro--running: 5px;
	--sd-pomodoro--running: ;
	--co-pomodoro--running: #ffffff;
}

:root {
	--bc-pomodoro: #b5b9bd;
	--bt-pomodoro: none;
	--br-pomodoro: none;
	--bb-pomodoro: none;
	--bl-pomodoro: none;
	--bd-pomodoro: 5px;
	--sd-pomodoro: ;
	--co-pomodoro: #ffffff;
}

:root {
	--fl-popover__arrow-border: var(--cl-gray-400);
}

:root {
	--fl-popover__arrow-fill: var(--cl-gray-100);
}

:root {
	--sd-popover__arrow-shadow: none;
}

:root {
	--bc-popover__button--hover: transparent;
	--bt-popover__button--hover: 1px solid #b5b9bd;
	--br-popover__button--hover: 1px solid #b5b9bd;
	--bb-popover__button--hover: 1px solid #b5b9bd;
	--bl-popover__button--hover: 1px solid #b5b9bd;
	--co-popover__button--hover: ;
}

:root {
	--bc-popover__button: transparent;
	--bt-popover__button: 1px solid transparent;
	--br-popover__button: 1px solid transparent;
	--bb-popover__button: 1px solid transparent;
	--bl-popover__button: 1px solid transparent;
	--bd-popover__button: 5px;
	--co-popover__button: ;
}

:root {
	--bc-popover__content: #ececec;
	--bt-popover__content: 1px solid #cbcbcb;
	--br-popover__content: 1px solid #cbcbcb;
	--bb-popover__content: 1px solid #cbcbcb;
	--bl-popover__content: 1px solid #cbcbcb;
	--bd-popover__content: 5px;
	--co-popover__content: #232323;
}

:root {
	--co-popover__description: #abacac;
}

:root {
	--bd-popover: 5px;
	--sd-popover: 3px 3px 11px 3px rgba(0,0,0,0.1);
}

:root {
	--bc-query__content: transparent;
}

:root {
	--bc-query__title: transparent;
	--co-query__title: var(--cl-gray-500);
}

:root {
	--bc-query: #f5f6f8;
	--bt-query: none;
	--br-query: none;
	--bb-query: none;
	--bl-query: none;
	--bd-query: 5px;
	--sd-query: 0px 0px 5px 3px rgba(0,0,0,0.1);
}

:root {
	--bc-quote: transparent;
	--bt-quote: none;
	--br-quote: none;
	--bb-quote: none;
	--bl-quote: 2px solid #d5555f;
	--bd-quote: ;
	--co-quote: #121418;
	--ff-quote: ;
	--fs-quote: 14px;
	--ft-quote: ;
	--fw-quote: ;
}

:root {
	--bc-ref-count--active: ;
	--co-ref-count--active: var(--cl-gray-900);
}

:root {
	--co-reference__item--hover: ;
	--td-reference__item--hover: ;
}

:root {
	--bc-reference__item: transparent;
	--bt-reference__item: none;
	--br-reference__item: none;
	--bb-reference__item: none;
	--bl-reference__item: none;
	--bd-reference__item: 5px;
}

:root {
	--bb-reference__linked-title: ;
	--co-reference__linked-title: #666666;
	--ff-reference__linked-title: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-reference__linked-title: 1rem;
	--ft-reference__linked-title: normal;
	--fw-reference__linked-title: 500;
	--tt-reference__linked-title: normal;
}

:root {
	--bc-reference__nested-refs: #f9fafb;
}

:root {
	--td-reference__page-title--hover: none;
}

:root {
	--co-reference__page-title: #121418;
	--fs-reference__page-title: 1rem;
	--fw-reference__page-title: ;
	--td-reference__page-title: none;
}

:root {
	--co-reference__unlinked-title--hover: #666666;
	--td-reference__unlinked-title--hover: ;
}

:root {
	--bb-reference__unlinked-title: ;
	--co-reference__unlinked-title: #666666;
	--ff-reference__unlinked-title: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-reference__unlinked-title: 1rem;
	--ft-reference__unlinked-title: normal;
	--fw-reference__unlinked-title: 500;
	--tt-reference__unlinked-title: normal;
}

:root {
	--bt-right-sidebar__bullet-closed: 4px solid #c1c2c2;
	--br-right-sidebar__bullet-closed: 4px solid #c1c2c2;
	--bb-right-sidebar__bullet-closed: 4px solid #c1c2c2;
	--bl-right-sidebar__bullet-closed: 4px solid #c1c2c2;
}

:root {
	--bc-right-sidebar__content: #fafafa;
}

:root {
	--bc-right-sidebar__container: #fafafa;
	--bl-right-sidebar__container: 1px solid #dedede;
}

:root {
	--co-right-sidebar__h1: #121418;
	--fs-right-sidebar__h1: 1rem;
	--fw-right-sidebar__h1: 600;
}

:root {
	--bc-right-sidebar__toprow: #fafafa;
}

:root {
	--co-right-sidebar__window-title: #666;
}

:root {
	--bb-right-sidebar__window: transparent;
}

:root {
	--bc-roam-css__button--active-hover: #f2d023;
	--bt-roam-css__button--active-hover: none;
	--br-roam-css__button--active-hover: none;
	--bb-roam-css__button--active-hover: none;
	--bl-roam-css__button--active-hover: none;
	--bd-roam-css__button--active-hover: 5px;
	--co-roam-css__button--active-hover: #3c350b;
}

:root {
	--bc-roam-css__button--active: #f2d023;
	--bt-roam-css__button--active: none;
	--br-roam-css__button--active: none;
	--bb-roam-css__button--active: none;
	--bl-roam-css__button--active: none;
	--bd-roam-css__button--active: 5px;
	--co-roam-css__button--active: #3c350b;
}

:root {
	--bc-roam-css__button--inactive-hover: #b9bdc4;
	--bt-roam-css__button--inactive-hover: none;
	--br-roam-css__button--inactive-hover: none;
	--bb-roam-css__button--inactive-hover: none;
	--bl-roam-css__button--inactive-hover: none;
	--bd-roam-css__button--inactive-hover: 5px;
	--co-roam-css__button--inactive-hover: #ffffff;
}

:root {
	--bc-roam-css__button--inactive: #b9bdc4;
	--bt-roam-css__button--inactive: none;
	--br-roam-css__button--inactive: none;
	--bb-roam-css__button--inactive: none;
	--bl-roam-css__button--inactive: none;
	--bd-roam-css__button--inactive: 5px;
	--co-roam-css__button--inactive: #ffffff;
}

:root {
	--bc-roam-css__container-active: #f8e594;
	--bt-roam-css__container-active: none;
	--br-roam-css__container-active: none;
	--bb-roam-css__container-active: none;
	--bl-roam-css__container-active: none;
	--bd-roam-css__container-active: 5px;
	--co-roam-css__container-active: #121418;
}

:root {
	--bc-roam-css__container-inactive: #f5f6f8;
	--bt-roam-css__container-inactive: none;
	--br-roam-css__container-inactive: none;
	--bb-roam-css__container-inactive: none;
	--bl-roam-css__container-inactive: none;
	--bd-roam-css__container-inactive: 5px;
	--co-roam-css__container-inactive: #121418;
}

:root {
	--bc-roam-js__button--active-hover: #f2d023;
	--bt-roam-js__button--active-hover: none;
	--br-roam-js__button--active-hover: none;
	--bb-roam-js__button--active-hover: none;
	--bl-roam-js__button--active-hover: none;
	--bd-roam-js__button--active-hover: 5px;
	--co-roam-js__button--active-hover: #3c350b;
}

:root {
	--bc-roam-js__button--active: #f2d023;
	--bt-roam-js__button--active: none;
	--br-roam-js__button--active: none;
	--bb-roam-js__button--active: none;
	--bl-roam-js__button--active: none;
	--bd-roam-js__button--active: 5px;
	--co-roam-js__button--active: #3c350b;
}

:root {
	--bc-roam-js__button--inactive-hover: #b9bdc4;
	--bt-roam-js__button--inactive-hover: none;
	--br-roam-js__button--inactive-hover: none;
	--bb-roam-js__button--inactive-hover: none;
	--bl-roam-js__button--inactive-hover: none;
	--bd-roam-js__button--inactive-hover: 5px;
	--co-roam-js__button--inactive-hover: #ffffff;
}

:root {
	--bc-roam-js__button--inactive: #b9bdc4;
	--bt-roam-js__button--inactive: none;
	--br-roam-js__button--inactive: none;
	--bb-roam-js__button--inactive: none;
	--bl-roam-js__button--inactive: none;
	--bd-roam-js__button--inactive: 5px;
	--co-roam-js__button--inactive: #ffffff;
}

:root {
	--bc-roam-js__container-active: #f8e594;
	--bt-roam-js__container-active: none;
	--br-roam-js__container-active: none;
	--bb-roam-js__container-active: none;
	--bl-roam-js__container-active: none;
	--bd-roam-js__container-active: 5px;
	--co-roam-js__container-active: #121418;
}

:root {
	--bc-roam-js__container-inactive: #f5f6f8;
	--bt-roam-js__container-inactive: none;
	--br-roam-js__container-inactive: none;
	--bb-roam-js__container-inactive: none;
	--bl-roam-js__container-inactive: none;
	--bd-roam-js__container-inactive: 5px;
	--co-roam-js__container-inactive: #121418;
}

:root {
	--bc-roam42__cp-menu-item--selected: #0064e0;
	--bt-roam42__cp-menu-item--selected: none;
	--br-roam42__cp-menu-item--selected: none;
	--bb-roam42__cp-menu-item--selected: none;
	--bl-roam42__cp-menu-item--selected: none;
	--bd-roam42__cp-menu-item--selected: 5px;
}

:root {
	--bt-roam42__cp-menu-item: none;
	--br-roam42__cp-menu-item: none;
	--bb-roam42__cp-menu-item: none;
	--bl-roam42__cp-menu-item: none;
	--bd-roam42__cp-menu-item: 5px;
}

:root {
	--bc-roam42__cp-menu-item-active--hover: #0064e0;
	--bt-roam42__cp-menu-item-active--hover: none;
	--br-roam42__cp-menu-item-active--hover: none;
	--bb-roam42__cp-menu-item-active--hover: none;
	--bl-roam42__cp-menu-item-active--hover: none;
	--bd-roam42__cp-menu-item-active--hover: 5px;
}

:root {
	--bc-roam42__cp-menu-shortcut: ;
	--bd-roam42__cp-menu-shortcut: ;
	--co-roam42__cp-menu-shortcut: var(--cl-gray-500);
}

:root {
	--bc-roam42__jj-menu: var(--cl-white);
	--bt-roam42__jj-menu: 1px solid var(--cl-gray-100);
	--br-roam42__jj-menu: 1px solid var(--cl-gray-100);
	--bb-roam42__jj-menu: 1px solid var(--cl-gray-100);
	--bl-roam42__jj-menu: 1px solid var(--cl-gray-100);
	--bd-roam42__jj-menu: 0px;
}

:root {
	--bc-roam42__jj-menu-item--highlight: #0064e0;
	--bt-roam42__jj-menu-item--highlight: none;
	--br-roam42__jj-menu-item--highlight: none;
	--bb-roam42__jj-menu-item--highlight: none;
	--bl-roam42__jj-menu-item--highlight: none;
	--bd-roam42__jj-menu-item--highlight: 5px;
}

:root {
	--bc-roam42__jj-menu-item: transparent;
	--bt-roam42__jj-menu-item: none;
	--br-roam42__jj-menu-item: none;
	--bb-roam42__jj-menu-item: none;
	--bl-roam42__jj-menu-item: none;
	--bd-roam42__jj-menu-item: 5px;
}

:root {
	--bc-settings__auth-provider: #b9bdc4;
	--bt-settings__auth-provider: none;
	--br-settings__auth-provider: none;
	--bb-settings__auth-provider: none;
	--bl-settings__auth-provider: none;
	--bd-settings__auth-provider: 5px;
	--co-settings__auth-provider: #ffffff;
}

:root {
	--co-settings__button: #ffffff;
}

:root {
	--bd-settings__container: 5px;
}

:root {
	--bc-settings__container: transparent;
	--bt-settings__container: none;
	--br-settings__container: none;
	--bb-settings__container: none;
	--bl-settings__container: none;
	--co-settings__container: #373837;
}

:root {
	--co-settings__description: #969a9e;
}

:root {
	--co-settings__email-header: #2c2c2c;
	--td-settings__email-header: none;
}

:root {
	--co-settings__heading: #373837;
}

:root {
	--co-settings__input--placeholder: #90959e;
}

:root {
	--bc-settings__input--focus: #dbdde4;
	--bt-settings__input--focus: none;
	--br-settings__input--focus: none;
	--bb-settings__input--focus: none;
	--bl-settings__input--focus: none;
}

:root {
	--bc-settings__input: transparen;
	--bt-settings__input: none;
	--br-settings__input: none;
	--bb-settings__input: none;
	--bl-settings__input: none;
	--bd-settings__input: 5px;
	--co-settings__input: #373837;
}

:root {
	--co-settings__password-input--placeholder: #90959e;
}

:root {
	--bc-settings__password-input--focus: #dbdde4;
	--bt-settings__password-input--focus: none;
	--br-settings__password-input--focus: none;
	--bb-settings__password-input--focus: none;
	--bl-settings__password-input--focus: none;
}

:root {
	--bc-settings__password-input: transparent;
	--bt-settings__password-input: none;
	--br-settings__password-input: none;
	--bb-settings__password-input: none;
	--bl-settings__password-input: none;
	--bd-settings__password-input: 5px;
	--co-settings__password-input: #373837;
}

:root {
	--bc-settings__items--hover: transparent;
	--bt-settings__items--hover: none;
	--br-settings__items--hover: none;
	--bb-settings__items--hover: none;
	--bl-settings__items--hover: none;
	--co-settings__items--hover: #373837;
}

:root {
	--bc-settings__items--selected: #ebecec;
	--bt-settings__items--selected: none;
	--br-settings__items--selected: none;
	--bb-settings__items--selected: none;
	--bl-settings__items--selected: none;
	--co-settings__items--selected: #373837;
}

:root {
	--bc-settings__items: transparent;
	--bt-settings__items: none;
	--br-settings__items: none;
	--bb-settings__items: none;
	--bl-settings__items: none;
	--co-settings__items: #373837;
}

:root {
	--bc-settings__items-selected--before: ;
}

:root {
	--co-settings__filelist-item: #1d72d1;
}

:root {
	--bc-settings__hotkeys: #b5b9bf;
}

:root {
	--bt-settings__panel: ;
}

:root {
	--bc-settings__tab-list: #ffffff;
}

:root {
	--bc-settings__scrollbar: #7e7e7e;
	--bd-settings__scrollbar: 5px;
}

:root {
	--bc-settings__select-wrapper: #b9bdc4;
	--bt-settings__select-wrapper: none;
	--br-settings__select-wrapper: none;
	--bb-settings__select-wrapper: none;
	--bl-settings__select-wrapper: none;
	--bd-settings__select-wrapper: 5px;
}

:root {
	--bc-span--highlighted: rgba(211, 255, 164, 1.00);
}

:root {
	--co-starred__icon: ;
}

:root {
	--bc-starred__page--hover: transparent;
	--bt-starred__page--hover: none;
	--br-starred__page--hover: none;
	--bb-starred__page--hover: none;
	--bl-starred__page--hover: none;
	--co-starred__page--hover: #b8b9ba;
	--td-starred__page--hover: none;
}

:root {
	--bt-starred__page: none;
	--br-starred__page: none;
	--bb-starred__page: none;
	--bl-starred__page: none;
	--bd-starred__page: 10px;
	--co-starred__page: #b8b9ba;
	--ff-starred__page: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-starred__page: 14px;
	--ft-starred__page: ;
	--fw-starred__page: 400;
	--tt-starred__page: normal;
}

:root {
	--co-starred__title: #b8b9ba;
	--ff-starred__title: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-starred__title: 14px;
	--ft-starred__title: ;
	--fw-starred__title: 500;
	--tt-starred__title: lowercase;
}

:root {
	--bc-sync--saving-local: #ffd400;
}

:root {
	--bc-sync--saving-remote: #fb5276;
}

:root {
	--bc-sync--synced: #36a59a;
}

:root {
	--bc-table__header: transparent;
	--bt-table__header: none;
	--br-table__header: none;
	--bb-table__header: 1px solid #333;
	--bl-table__header: none;
	--co-table__header: #333;
	--fs-table__header: 12px;
	--fw-table__header: 600;
}

:root {
	--bc-table: transparent;
	--bt-table: none;
	--br-table: none;
	--bb-table: 1px solid #e6e6e6;
	--bl-table: none;
	--co-table: #666;
	--fs-table: 12px;
}

:root {
	--bc-tags--hover: #a6b0b2;
	--bt-tags--hover: none;
	--br-tags--hover: none;
	--bb-tags--hover: none;
	--bl-tags--hover: none;
	--bd-tags--hover: 20px;
	--co-tags--hover: #ffffff;
}

:root {
	--bc-tags: #a6b0b2;
	--bt-tags: none;
	--br-tags: none;
	--bb-tags: none;
	--bl-tags: none;
	--bd-tags: 20px;
	--co-tags: #ffffff;
	--ff-tags: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-tags: 1rem;
	--ft-tags: ;
	--fw-tags: 400;
	--td-tags: ;
	--tt-tags: none;
}

:root {
	--bc-textarea__selection: #b4d7ff;
}

:root {
	--bc-tooltip: #f2f3f5;
	--bt-tooltip: 1px solid #d5d5d5;
	--br-tooltip: 1px solid #d5d5d5;
	--bb-tooltip: 1px solid #d5d5d5;
	--bl-tooltip: 1px solid #d5d5d5;
	--bd-tooltip: 5px;
	--co-tooltip: ;
}

:root {
	--bc-topbar__container: #fbfbfb;
	--bt-topbar__container: none;
	--br-topbar__container: none;
	--bb-topbar__container: none;
	--bl-topbar__container: none;
	--bd-topbar__container: 0px;
	--sd-topbar__container: ;
}

:root {
	--bc-topbar-datepicker__day--hover: #0064e0;
	--bd-topbar-datepicker__day--hover: 2px;
	--co-topbar-datepicker__day--hover: #ffffff;
}

:root {
	--bc-topbar-datepicker__day--selected: #0064e0;
	--bd-topbar-datepicker__day--selected: 2px;
	--co-topbar-datepicker__day--selected: #ffffff;
}

:root {
	--co-topbar-datepicker__day: #1d1d1f;
}

:root {
	--bc-topbar-datepicker__day-selected--hover: #0064e0;
	--bd-topbar-datepicker__day-selected--hover: 2px;
}

:root {
	--co-topbar-datepicker__day-without-page: #1d1d1f;
}

:root {
	--bc-topbar-datepicker__nav-button--hover: #0064e0;
	--bt-topbar-datepicker__nav-button--hover: none;
	--br-topbar-datepicker__nav-button--hover: none;
	--bb-topbar-datepicker__nav-button--hover: none;
	--bl-topbar-datepicker__nav-button--hover: none;
	--bd-topbar-datepicker__nav-button--hover: 2px;
	--co-topbar-datepicker__nav-button--hover: #ffffff;
}

:root {
	--co-topbar-datepicker__nav-button--hover: #ffffff;
}

:root {
	--bc-topbar-datepicker__nav-button: transparent;
	--bt-topbar-datepicker__nav-button: none;
	--br-topbar-datepicker__nav-button: none;
	--bb-topbar-datepicker__nav-button: none;
	--bl-topbar-datepicker__nav-button: none;
	--bd-topbar-datepicker__nav-button: 2px;
}

:root {
	--co-topbar-datepicker__nav-button: #1d1d1f;
}

:root {
	--bc-topbar-datepicker__outside: transparent;
}

:root {
	--bc-topbar-datepicker__today--selected: #0064e0;
	--co-topbar-datepicker__today--selected: #ffffff;
}

:root {
	--co-topbar-datepicker__today: #0064e0;
	--fw-topbar-datepicker__today: bold;
}

:root {
	--bc-topbar-datepicker__today-selected--hover: #0064e0;
}

:root {
	--co-topbar-datepicker__weekdays: #666666;
}

:root {
	--br-topbar-datepicker__weeknumber: 1px solid #f0f0f0;
	--co-topbar-datepicker__weeknumber: #666666;
	--ff-topbar-datepicker__weeknumber: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-topbar-datepicker__weeknumber: 1rem;
}

:root {
	--bc-topbar-datepicker: transparent;
	--bt-topbar-datepicker: none;
	--br-topbar-datepicker: none;
	--bb-topbar-datepicker: none;
	--bl-topbar-datepicker: none;
	--bd-topbar-datepicker: 5px;
	--co-topbar-datepicker: #1d1d1f;
	--ff-topbar-datepicker: ;
}

:root {
	--bc-topbar-datepicker-html__select--hover: #0064e0;
	--co-topbar-datepicker-html__select--hover: #ffffff;
}

:root {
	--co-topbar-datepicker-html__select: #1d1d1f;
	--ff-topbar-datepicker-html__select: ;
	--fs-topbar-datepicker-html__select: ;
}

:root {
	--co-topbar-datepicker-html__select-icon--hover: #ffffff;
}

:root {
	--co-topbar-datepicker-html__select-icon: #1d1d1f;
}

:root {
	--bc-version__bullet: #c1c2c2;
}

:root {
	--bc-zoom__mask: #f9fafb;
}

:root {
	--co-zoom-item: #666666;
	--fs-zoom-item: 1rem;
}

:root {
	--co-zotero__h5: var(--cl-gray-900);
}

:root {
	--bc-zotero__page-menu: var(--cl-blue-50);
	--bt-zotero__page-menu: 1px solid var(--cl-blue-100);
	--br-zotero__page-menu: 1px solid var(--cl-blue-100);
	--bb-zotero__page-menu: 1px solid var(--cl-blue-100);
	--bl-zotero__page-menu: 1px solid var(--cl-blue-100);
	--bd-zotero__page-menu: 0px;
}

:root {
	--co-zotero__primary: var(--cl-green-500);
}

:root {
	--bc-zotero__sequence: var(--cl-gray-50);
	--br-zotero__sequence: 1px solid var(--cl-gray-100);
	--fs-zotero__sequence: ;
}

:root {
	--co-main__strikethrough: ;
}

