@import url('https://rcvd.github.io/roam-css-system/fonts/craft.css');
@import url('https://rcvd.github.io/roam-css-system/internal/colors-craft.css');
@import url('https://rcvd.github.io/roam-css-system/internal/roam-css-system.css');
@import url('https://rcvd.github.io/roam-css-system/internal/additional-fixes-craft_dark.css');


:root {
	--co-a--hover: #91def9;
	--td-a--hover: none;
}

:root {
	--co-a: #91def9;
	--td-a: none;
}

:root {
	--bb-alias--hover: 3px solid #4b7c8f;
	--co-alias--hover: #91def9;
	--td-alias--hover: none;
}

:root {
	--bb-alias: 3px solid #4b7c8f;
	--co-alias: #91def9;
	--td-alias: none;
}

:root {
	--bl-alias__tooltip-content-bq: none;
	--co-alias__tooltip-content-bq: #e9eaea;
}

:root {
	--co-alias__tooltip-external--hover: #e9eaea;
}

:root {
	--co-alias__tooltip-external: #e9eaea;
}

:root {
	--bc-allpages__checkbox: #222222;
	--bt-allpages__checkbox: 2px solid #767676;
	--br-allpages__checkbox: 2px solid #767676;
	--bb-allpages__checkbox: 2px solid #767676;
	--bl-allpages__checkbox: 2px solid #767676;
	--bd-allpages__checkbox: 3px;
	--sd-allpages__checkbox: none;
	--fs-allpages__checkbox: 1rem;
}

:root {
	--fs-allpages__checkbox-col: 1rem;
}

:root {
	--bc-allpages__clickable-pill: transparent;
	--bt-allpages__clickable-pill: none;
	--br-allpages__clickable-pill: none;
	--bb-allpages__clickable-pill: none;
	--bl-allpages__clickable-pill: none;
	--bd-allpages__clickable-pill: 0px;
	--co-allpages__clickable-pill: #9c9c9c;
	--fs-allpages__clickable-pill: 12px;
	--fw-allpages__clickable-pill: 400;
	--op-allpages__clickable-pill: 1;
}

:root {
	--bc-allpages__clickable-pill-1: transparent;
	--bt-allpages__clickable-pill-1: none;
	--br-allpages__clickable-pill-1: none;
	--bb-allpages__clickable-pill-1: none;
	--bl-allpages__clickable-pill-1: none;
	--co-allpages__clickable-pill-1: #9c9c9c;
	--op-allpages__clickable-pill-1: 1;
}

:root {
	--bc-allpages__clickable-pill-2: transparent;
	--bt-allpages__clickable-pill-2: none;
	--br-allpages__clickable-pill-2: none;
	--bb-allpages__clickable-pill-2: none;
	--bl-allpages__clickable-pill-2: none;
	--co-allpages__clickable-pill-2: #9c9c9c;
	--op-allpages__clickable-pill-2: 1;
}

:root {
	--bc-allpages__clickable-pill-3: transparent;
	--bt-allpages__clickable-pill-3: none;
	--br-allpages__clickable-pill-3: none;
	--bb-allpages__clickable-pill-3: none;
	--bl-allpages__clickable-pill-3: none;
	--co-allpages__clickable-pill-3: #9c9c9c;
	--op-allpages__clickable-pill-3: 1;
}

:root {
	--bc-allpages__clickable-pill-empty: transparent;
	--bt-allpages__clickable-pill-empty: none;
	--br-allpages__clickable-pill-empty: none;
	--bb-allpages__clickable-pill-empty: none;
	--bl-allpages__clickable-pill-empty: none;
	--co-allpages__clickable-pill-empty: #9c9c9c;
	--op-allpages__clickable-pill-empty: 1;
}

:root {
	--bc-allpages__input--focused: #222222;
	--bt-allpages__input--focused: 1px solid #5a808e;
	--br-allpages__input--focused: 1px solid #5a808e;
	--bb-allpages__input--focused: 1px solid #5a808e;
	--bl-allpages__input--focused: 1px solid #5a808e;
}

:root {
	--bc-allpages__input: #222222;
	--bt-allpages__input: 1px solid #404040;
	--br-allpages__input: 1px solid #404040;
	--bb-allpages__input: 1px solid #404040;
	--bl-allpages__input: 1px solid #404040;
	--bd-allpages__input: 5px;
	--sd-allpages__input: none;
	--co-allpages__input: #f4f4f4;
	--fs-allpages__input: 1rem;
	--fw-allpages__input: 400;
}

:root {
	--co-allpages__input-icon--focused: #707070;
}

:root {
	--co-allpages__input-icon: #707070;
}

:root {
	--bb-allpages__row: none;
	--co-allpages__row: #9c9c9c;
}

:root {
	--bc-allpages__row-header: #222222;
	--bb-allpages__row-header: 1px solid #323232;
	--bd-allpages__row-header: 0px;
	--co-allpages__row-header: #9c9c9c;
	--fs-allpages__row-header: 0.9rem;
	--fw-allpages__row-header: 500;
}

:root {
	--co-allpages__sort-button--focused: #2ec8ff;
	--fw-allpages__sort-button--focused: 400;
}

:root {
	--co-allpages__sorted-header-text: #f4f4f4;
	--fw-allpages__sorted-header-text: 500;
}

:root {
	--co-allpages__title-col: #9c9c9c;
}

:root {
	--co-allpages__title-header: #9c9c9c;
}

:root {
	--bb-allpages__title-text--hover: 2px solid #4b7c8f;
	--co-allpages__title-text--hover: #91def9;
	--td-allpages__title-text--hover: none;
}

:root {
	--bb-allpages__title-text: 2px solid #4b7c8f;
	--co-allpages__title-text: #91def9;
	--td-allpages__title-text: none;
}

:root {
	--co-app__h1: #f4f4f4;
	--ff-app__h1: -apple-system, BlinkMacSystemFont,Inter;
	--ft-app__h1: normal;
	--fw-app__h1: 700;
}

:root {
	--bc-app: #222222;
	--co-app: #f4f4f4;
}

:root {
	--co-attributes: #f4f4f4;
	--ft-attributes: normal;
	--fw-attributes: 500;
}

:root {
	--bc-block__button--hover: #313233;
	--bt-block__button--hover: 1px solid #424242;
	--br-block__button--hover: 1px solid #424242;
	--bb-block__button--hover: 1px solid #424242;
	--bl-block__button--hover: 1px solid #424242;
	--sd-block__button--hover: none;
	--co-block__button--hover: #97999c;
}

:root {
	--bc-block__button: #313233;
	--bt-block__button: 1px solid #424242;
	--br-block__button: 1px solid #424242;
	--bb-block__button: 1px solid #424242;
	--bl-block__button: 1px solid #424242;
	--bd-block__button: 5px;
	--sd-block__button: none;
	--co-block__button: #dbdfe3;
}

:root {
	--co-block__ghost: #5d5d5d;
}

:root {
	--bc-block-highlight--blue: #242a2d;
	--co-block-highlight--blue: #f4f4f4;
}

:root {
	--bc-block-highlight--grey: #282828;
	--co-block-highlight--grey: #f4f4f4;
}

:root {
	--bc-block-highlight--yellow: #322b20;
	--co-block-highlight--yellow: #f4f4f4;
}

:root {
	--bc-block-ref--hover: transparent;
	--co-block-ref--hover: #f4f4f4;
}

:root {
	--bb-block-ref: 2px solid #797a7d;
}

:root {
	--co-brackets: #5d5d5d;
}

:root {
	--bt-bullet__closed: 4px solid #4c4c4c;
	--br-bullet__closed: 4px solid #4c4c4c;
	--bb-bullet__closed: 4px solid #4c4c4c;
	--bl-bullet__closed: 4px solid #4c4c4c;
}

:root {
	--bc-bullet__ghost: #5d5d5d;
}

:root {
	--bc-bullet__inner: #f4f4f4;
}

:root {
	--bc-button__cancel--hover: transparent;
	--bt-button__cancel--hover: 1px solid #424242;
	--br-button__cancel--hover: 1px solid #424242;
	--bb-button__cancel--hover: 1px solid #424242;
	--bl-button__cancel--hover: 1px solid #424242;
	--sd-button__cancel--hover: none;
	--co-button__cancel--hover: #97999c;
}

:root {
	--bc-button__cancel: transparent;
	--bt-button__cancel: 1px solid #424242;
	--br-button__cancel: 1px solid #424242;
	--bb-button__cancel: 1px solid #424242;
	--bl-button__cancel: 1px solid #424242;
	--bd-button__cancel: 5px;
	--sd-button__cancel: none;
	--co-button__cancel: #dbdfe3;
}

:root {
	--bc-button__danger--hover: transparent;
	--bt-button__danger--hover: 1px solid #424242;
	--br-button__danger--hover: 1px solid #424242;
	--bb-button__danger--hover: 1px solid #424242;
	--bl-button__danger--hover: 1px solid #424242;
	--sd-button__danger--hover: none;
	--co-button__danger--hover: #c24f5d;
}

:root {
	--bc-button__danger: transparent;
	--bt-button__danger: 1px solid #424242;
	--br-button__danger: 1px solid #424242;
	--bb-button__danger: 1px solid #424242;
	--bl-button__danger: 1px solid #424242;
	--bd-button__danger: 5px;
	--sd-button__danger: none;
	--co-button__danger: #ff5a6e;
}

:root {
	--bc-button__disabled--hover: transparent;
	--bt-button__disabled--hover: 1px solid #424242;
	--br-button__disabled--hover: 1px solid #424242;
	--bb-button__disabled--hover: 1px solid #424242;
	--bl-button__disabled--hover: 1px solid #424242;
	--sd-button__disabled--hover: none;
	--co-button__disabled--hover: #5f5f5f;
}

:root {
	--bc-button__disabled: transparent;
	--bt-button__disabled: 1px solid #424242;
	--br-button__disabled: 1px solid #424242;
	--bb-button__disabled: 1px solid #424242;
	--bl-button__disabled: 1px solid #424242;
	--bd-button__disabled: 5px;
	--sd-button__disabled: none;
	--co-button__disabled: #5f5f5f;
}

:root {
	--co-button__icon--hover: #c8c8c8;
}

:root {
	--co-button__icon: #c8c8c8;
}

:root {
	--bc-button__minimal--active: transparent;
	--sd-button__minimal--active: none;
	--co-button__minimal--active: #c8c8c8;
}

:root {
	--bc-button__minimal--hover: #2d2d2d;
	--bt-button__minimal--hover: none;
	--br-button__minimal--hover: none;
	--bb-button__minimal--hover: none;
	--bl-button__minimal--hover: none;
	--bd-button__minimal--hover: 5px;
	--sd-button__minimal--hover: none;
	--co-button__minimal--hover: #c8c8c8;
	--td-button__minimal--hover: none;
}

:root {
	--bc-button__minimal: transparent;
	--bt-button__minimal: none;
	--br-button__minimal: none;
	--bb-button__minimal: none;
	--bl-button__minimal: none;
	--bd-button__minimal: 5px;
	--sd-button__minimal: none;
}

:root {
	--co-button__minimal-icon--active: #c8c8c8;
}

:root {
	--bc-button__primary--hover: #313233;
	--bt-button__primary--hover: 1px solid #424242;
	--br-button__primary--hover: 1px solid #424242;
	--bb-button__primary--hover: 1px solid #424242;
	--bl-button__primary--hover: 1px solid #424242;
	--sd-button__primary--hover: none;
	--co-button__primary--hover: #97999c;
}

:root {
	--bc-button__primary: #313233;
	--bt-button__primary: 1px solid #424242;
	--br-button__primary: 1px solid #424242;
	--bb-button__primary: 1px solid #424242;
	--bl-button__primary: 1px solid #424242;
	--bd-button__primary: 5px;
	--sd-button__primary: none;
	--co-button__primary: #dbdfe3;
}

:root {
	--bc-button__warning--hover: transparent;
	--bt-button__warning--hover: 1px solid #424242;
	--br-button__warning--hover: 1px solid #424242;
	--bb-button__warning--hover: 1px solid #424242;
	--bl-button__warning--hover: 1px solid #424242;
	--sd-button__warning--hover: none;
	--co-button__warning--hover: #c24f5d;
}

:root {
	--bc-button__warning: transparent;
	--bt-button__warning: 1px solid #424242;
	--br-button__warning: 1px solid #424242;
	--bb-button__warning: 1px solid #424242;
	--bl-button__warning: 1px solid #424242;
	--bd-button__warning: 5px;
	--sd-button__warning: none;
	--co-button__warning: #ff5a6e;
}

:root {
	--bt-button--default: none;
	--br-button--default: none;
	--bb-button--default: none;
	--bl-button--default: none;
	--bd-button--default: 5px;
	--fs-button--default: 1rem;
}

:root {
	--bc-button--hover: #2d2d2d;
	--sd-button--hover: none;
	--co-button--hover: #5d5d5d;
}

:root {
	--bc-button: transparent;
	--sd-button: none;
	--co-button: #dbdfe3;
	--ff-button: -apple-system, BlinkMacSystemFont,Inter;
}

:root {
	--co-callout__icon: #959795;
}

:root {
	--bc-callout__primary: transparent;
	--bt-callout__primary: none;
	--br-callout__primary: none;
	--bb-callout__primary: none;
	--bl-callout__primary: none;
	--bd-callout__primary: 0px;
	--fs-callout__primary: 1rem;
}

:root {
	--bc-card: #333333;
	--bt-card: 1px solid #222222;
	--br-card: 1px solid #222222;
	--bb-card: 1px solid #222222;
	--bl-card: 1px solid #222222;
	--bd-card: 5px;
	--sd-card: 3px 3px 11px 3px rgba(0,0,0,0.1);
}

:root {
	--co-caret: #f4f4f4;
}

:root {
	--bt-checkmark__mark--checked: 0px;
	--br-checkmark__mark--checked: 2px solid #222222;
	--bb-checkmark__mark--checked: 2px solid #222222;
	--bl-checkmark__mark--checked: 0px;
}

:root {
	--bc-checkmark--checked: #2ec8ff;
	--bt-checkmark--checked: 2px solid #2ec8ff;
	--br-checkmark--checked: 2px solid #2ec8ff;
	--bb-checkmark--checked: 2px solid #2ec8ff;
	--bl-checkmark--checked: 2px solid #2ec8ff;
	--sd-checkmark--checked: none;
}

:root {
	--bc-checkmark: transparent;
	--bt-checkmark: 2px solid #767676;
	--br-checkmark: 2px solid #767676;
	--bb-checkmark: 2px solid #767676;
	--bl-checkmark: 2px solid #767676;
	--bd-checkmark: 3px;
}

:root {
	--bc-code: #292929;
	--bt-code: 1px solid #3e3e3e;
	--br-code: 1px solid #3e3e3e;
	--bb-code: 1px solid #3e3e3e;
	--bl-code: 1px solid #3e3e3e;
	--bd-code: 5px;
	--co-code: #f4f4f4;
	--ff-code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	--fs-code: 0.9rem;
}

:root {
	--bc-codeblock__activeline--focused: transparent;
}

:root {
	--bc-codeblock__activeline: transparent;
}

:root {
	--co-codeblock__atom: #f4f4f4;
}

:root {
	--co-codeblock__attribute: #f4f4f4;
}

:root {
	--co-codeblock__bracket: #f4f4f4;
}

:root {
	--co-codeblock__builtin: #f4f4f4;
}

:root {
	--bc-codeblock__button--hover: #333333;
	--bt-codeblock__button--hover: none;
	--br-codeblock__button--hover: none;
	--bb-codeblock__button--hover: none;
	--bl-codeblock__button--hover: none;
	--sd-codeblock__button--hover: none;
	--co-codeblock__button--hover: #acacac;
}

:root {
	--bc-codeblock__button: transparent;
	--bt-codeblock__button: none;
	--br-codeblock__button: none;
	--bb-codeblock__button: none;
	--bl-codeblock__button: none;
	--bd-codeblock__button: 5px;
	--sd-codeblock__button: none;
	--co-codeblock__button: #acacac;
	--fs-codeblock__button: 0.9rem;
}

:root {
	--fl-codeblock__caret: #9f9f9f;
}

:root {
	--co-codeblock__code: #959795;
	--ff-codeblock__code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	--fs-codeblock__code: 0.9rem;
}

:root {
	--co-codeblock__comment: #c4c8c6;
}

:root {
	--bc-codeblock__container: #292929;
	--bt-codeblock__container: none;
	--br-codeblock__container: none;
	--bb-codeblock__container: none;
	--bl-codeblock__container: none;
	--bd-codeblock__container: 5px;
	--co-codeblock__container: #f4f4f4;
}

:root {
	--br-codeblock__cursor: 2px solid white;
	--bl-codeblock__cursor: none;
}

:root {
	--co-codeblock__def: #f4f4f4;
}

:root {
	--co-codeblock__error: #f4f4f4;
}

:root {
	--ff-codeblock__gutter: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	--fs-codeblock__gutter: 0.9rem;
	--ft-codeblock__gutter: normal;
	--fw-codeblock__gutter: 400;
}

:root {
	--bc-codeblock__gutters: transparent;
	--bt-codeblock__gutters: none;
	--br-codeblock__gutters: none;
	--bb-codeblock__gutters: none;
	--bl-codeblock__gutters: none;
	--bd-codeblock__gutters: 0px;
}

:root {
	--co-codeblock__hr: #f4f4f4;
}

:root {
	--co-codeblock__invalidchar: #f4f4f4;
}

:root {
	--co-codeblock__keyword: #9f85a6;
}

:root {
	--co-codeblock__link: #f4f4f4;
}

:root {
	--co-codeblock__matchingbracket: #f4f4f4;
}

:root {
	--co-codeblock__meta: #f4f4f4;
}

:root {
	--co-codeblock__nonmatchingbracket: #f4f4f4;
}

:root {
	--co-codeblock__number: #de935e;
}

:root {
	--co-codeblock__operator: #f4f4f4;
}

:root {
	--co-codeblock__qualifier: #f4f4f4;
}

:root {
	--bc-codeblock__searching: transparent;
}

:root {
	--bc-codeblock__selected--focused: #595959;
}

:root {
	--bc-codeblock__selected: #595959;
}

:root {
	--co-codeblock__string: #b6bd68;
}

:root {
	--co-codeblock__string-2: #b6bd68;
}

:root {
	--co-codeblock__tag: #f4f4f4;
}

:root {
	--co-codeblock__type: #f4f4f4;
}

:root {
	--co-codeblock__variable-2: #f4f4f4;
}

:root {
	--bc-control--checked: #2ec8ff;
}

:root {
	--bc-control--hover: #2ec8ff;
}

:root {
	--bc-control--hover-checked: #2ec8ff;
	--sd-control--hover-checked: none;
}

:root {
	--bc-control: #3e3e40;
}

:root {
	--bc-datepicker__day--hover: #292929;
	--bd-datepicker__day--hover: 5px;
	--co-datepicker__day--hover: #f4f4f4;
}

:root {
	--bc-datepicker__nav-button--hover: #292929;
	--bt-datepicker__nav-button--hover: none;
	--br-datepicker__nav-button--hover: none;
	--bb-datepicker__nav-button--hover: none;
	--bl-datepicker__nav-button--hover: none;
	--bd-datepicker__nav-button--hover: 5px;
}

:root {
	--co-datepicker__nav-button--hover: #f4f4f4;
}

:root {
	--bc-datepicker__nav-button: transparent;
	--bt-datepicker__nav-button: none;
	--br-datepicker__nav-button: none;
	--bb-datepicker__nav-button: none;
	--bl-datepicker__nav-button: none;
	--bd-datepicker__nav-button: 5px;
}

:root {
	--co-datepicker__nav-button: #f4f4f4;
}

:root {
	--bc-datepicker__outside--hover: transparent;
}

:root {
	--bc-datepicker__select--hover: transparent;
	--co-datepicker__select--hover: #f4f4f4;
}

:root {
	--co-datepicker__select: #f4f4f4;
}

:root {
	--co-datepicker__select-icon--hover: #f4f4f4;
}

:root {
	--co-datepicker__select-icon: #f4f4f4;
}

:root {
	--bc-datepicker__today: #222c31;
	--bt-datepicker__today: none;
	--br-datepicker__today: none;
	--bb-datepicker__today: none;
	--bl-datepicker__today: none;
	--co-datepicker__today: #f4f4f4;
	--fw-datepicker__today: 400;
}

:root {
	--co-datepicker__weekdays: #646464;
}

:root {
	--br-datepicker__weeknumber: none;
	--co-datepicker__weeknumber: #646464;
	--ff-datepicker__weeknumber: -apple-system, BlinkMacSystemFont,Inter;
	--fs-datepicker__weeknumber: 1rem;
}

:root {
	--bc-datepicker: transparent;
	--bt-datepicker: none;
	--br-datepicker: none;
	--bb-datepicker: none;
	--bl-datepicker: none;
	--bd-datepicker: 5px;
	--co-datepicker: #f4f4f4;
	--ff-datepicker: -apple-system, BlinkMacSystemFont,Inter;
}

:root {
	--bc-dialog__cancel-button--hover: transparent;
	--bt-dialog__cancel-button--hover: 1px solid #424242;
	--br-dialog__cancel-button--hover: 1px solid #424242;
	--bb-dialog__cancel-button--hover: 1px solid #424242;
	--bl-dialog__cancel-button--hover: 1px solid #424242;
	--sd-dialog__cancel-button--hover: none;
	--co-dialog__cancel-button--hover: #97999c;
}

:root {
	--bc-dialog__cancel-button: transparent;
	--bt-dialog__cancel-button: 1px solid #424242;
	--br-dialog__cancel-button: 1px solid #424242;
	--bb-dialog__cancel-button: 1px solid #424242;
	--bl-dialog__cancel-button: 1px solid #424242;
	--bd-dialog__cancel-button: 5px;
	--sd-dialog__cancel-button: none;
	--co-dialog__cancel-button: #dbdfe3;
}

:root {
	--co-dialog__heading: #f4f4f4;
	--fs-dialog__heading: 1rem;
	--fw-dialog__heading: 400;
}

:root {
	--co-dialog__span: #f4f4f4;
}

:root {
	--bc-dialog__upload-button--hover: transparent;
	--bt-dialog__upload-button--hover: 1px solid #424242;
	--br-dialog__upload-button--hover: 1px solid #424242;
	--bb-dialog__upload-button--hover: 1px solid #424242;
	--bl-dialog__upload-button--hover: 1px solid #424242;
	--bd-dialog__upload-button--hover: 5px;
	--sd-dialog__upload-button--hover: none;
	--co-dialog__upload-button--hover: #97999c;
}

:root {
	--bc-dialog__upload-button: transparent;
	--bt-dialog__upload-button: 1px solid #424242;
	--br-dialog__upload-button: 1px solid #424242;
	--bb-dialog__upload-button: 1px solid #424242;
	--bl-dialog__upload-button: 1px solid #424242;
	--bd-dialog__upload-button: 5px;
	--sd-dialog__upload-button: none;
	--co-dialog__upload-button: #dbdfe3;
}

:root {
	--bc-dialog__upload-input: #1c1c1c;
	--bt-dialog__upload-input: none;
	--br-dialog__upload-input: none;
	--bb-dialog__upload-input: none;
	--bl-dialog__upload-input: none;
	--bd-dialog__upload-input: 5px;
	--sd-dialog__upload-input: none;
	--co-dialog__upload-input: #dbdfe3;
}

:root {
	--bc-dialog__confirmation: transparent;
}

:root {
	--ff-div: -apple-system, BlinkMacSystemFont,Inter;
	--fs-div: 1rem;
}

:root {
	--bc-dropbar: #3293b8;
}

:root {
	--bc-elevation__container: #333333;
	--bt-elevation__container: 1px solid #222222;
	--br-elevation__container: 1px solid #222222;
	--bb-elevation__container: 1px solid #222222;
	--bl-elevation__container: 1px solid #222222;
	--bd-elevation__container: 5px;
	--sd-elevation__container: 3px 3px 11px 3px rgba(0,0,0,0.1);
}

:root {
	--co-elevation__create-block--selected: #f4f4f4;
}

:root {
	--co-elevation__create-block: #f4f4f4;
}

:root {
	--bc-elevation__item--selected: #1c1c1c;
	--bt-elevation__item--selected: none;
	--br-elevation__item--selected: none;
	--bb-elevation__item--selected: none;
	--bl-elevation__item--selected: none;
	--bd-elevation__item--selected: 5px;
	--co-elevation__item--selected: #f4f4f4;
}

:root {
	--bt-elevation__item: none;
	--br-elevation__item: none;
	--bb-elevation__item: none;
	--bl-elevation__item: none;
	--co-elevation__item: #f4f4f4;
	--ff-elevation__item: -apple-system, BlinkMacSystemFont,Inter;
}

:root {
	--co-elevation__item-icon--selected: #787878;
}

:root {
	--co-elevation__item-icon: #787878;
}

:root {
	--co-elevation__item-keyprompt--selected: #787878;
}

:root {
	--co-elevation__item-keyprompt: #787878;
	--fs-elevation__item-keyprompt: 0.9rem;
	--op-elevation__item-keyprompt: 1;
}

:root {
	--co-elevation__search-block: #f4f4f4;
}

:root {
	--bc-embed__container-10: #181818;
	--bt-embed__container-10: none;
	--br-embed__container-10: none;
	--bb-embed__container-10: none;
	--bl-embed__container-10: none;
	--bd-embed__container-10: 5px;
}

:root {
	--bc-embed__container-11: #121212;
	--bt-embed__container-11: none;
	--br-embed__container-11: none;
	--bb-embed__container-11: none;
	--bl-embed__container-11: none;
	--bd-embed__container-11: 5px;
}

:root {
	--bc-embed__container-2: #181818;
	--bt-embed__container-2: none;
	--br-embed__container-2: none;
	--bb-embed__container-2: none;
	--bl-embed__container-2: none;
	--bd-embed__container-2: 5px;
}

:root {
	--bc-embed__container-3: #121212;
	--bt-embed__container-3: none;
	--br-embed__container-3: none;
	--bb-embed__container-3: none;
	--bl-embed__container-3: none;
	--bd-embed__container-3: 5px;
}

:root {
	--bc-embed__container-4: #0c0c0c;
	--bt-embed__container-4: none;
	--br-embed__container-4: none;
	--bb-embed__container-4: none;
	--bl-embed__container-4: none;
	--bd-embed__container-4: 5px;
}

:root {
	--bc-embed__container-5: #1e1e1e;
	--bt-embed__container-5: none;
	--br-embed__container-5: none;
	--bb-embed__container-5: none;
	--bl-embed__container-5: none;
	--bd-embed__container-5: 5px;
}

:root {
	--bc-embed__container-6: #181818;
	--bt-embed__container-6: none;
	--br-embed__container-6: none;
	--bb-embed__container-6: none;
	--bl-embed__container-6: none;
	--bd-embed__container-6: 5px;
}

:root {
	--bc-embed__container-7: #121212;
	--bt-embed__container-7: none;
	--br-embed__container-7: none;
	--bb-embed__container-7: none;
	--bl-embed__container-7: none;
	--bd-embed__container-7: 5px;
}

:root {
	--bc-embed__container-8: #0c0c0c;
	--bt-embed__container-8: none;
	--br-embed__container-8: none;
	--bb-embed__container-8: none;
	--bl-embed__container-8: none;
	--bd-embed__container-8: 5px;
}

:root {
	--bc-embed__container-9: #1e1e1e;
	--bt-embed__container-9: none;
	--br-embed__container-9: none;
	--bb-embed__container-9: none;
	--bl-embed__container-9: none;
	--bd-embed__container-9: 5px;
}

:root {
	--bc-embed: #1e1e1e;
	--bt-embed: none;
	--br-embed: none;
	--bb-embed: none;
	--bl-embed: none;
	--bd-embed: 5px;
}

:root {
	--bc-embed-page__margin: #575757;
	--bl-embed-page__margin: none;
}

:root {
	--bt-embed-page__reference-main: none;
}

:root {
	--co-embed-page__title--hover: #f4f4f4;
	--fs-embed-page__title--hover: 1.06rem;
	--td-embed-page__title--hover: none;
}

:root {
	--co-embed-page__title: #f4f4f4;
	--fs-embed-page__title: 1.06rem;
}

:root {
	--bc-embed-page: #1e1e1e;
	--bt-embed-page: none;
	--br-embed-page: none;
	--bb-embed-page: none;
	--bl-embed-page: none;
	--bd-embed-page: 5px;
}

:root {
	--bc-emoji-mart__category-label: #1e1e1e;
}

:root {
	--bc-emoji-mart: #1e1e1e;
	--bt-emoji-mart: none;
	--br-emoji-mart: none;
	--bb-emoji-mart: none;
	--bl-emoji-mart: none;
	--bd-emoji-mart: 5px;
	--co-emoji-mart: #f4f4f4;
	--ff-emoji-mart: -apple-system, BlinkMacSystemFont,Inter;
	--fs-emoji-mart: 1rem;
}

:root {
	--bc-encrypted__button: transparent;
	--bt-encrypted__button: 1px solid #424242;
	--br-encrypted__button: 1px solid #424242;
	--bb-encrypted__button: 1px solid #424242;
	--bl-encrypted__button: 1px solid #424242;
	--co-encrypted__button: #97999c;
}

:root {
	--bc-encrypted__button: transparent;
	--bt-encrypted__button: 1px solid #424242;
	--br-encrypted__button: 1px solid #424242;
	--bb-encrypted__button: 1px solid #424242;
	--bl-encrypted__button: 1px solid #424242;
	--bd-encrypted__button: 5px;
	--co-encrypted__button: #dbdfe3;
	--fs-encrypted__button: 0.9rem;
}

:root {
	--bc-encrypted__form: transparent;
	--bt-encrypted__form: none;
	--br-encrypted__form: none;
	--bb-encrypted__form: none;
	--bl-encrypted__form: none;
	--bd-encrypted__form: 5px;
}

:root {
	--bc-encrypted__input--focus: #1e1e1e;
	--bt-encrypted__input--focus: none;
	--br-encrypted__input--focus: none;
	--bb-encrypted__input--focus: none;
	--bl-encrypted__input--focus: none;
}

:root {
	--bc-encrypted__input: #1e1e1e;
	--bt-encrypted__input: none;
	--br-encrypted__input: none;
	--bb-encrypted__input: none;
	--bl-encrypted__input: none;
	--bd-encrypted__input: 5px;
	--co-encrypted__input: #dbdfe3;
	--fs-encrypted__input: 1rem;
}

:root {
	--co-encrypted__label: #aaaaaa;
	--fs-encrypted__label: 1rem;
	--fw-encrypted__label: 400;
}

:root {
	--bc-encrypted: transparent;
	--bt-encrypted: none;
	--br-encrypted: none;
	--bb-encrypted: none;
	--bl-encrypted: none;
	--bd-encrypted: 5px;
	--co-encrypted: #aaaaaa;
	--fs-encrypted: 1rem;
	--fw-encrypted: 400;
}

:root {
	--bc-find-or-create__menu-item--selected: #1c1c1c;
	--bt-find-or-create__menu-item--selected: none;
	--br-find-or-create__menu-item--selected: none;
	--bb-find-or-create__menu-item--selected: none;
	--bl-find-or-create__menu-item--selected: none;
	--bd-find-or-create__menu-item--selected: 5px;
}

:root {
	--co-find-or-create__menu-item--selected: #c6c6c6;
}

:root {
	--bt-find-or-create__menu-item: none;
	--br-find-or-create__menu-item: none;
	--bb-find-or-create__menu-item: none;
	--bl-find-or-create__menu-item: none;
	--co-find-or-create__menu-item: #f4f4f4;
}

:root {
	--co-find-or-create__new-page--selected: #f4f4f4;
}

:root {
	--co-find-or-create__new-page: #f4f4f4;
}

:root {
	--co-find-or-create__recent: #f4f4f4;
}

:root {
	--co-find-or-create__search-list-item: #f4f4f4;
}

:root {
	--co-find-or-create__search-list-item-title: #f4f4f4;
	--fs-find-or-create__search-list-item-title: 1rem;
}

:root {
	--bc-find-or-create__wrapper-large: #0a0a0a;
	--bt-find-or-create__wrapper-large: 1px solid #222222;
	--br-find-or-create__wrapper-large: 1px solid #222222;
	--bb-find-or-create__wrapper-large: 1px solid #222222;
	--bl-find-or-create__wrapper-large: 1px solid #222222;
	--bd-find-or-create__wrapper-large: 10px;
	--sd-find-or-create__wrapper-large: 3px 3px 11px 3px rgba(0,0,0,0.1);
}

:root {
	--co-graph-dropdown__a--hover: #f4f4f4;
	--td-graph-dropdown__a--hover: none;
}

:root {
	--co-graph-dropdown__a: #f4f4f4;
	--td-graph-dropdown__a: none;
}

:root {
	--co-graph-dropdown__expand-icon--hover: #f4f4f4;
}

:root {
	--co-graph-dropdown__expand-icon: #f4f4f4;
}

:root {
	--co-graph-dropdown__menu-item: #f2f2f2;
	--td-graph-dropdown__menu-item: none;
}

:root {
	--co-graph-dropdown__menu-title: #5d5d5d;
	--fs-graph-dropdown__menu-title: 0.9rem;
	--ft-graph-dropdown__menu-title: normal;
	--fw-graph-dropdown__menu-title: 400;
	--tt-graph-dropdown__menu-title: none;
}

:root {
	--bc-graph-dropdown__setting--hover: #787878;
}

:root {
	--co-graph-dropdown__setting--hover: #f2f2f2;
}

:root {
	--bc-graph-dropdown__setting: transparent;
	--co-graph-dropdown__setting: #f2f2f2;
	--fs-graph-dropdown__setting: 0.95rem;
}

:root {
	--co-graph-dropdown__setting-icon--hover: #f2f2f2;
	--td-graph-dropdown__setting-icon--hover: none;
}

:root {
	--co-graph-dropdown__setting-icon: #f2f2f2;
}

:root {
	--fs-graph-dropdown__sign-out: 0.95rem;
	--fw-graph-dropdown__sign-out: 400;
	--op-graph-dropdown__sign-out: 1;
}

:root {
	--sd-graph-dropdown: none;
	--fs-graph-dropdown: 0.95rem;
	--fw-graph-dropdown: 400;
	--op-graph-dropdown: 1;
}

:root {
	--bc-help__categories--hover: #292a2a;
	--bd-help__categories--hover: 5px;
	--co-help__categories--hover: #f4f4f4;
}

:root {
	--bc-help__categories--selected: #313131;
	--bd-help__categories--selected: 5px;
	--co-help__categories--selected: #f4f4f4;
}

:root {
	--co-help__categories: #f4f4f4;
	--fw-help__categories: 400;
}

:root {
	--co-help__category-name: #f4f4f4;
	--fs-help__category-name: 1rem;
	--ft-help__category-name: normal;
	--fw-help__category-name: 600;
	--tt-help__category-name: none;
}

:root {
	--co-help__component-description: #f4f4f4;
}

:root {
	--bc-help__component-notation: #292929;
	--co-help__component-notation: #f4f4f4;
	--ff-help__component-notation: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	--fs-help__component-notation: 0.9rem;
}

:root {
	--co-help__component-title: #f4f4f4;
	--fs-help__component-title: 1rem;
	--fw-help__component-title: 600;
}

:root {
	--co-help__function-name: #f4f4f4;
	--fs-help__function-name: 1rem;
	--fw-help__function-name: 500;
}

:root {
	--co-help__help-version: #dbdfe3;
	--fs-help__help-version: 0.9rem;
	--fw-help__help-version: 400;
}

:root {
	--bc-help__icon-container: transparent;
	--bt-help__icon-container: none;
	--br-help__icon-container: none;
	--bb-help__icon-container: none;
	--bl-help__icon-container: none;
}

:root {
	--bc-help__input--focus: #222222;
	--bt-help__input--focus: 1px solid #5a808e;
	--br-help__input--focus: 1px solid #5a808e;
	--bb-help__input--focus: 1px solid #5a808e;
	--bl-help__input--focus: 1px solid #5a808e;
	--bd-help__input--focus: 5px;
}

:root {
	--bc-help__input: #222222;
	--bt-help__input: 1px solid #404040;
	--br-help__input: 1px solid #404040;
	--bb-help__input: 1px solid #404040;
	--bl-help__input: 1px solid #404040;
	--bd-help__input: 5px;
}

:root {
	--co-help__markdown-md: #7a7a7a;
	--fs-help__markdown-md: 1rem;
	--fw-help__markdown-md: 400;
	--op-help__markdown-md: 1;
}

:root {
	--co-help__markdown-title: #f4f4f4;
	--fs-help__markdown-title: 1rem;
	--fw-help__markdown-title: 400;
}

:root {
	--bc-help__resource--hover: #121212;
}

:root {
	--co-help__resource-description: #91def9;
	--fs-help__resource-description: 1rem;
	--fw-help__resource-description: 400;
}

:root {
	--bc-help__resource-icon: transparent;
	--co-help__resource-icon: #91def9;
}

:root {
	--co-help__resource-title: #91def9;
	--fs-help__resource-title: 1rem;
	--fw-help__resource-title: 400;
}

:root {
	--co-help__title: #f4f4f4;
	--fs-help__title: 1rem;
	--fw-help__title: 600;
}

:root {
	--bc-highlight: #706c2e;
	--co-highlight: #f4f4f4;
}

:root {
	--bt-hr: 1px solid #525252;
	--br-hr: none;
	--bb-hr: none;
	--bl-hr: none;
}

:root {
	--bc-html__select--disabled: transparent;
	--sd-html__select--disabled: none;
	--co-html__select--disabled: #f4f4f4;
}

:root {
	--bc-html__select--hover: transparent;
	--sd-html__select--hover: none;
	--co-html__select--hover: #f4f4f4;
	--td-html__select--hover: none;
}

:root {
	--bc-html__select: transparent;
	--sd-html__select: none;
	--co-html__select: #f4f4f4;
	--ff-html__select: -apple-system, BlinkMacSystemFont,Inter;
	--fs-html__select: 1rem;
}

:root {
	--co-html__select-icon: #f4f4f4;
}

:root {
	--bc-inline-references: transparent;
}

:root {
	--bd-input__search: 5px;
}

:root {
	--co-input__search-icon: #c8c8c8;
}

:root {
	--co-input__search-placeholder: #525252;
	--ff-input__search-placeholder: -apple-system, BlinkMacSystemFont,Inter;
}

:root {
	--bc-input--focus: #1c1c1c;
	--bt-input--focus: none;
	--br-input--focus: none;
	--bb-input--focus: none;
	--bl-input--focus: none;
	--bd-input--focus: 5px;
	--sd-input--focus: none;
}

:root {
	--bc-input: #1c1c1c;
	--bt-input: none;
	--br-input: none;
	--bb-input: none;
	--bl-input: none;
	--bd-input: 5px;
	--sd-input: none;
	--co-input: #dbdfe3;
	--ff-input: -apple-system, BlinkMacSystemFont,Inter;
	--fs-input: 0.9rem;
	--fw-input: 400;
}

:root {
	--bc-install-button--hover: transparent;
	--bt-install-button--hover: 1px solid #424242;
	--br-install-button--hover: 1px solid #424242;
	--bb-install-button--hover: 1px solid #424242;
	--bl-install-button--hover: 1px solid #424242;
	--bd-install-button--hover: 5px;
	--co-install-button--hover: #97999c;
}

:root {
	--bc-install-button: transparent;
	--bt-install-button: 1px solid #424242;
	--br-install-button: 1px solid #424242;
	--bb-install-button: 1px solid #424242;
	--bl-install-button: 1px solid #424242;
	--bd-install-button: 5px;
	--co-install-button: #dbdfe3;
}

:root {
	--bc-kanban__card: #292929;
	--bt-kanban__card: 1px solid #333333;
	--br-kanban__card: 1px solid #333333;
	--bb-kanban__card: 1px solid #333333;
	--bl-kanban__card: 1px solid #333333;
	--bd-kanban__card: 5px;
}

:root {
	--bc-kanban__column: transparent;
}

:root {
	--bc-kanban__dropbar: #3293b8;
}

:root {
	--bb-kanban__title: 1px solid #333333;
	--fw-kanban__title: 600;
}

:root {
	--bc-kanban: transparent;
}

:root {
	--bc-left-sidebar__container: #1e1e1e;
	--br-left-sidebar__container: 1px solid #292929;
}

:root {
	--co-left-sidebar__db-title--hover: #d5d9dd;
}

:root {
	--co-left-sidebar__db-title: #d5d9dd;
	--ff-left-sidebar__db-title: -apple-system, BlinkMacSystemFont,Inter;
	--fs-left-sidebar__db-title: 0.95rem;
	--fw-left-sidebar__db-title: 400;
	--tt-left-sidebar__db-title: normale;
}

:root {
	--bc-left-sidebar__hr: transparent;
}

:root {
	--co-left-sidebar__icon--hover: #9b9da0;
}

:root {
	--co-left-sidebar__icon: #9b9da0;
	--fs-left-sidebar__icon: 0.95rem;
}

:root {
	--bc-left-sidebar__logo--hover: transparent;
	--td-left-sidebar__logo--hover: none;
}

:root {
	--td-left-sidebar__logo: none;
}

:root {
	--co-left-sidebar__logo-text: #f4f4f4;
}

:root {
	--bc-left-sidebar__toprow--hover: transparent;
}

:root {
	--bc-left-sidebar__toprow: transparent;
}

:root {
	--bb-level1: none;
	--co-level1: #f4f4f4;
	--ff-level1: -apple-system, BlinkMacSystemFont,Inter;
	--fs-level1: 1.5rem;
	--ft-level1: normal;
	--fw-level1: 700;
	--tt-level1: none;
}

:root {
	--bb-level2: none;
	--co-level2: #f4f4f4;
	--ff-level2: -apple-system, BlinkMacSystemFont,Inter;
	--fs-level2: 1.35rem;
	--ft-level2: normal;
	--fw-level2: 700;
	--tt-level2: none;
}

:root {
	--bb-level3: none;
	--co-level3: #f4f4f4;
	--ff-level3: -apple-system, BlinkMacSystemFont,Inter;
	--fs-level3: 1.25rem;
	--ft-level3: normal;
	--fw-level3: 600;
	--tt-level3: none;
}

:root {
	--co-log-page__h1: #5d5d5d;
	--ff-log-page__h1: -apple-system, BlinkMacSystemFont,Inter;
	--fs-log-page__h1: 1.5rem;
	--ft-log-page__h1: normal;
	--fw-log-page__h1: 700;
	--tt-log-page__h1: none;
}

:root {
	--co-log-page__preview: #5d5d5d;
}

:root {
	--bt-log-page: 1px solid #323232;
}

:root {
	--bc-logbutton--hover: #232323;
	--bt-logbutton--hover: none;
	--br-logbutton--hover: none;
	--bb-logbutton--hover: none;
	--bl-logbutton--hover: none;
	--co-logbutton--hover: #d5d9dd;
	--td-logbutton--hover: none;
}

:root {
	--bd-logbutton: 5px;
	--co-logbutton: #d5d9dd;
	--ff-logbutton: -apple-system, BlinkMacSystemFont,Inter;
	--fs-logbutton: 0.95rem;
	--fw-logbutton: 400;
	--tt-logbutton: none;
}

:root {
	--bt-main__image: none;
	--br-main__image: none;
	--bb-main__image: none;
	--bl-main__image: none;
	--bd-main__image: 5px;
}

:root {
	--co-main__namespace: #a1eeff;
}

:root {
	--co-main__strikethrough: #aaaaaa;
}

:root {
	--bc-main: #222222;
}

:root {
	--co-main: #f4f4f4;
	--ff-main: -apple-system, BlinkMacSystemFont,Inter;
	--fs-main: 1.06rem;
	--fw-main: 400;
}

:root {
	--bc-menu__button--active: #293236;
	--bt-menu__button--active: 1px solid #326277;
	--br-menu__button--active: 1px solid #326277;
	--bb-menu__button--active: 1px solid #326277;
	--bl-menu__button--active: 1px solid #326277;
	--bd-menu__button--active: 5px;
	--co-menu__button--active: #dbdddd;
}

:root {
	--bc-menu__button--hover: #292929;
	--bt-menu__button--hover: 1px solid #333333;
	--br-menu__button--hover: 1px solid #333333;
	--bb-menu__button--hover: 1px solid #333333;
	--bl-menu__button--hover: 1px solid #333333;
	--bd-menu__button--hover: 5px;
	--co-menu__button--hover: #f4f4f4;
}

:root {
	--bc-menu__button: transparent;
	--bt-menu__button: 1px solid transparent;
	--br-menu__button: 1px solid transparent;
	--bb-menu__button: 1px solid transparent;
	--bl-menu__button: 1px solid transparent;
	--bd-menu__button: 5px;
	--co-menu__button: #f4f4f4;
}

:root {
	--bc-menu__button-active--hover: #192226;
	--bt-menu__button-active--hover: 1px solid #326277;
	--br-menu__button-active--hover: 1px solid #326277;
	--bb-menu__button-active--hover: 1px solid #326277;
	--bl-menu__button-active--hover: 1px solid #326277;
	--bd-menu__button-active--hover: 5px;
	--co-menu__button-active--hover: #f4f4f4;
}

:root {
	--co-menu__button-icon--active: #c8c8c8;
}

:root {
	--co-menu__button-icon--hover: #c8c8c8;
}

:root {
	--co-menu__button-icon: #c8c8c8;
}

:root {
	--bc-menu__item--hover: #787878;
	--bt-menu__item--hover: none;
	--br-menu__item--hover: none;
	--bb-menu__item--hover: none;
	--bl-menu__item--hover: none;
	--bd-menu__item--hover: 4px;
	--co-menu__item--hover: #f2f2f2;
}

:root {
	--bt-menu__item: none;
	--br-menu__item: none;
	--bb-menu__item: none;
	--bl-menu__item: none;
	--bd-menu__item: 4px;
	--co-menu__item: #f2f2f2;
	--fs-menu__item: 0.95rem;
	--fw-menu__item: 400;
}

:root {
	--co-menu__item-icon--hover: #f2f2f2;
}

:root {
	--co-menu__item-icon: #f4f4f4;
}

:root {
	--co-menu__item-label--hover: #f2f2f2;
}

:root {
	--co-menu__item-label: #97999c;
	--fs-menu__item-label: 0.8rem;
	--td-menu__item-label: none;
}

:root {
	--co-menu__item-primary: #f4f4f4;
}

:root {
	--bc-menu__menu-item--active: transparent;
	--co-menu__menu-item--active: #97999c;
}

:root {
	--fl-menu__svg-icon--hover: #c8c8c8;
}

:root {
	--fl-menu__svg-icon: #c8c8c8;
}

:root {
	--bc-menu: transparent;
	--bt-menu: none;
	--br-menu: none;
	--bb-menu: none;
	--bl-menu: none;
	--bd-menu: 5px;
	--co-menu: #f4f4f4;
}

:root {
	--co-mobile-bar__icon: #f4f4f4;
}

:root {
	--bc-mobile-bar: #0a0a0a;
}

:root {
	--bc-modal-dialog: #333333;
	--bt-modal-dialog: 1px solid #222222;
	--br-modal-dialog: 1px solid #222222;
	--bb-modal-dialog: 1px solid #222222;
	--bl-modal-dialog: 1px solid #222222;
	--bd-modal-dialog: 5px;
}

:root {
	--br-multibar--hover: 4px solid #515151;
}

:root {
	--br-multibar: 2px solid #2c2c2c;
}

:root {
	--bb-page__link--hover: 3px solid #4b7c8f;
	--co-page__link--hover: #91def9;
	--td-page__link--hover: none;
}

:root {
	--bb-page__link: 3px solid #4b7c8f;
	--co-page__link: #91def9;
	--td-page__link: none;
}

:root {
	--co-page__title: #f4f4f4;
	--ff-page__title: -apple-system, BlinkMacSystemFont,Inter;
	--fs-page__title: 1.5rem;
	--ft-page__title: normal;
	--fw-page__title: 700;
	--tt-page__title: none;
}

:root {
	--bc-pomodoro--break: #404040;
	--bt-pomodoro--break: none;
	--br-pomodoro--break: none;
	--bb-pomodoro--break: none;
	--bl-pomodoro--break: none;
	--bd-pomodoro--break: 20px;
	--sd-pomodoro--break: none;
	--co-pomodoro--break: #f4f4f4;
}

:root {
	--bc-pomodoro--running: #343a3d;
	--bt-pomodoro--running: none;
	--br-pomodoro--running: none;
	--bb-pomodoro--running: none;
	--bl-pomodoro--running: none;
	--bd-pomodoro--running: 20px;
	--sd-pomodoro--running: none;
	--co-pomodoro--running: #f4f4f4;
}

:root {
	--bc-pomodoro: #292929;
	--bt-pomodoro: none;
	--br-pomodoro: none;
	--bb-pomodoro: none;
	--bl-pomodoro: none;
	--bd-pomodoro: 20px;
	--sd-pomodoro: none;
	--co-pomodoro: #f4f4f4;
}

:root {
	--fl-popover__arrow-border: transparent;
}

:root {
	--fl-popover__arrow-fill: transparent;
}

:root {
	--sd-popover__arrow-shadow: none;
}

:root {
	--bc-popover__button--hover: transparent;
	--bt-popover__button--hover: none;
	--br-popover__button--hover: none;
	--bb-popover__button--hover: none;
	--bl-popover__button--hover: none;
	--co-popover__button--hover: #97999c;
}

:root {
	--bc-popover__button: transparent;
	--bt-popover__button: none;
	--br-popover__button: none;
	--bb-popover__button: none;
	--bl-popover__button: none;
	--bd-popover__button: 5px;
	--co-popover__button: #dbdfe3;
}

:root {
	--bc-popover__content: #333333;
	--bt-popover__content: 1px solid #5b5b5b;
	--br-popover__content: 1px solid #5b5b5b;
	--bb-popover__content: 1px solid #5b5b5b;
	--bl-popover__content: 1px solid #5b5b5b;
	--bd-popover__content: 5px;
	--co-popover__content: #f2f2f2;
}

:root {
	--co-popover__description: #97999c;
}

:root {
	--bd-popover: 5px;
	--sd-popover: 3px 3px 11px 3px rgba(0,0,0,0.1);
}

:root {
	--bc-query__content: transparent;
}

:root {
	--bc-query__title: transparent;
	--co-query__title: #f4f4f4;
	--fw-query__title: 500;
}

:root {
	--bc-query: #1e1e1e;
	--bt-query: none;
	--br-query: none;
	--bb-query: none;
	--bl-query: none;
	--bd-query: 5px;
	--sd-query: none;
}

:root {
	--bc-quote: #1e1e1e;
	--bt-quote: none;
	--br-quote: none;
	--bb-quote: none;
	--bl-quote: none;
	--bd-quote: 0px;
	--co-quote: #f4f4f4;
	--ff-quote: -apple-system, BlinkMacSystemFont,Inter;
	--fs-quote: 1rem;
	--ft-quote: normal;
	--fw-quote: 400;
}

:root {
	--bc-ref-count--active: transparent;
	--co-ref-count--active: #f4f4f4;
}

:root {
	--co-reference__item--hover: #f4f4f4;
	--td-reference__item--hover: none;
}

:root {
	--bc-reference__item: transparent;
	--bt-reference__item: none;
	--br-reference__item: none;
	--bb-reference__item: none;
	--bl-reference__item: none;
	--bd-reference__item: 5px;
}

:root {
	--bb-reference__linked-title: none;
	--co-reference__linked-title: #f4f4f4;
	--ff-reference__linked-title: -apple-system, BlinkMacSystemFont,Inter;
	--fs-reference__linked-title: 1.06rem;
	--ft-reference__linked-title: normal;
	--fw-reference__linked-title: 500;
	--tt-reference__linked-title: none;
}

:root {
	--bb-reference__linked-title-closed: none;
	--co-reference__linked-title-closed: #8b8b8b;
	--ff-reference__linked-title-closed: -apple-system, BlinkMacSystemFont,Inter;
	--fs-reference__linked-title-closed: 1.06rem;
	--ft-reference__linked-title-closed: normal;
	--fw-reference__linked-title-closed: 500;
	--tt-reference__linked-title-closed: none;
}

:root {
	--bt-reference__mentions: 1px solid #333333;
}

:root {
	--bc-reference__nested-refs: transparent;
}

:root {
	--co-reference__page-title--hover: #f4f4f4;
	--td-reference__page-title--hover: none;
}

:root {
	--co-reference__page-title: #f4f4f4;
	--ff-reference__page-title: -apple-system, BlinkMacSystemFont,Inter;
	--fs-reference__page-title: 1.06rem;
	--fw-reference__page-title: 500;
	--td-reference__page-title: none;
}

:root {
	--co-reference__unlinked-title--hover: #f4f4f4;
	--td-reference__unlinked-title--hover: none;
}

:root {
	--bb-reference__unlinked-title: none;
	--co-reference__unlinked-title: #f4f4f4;
	--ff-reference__unlinked-title: -apple-system, BlinkMacSystemFont,Inter;
	--fs-reference__unlinked-title: 1.06rem;
	--ft-reference__unlinked-title: normal;
	--fw-reference__unlinked-title: 500;
	--tt-reference__unlinked-title: none;
}

:root {
	--co-reference__unlinked-title-closed--hover: #8b8b8b;
}

:root {
	--bb-reference__unlinked-title-closed: none;
	--co-reference__unlinked-title-closed: #8b8b8b;
	--ff-reference__unlinked-title-closed: -apple-system, BlinkMacSystemFont,Inter;
	--fs-reference__unlinked-title-closed: 1.06rem;
	--ft-reference__unlinked-title-closed: normal;
	--fw-reference__unlinked-title-closed: 500;
	--tt-reference__unlinked-title-closed: none;
}

:root {
	--bt-right-sidebar__bullet-closed: 4px solid #4c4c4c;
	--br-right-sidebar__bullet-closed: 4px solid #4c4c4c;
	--bb-right-sidebar__bullet-closed: 4px solid #4c4c4c;
	--bl-right-sidebar__bullet-closed: 4px solid #4c4c4c;
}

:root {
	--bc-right-sidebar__container: #222222;
	--bl-right-sidebar__container: 1px solid #292929;
}

:root {
	--bc-right-sidebar__content: #222222;
}

:root {
	--co-right-sidebar__h1: #f4f4f4;
	--fs-right-sidebar__h1: 1rem;
	--fw-right-sidebar__h1: 600;
}

:root {
	--ff-right-sidebar__helper-text: -apple-system, BlinkMacSystemFont,Inter;
}

:root {
	--bc-right-sidebar__inline-references: #292929;
}

:root {
	--bc-right-sidebar__toprow: #222222;
}

:root {
	--bb-right-sidebar__window: 1px solid #333333;
}

:root {
	--co-right-sidebar__window-title: #f4f4f4;
}

:root {
	--bc-roam-css__button--active: #ff9202;
	--bt-roam-css__button--active: none;
	--br-roam-css__button--active: none;
	--bb-roam-css__button--active: none;
	--bl-roam-css__button--active: none;
	--bd-roam-css__button--active: 5px;
	--co-roam-css__button--active: #f4f4f4;
}

:root {
	--bc-roam-css__button--active-hover: #ff9202;
	--bt-roam-css__button--active-hover: none;
	--br-roam-css__button--active-hover: none;
	--bb-roam-css__button--active-hover: none;
	--bl-roam-css__button--active-hover: none;
	--bd-roam-css__button--active-hover: 5px;
	--co-roam-css__button--active-hover: #f4f4f4;
}

:root {
	--bc-roam-css__button--inactive: #ff3e69;
	--bt-roam-css__button--inactive: none;
	--br-roam-css__button--inactive: none;
	--bb-roam-css__button--inactive: none;
	--bl-roam-css__button--inactive: none;
	--bd-roam-css__button--inactive: 5px;
	--co-roam-css__button--inactive: #f4f4f4;
}

:root {
	--bc-roam-css__button--inactive-hover: #ff3e69;
	--bt-roam-css__button--inactive-hover: none;
	--br-roam-css__button--inactive-hover: none;
	--bb-roam-css__button--inactive-hover: none;
	--bl-roam-css__button--inactive-hover: none;
	--bd-roam-css__button--inactive-hover: 5px;
	--co-roam-css__button--inactive-hover: #f4f4f4;
}

:root {
	--bc-roam-css__container-active: #322b20;
	--bt-roam-css__container-active: none;
	--br-roam-css__container-active: none;
	--bb-roam-css__container-active: none;
	--bl-roam-css__container-active: none;
	--bd-roam-css__container-active: 5px;
	--co-roam-css__container-active: #fac379;
}

:root {
	--bc-roam-css__container-inactive: #322427;
	--bt-roam-css__container-inactive: none;
	--br-roam-css__container-inactive: none;
	--bb-roam-css__container-inactive: none;
	--bl-roam-css__container-inactive: none;
	--bd-roam-css__container-inactive: 5px;
	--co-roam-css__container-inactive: #f99aae;
}

:root {
	--bc-roam-js__button--active: #ff9202;
	--bt-roam-js__button--active: none;
	--br-roam-js__button--active: none;
	--bb-roam-js__button--active: none;
	--bl-roam-js__button--active: none;
	--bd-roam-js__button--active: 5px;
	--co-roam-js__button--active: #f4f4f4;
}

:root {
	--bc-roam-js__button--active-hover: #ff9202;
	--bt-roam-js__button--active-hover: none;
	--br-roam-js__button--active-hover: none;
	--bb-roam-js__button--active-hover: none;
	--bl-roam-js__button--active-hover: none;
	--bd-roam-js__button--active-hover: 5px;
	--co-roam-js__button--active-hover: #f4f4f4;
}

:root {
	--bc-roam-js__button--inactive: #ff3e69;
	--bt-roam-js__button--inactive: none;
	--br-roam-js__button--inactive: none;
	--bb-roam-js__button--inactive: none;
	--bl-roam-js__button--inactive: none;
	--bd-roam-js__button--inactive: 5px;
	--co-roam-js__button--inactive: #f4f4f4;
}

:root {
	--bc-roam-js__button--inactive-hover: #ff3e69;
	--bt-roam-js__button--inactive-hover: none;
	--br-roam-js__button--inactive-hover: none;
	--bb-roam-js__button--inactive-hover: none;
	--bl-roam-js__button--inactive-hover: none;
	--bd-roam-js__button--inactive-hover: 5px;
	--co-roam-js__button--inactive-hover: #f4f4f4;
}

:root {
	--bc-roam-js__container-active: #322b20;
	--bt-roam-js__container-active: none;
	--br-roam-js__container-active: none;
	--bb-roam-js__container-active: none;
	--bl-roam-js__container-active: none;
	--bd-roam-js__container-active: 5px;
	--co-roam-js__container-active: #fac379;
}

:root {
	--bc-roam-js__container-inactive: #322427;
	--bt-roam-js__container-inactive: none;
	--br-roam-js__container-inactive: none;
	--bb-roam-js__container-inactive: none;
	--bl-roam-js__container-inactive: none;
	--bd-roam-js__container-inactive: 5px;
	--co-roam-js__container-inactive: #f99aae;
}

:root {
	--bc-roam42__cp-menu-item--hover: #1c1c1c;
	--bt-roam42__cp-menu-item--hover: none;
	--br-roam42__cp-menu-item--hover: none;
	--bb-roam42__cp-menu-item--hover: none;
	--bl-roam42__cp-menu-item--hover: none;
	--bd-roam42__cp-menu-item--hover: 5px;
	--co-roam42__cp-menu-item--hover: #f4f4f4;
}

:root {
	--bc-roam42__cp-menu-item--selected: #1c1c1c;
	--bt-roam42__cp-menu-item--selected: none;
	--br-roam42__cp-menu-item--selected: none;
	--bb-roam42__cp-menu-item--selected: none;
	--bl-roam42__cp-menu-item--selected: none;
	--bd-roam42__cp-menu-item--selected: 5px;
}

:root {
	--bt-roam42__cp-menu-item: none;
	--br-roam42__cp-menu-item: none;
	--bb-roam42__cp-menu-item: none;
	--bl-roam42__cp-menu-item: none;
	--bd-roam42__cp-menu-item: 5px;
}

:root {
	--bc-roam42__cp-menu-item-active--hover: #1c1c1c;
	--bt-roam42__cp-menu-item-active--hover: none;
	--br-roam42__cp-menu-item-active--hover: none;
	--bb-roam42__cp-menu-item-active--hover: none;
	--bl-roam42__cp-menu-item-active--hover: none;
	--bd-roam42__cp-menu-item-active--hover: 5px;
}

:root {
	--bc-roam42__cp-menu-shortcut: transparent;
	--bd-roam42__cp-menu-shortcut: 5px;
	--co-roam42__cp-menu-shortcut: #97999c;
}

:root {
	--bc-roam42__jj-menu: transparent;
	--bt-roam42__jj-menu: none;
	--br-roam42__jj-menu: none;
	--bb-roam42__jj-menu: none;
	--bl-roam42__jj-menu: none;
	--bd-roam42__jj-menu: 5px;
}

:root {
	--bc-roam42__jj-menu-item--highlight: #1c1c1c;
	--bt-roam42__jj-menu-item--highlight: none;
	--br-roam42__jj-menu-item--highlight: none;
	--bb-roam42__jj-menu-item--highlight: none;
	--bl-roam42__jj-menu-item--highlight: none;
	--bd-roam42__jj-menu-item--highlight: 5px;
}

:root {
	--bc-roam42__jj-menu-item--hover: #1c1c1c;
	--bt-roam42__jj-menu-item--hover: none;
	--br-roam42__jj-menu-item--hover: none;
	--bb-roam42__jj-menu-item--hover: none;
	--bl-roam42__jj-menu-item--hover: none;
	--bd-roam42__jj-menu-item--hover: 5px;
	--co-roam42__jj-menu-item--hover: #f4f4f4;
}

:root {
	--bc-roam42__jj-menu-item: transparent;
	--bt-roam42__jj-menu-item: none;
	--br-roam42__jj-menu-item: none;
	--bb-roam42__jj-menu-item: none;
	--bl-roam42__jj-menu-item: none;
	--bd-roam42__jj-menu-item: 5px;
}

:root {
	--bc-settings__auth-provider: transparent;
	--bt-settings__auth-provider: 1px solid #686868;
	--br-settings__auth-provider: 1px solid #686868;
	--bb-settings__auth-provider: 1px solid #686868;
	--bl-settings__auth-provider: 1px solid #686868;
	--bd-settings__auth-provider: 5px;
	--co-settings__auth-provider: #f4f4f4;
}

:root {
	--bt-settings__button: 2px solid #414141;
	--br-settings__button: 2px solid #414141;
	--bb-settings__button: 2px solid #414141;
	--bl-settings__button: 2px solid #414141;
	--bd-settings__button: 5px;
	--co-settings__button: #f4f4f4;
}

:root {
	--bd-settings__container: 5px;
}

:root {
	--bc-settings__container: #222222;
	--bt-settings__container: 1px solid #686868;
	--br-settings__container: 1px solid #686868;
	--bb-settings__container: 1px solid #686868;
	--bl-settings__container: 1px solid #686868;
	--co-settings__container: #f4f4f4;
	--fs-settings__container: 0.9rem;
}

:root {
	--co-settings__description: #dbdfe3;
}

:root {
	--co-settings__email-header: #f4f4f4;
	--td-settings__email-header: none;
}

:root {
	--bc-settings__extensions: transparent;
}

:root {
	--co-settings__filelist-item: #f4f4f4;
}

:root {
	--fs-settings__h4: 1.1rem;
	--fw-settings__h4: 600;
}

:root {
	--co-settings__heading: #9b9da0;
	--fs-settings__heading: 0.8rem;
	--fw-settings__heading: 600;
}

:root {
	--bc-settings__hotkeys: #1e1e1e;
	--co-settings__hotkeys: #f4f4f4;
}

:root {
	--bc-settings__input--focus: transparent;
	--bt-settings__input--focus: 1px solid #404040;
	--br-settings__input--focus: 1px solid #404040;
	--bb-settings__input--focus: 1px solid #404040;
	--bl-settings__input--focus: 1px solid #404040;
}

:root {
	--co-settings__input--placeholder: #5d5d5d;
}

:root {
	--bc-settings__input: transparent;
	--bt-settings__input: 1px solid #404040;
	--br-settings__input: 1px solid #404040;
	--bb-settings__input: 1px solid #404040;
	--bl-settings__input: 1px solid #404040;
	--bd-settings__input: 5px;
	--co-settings__input: #f4f4f4;
}

:root {
	--bc-settings__items--hover: #1e1e1e;
	--bt-settings__items--hover: none;
	--br-settings__items--hover: none;
	--bb-settings__items--hover: none;
	--bl-settings__items--hover: none;
	--bd-settings__items--hover: 5px;
	--co-settings__items--hover: #f4f4f4;
}

:root {
	--bc-settings__items--selected: #313131;
	--bt-settings__items--selected: none;
	--br-settings__items--selected: none;
	--bb-settings__items--selected: none;
	--bl-settings__items--selected: none;
	--bd-settings__items--selected: 5px;
	--co-settings__items--selected: #f4f4f4;
}

:root {
	--bc-settings__items: transparent;
	--bt-settings__items: none;
	--br-settings__items: none;
	--bb-settings__items: none;
	--bl-settings__items: none;
	--bd-settings__items: 5px;
	--co-settings__items: #f4f4f4;
}

:root {
	--bc-settings__items-selected--before: transparent;
}

:root {
	--bt-settings__panel: none;
}

:root {
	--bc-settings__password-input--focus: #1e1e1e;
	--bt-settings__password-input--focus: none;
	--br-settings__password-input--focus: none;
	--bb-settings__password-input--focus: none;
	--bl-settings__password-input--focus: none;
}

:root {
	--co-settings__password-input--placeholder: #f4f4f4;
}

:root {
	--bc-settings__password-input: #1e1e1e;
	--bt-settings__password-input: none;
	--br-settings__password-input: none;
	--bb-settings__password-input: none;
	--bl-settings__password-input: none;
	--bd-settings__password-input: 5px;
	--co-settings__password-input: #f4f4f4;
}

:root {
	--bc-settings__scrollbar-thumb: #9d9d9d;
	--bd-settings__scrollbar-thumb: 5px;
}

:root {
	--bc-settings__scrollbar-track: #222222;
	--bd-settings__scrollbar-track: 5px;
}

:root {
	--bc-settings__select-wrapper: transparent;
	--bt-settings__select-wrapper: none;
	--br-settings__select-wrapper: none;
	--bb-settings__select-wrapper: none;
	--bl-settings__select-wrapper: none;
	--bd-settings__select-wrapper: 5px;
}

:root {
	--fs-settings__tab: 0.9rem;
}

:root {
	--bc-settings__tab-list: #1e1e1e;
	--br-settings__tab-list: 1px solid #292929;
}

:root {
	--bc-span--highlighted: #706c2e;
}

:root {
	--co-starred__icon: #f4f4f4;
}

:root {
	--bc-starred__page--hover: #232323;
	--bt-starred__page--hover: none;
	--br-starred__page--hover: none;
	--bb-starred__page--hover: none;
	--bl-starred__page--hover: none;
	--co-starred__page--hover: #d0d4d7;
	--td-starred__page--hover: none;
}

:root {
	--bt-starred__page: none;
	--br-starred__page: none;
	--bb-starred__page: none;
	--bl-starred__page: none;
	--bd-starred__page: 5px;
	--co-starred__page: #9ea2a4;
	--ff-starred__page: -apple-system, BlinkMacSystemFont,Inter;
	--fs-starred__page: 0.95rem;
	--ft-starred__page: normal;
	--fw-starred__page: 400;
	--tt-starred__page: none;
}

:root {
	--co-starred__title: #787878;
	--ff-starred__title: -apple-system, BlinkMacSystemFont,Inter;
	--fs-starred__title: 0.95rem;
	--ft-starred__title: normal;
	--fw-starred__title: 500;
	--tt-starred__title: capitalize;
}

:root {
	--bc-sync--saving-local: #ff9202;
}

:root {
	--bc-sync--saving-remote: #ff3e69;
}

:root {
	--bc-sync--synced: #03ffb9;
}

:root {
	--bc-table__header: transparent;
	--bt-table__header: 1px solid #4c4c4c;
	--br-table__header: 1px solid #4c4c4c;
	--bb-table__header: 1px solid #4c4c4c;
	--bl-table__header: 1px solid #4c4c4c;
	--co-table__header: #f4f4f4;
	--fs-table__header: 1rem;
	--fw-table__header: 500;
}

:root {
	--bc-table: transparent;
	--bt-table: 1px solid #4c4c4c;
	--br-table: 1px solid #4c4c4c;
	--bb-table: 1px solid #4c4c4c;
	--bl-table: 1px solid #4c4c4c;
	--co-table: #f4f4f4;
	--fs-table: 1rem;
}

:root {
	--bc-tags--hover: #424647;
	--bt-tags--hover: none;
	--br-tags--hover: none;
	--bb-tags--hover: none;
	--bl-tags--hover: none;
	--bd-tags--hover: 10px;
	--co-tags--hover: #a0a0a0;
}

:root {
	--bc-tags: #363a3c;
	--bt-tags: none;
	--br-tags: none;
	--bb-tags: none;
	--bl-tags: none;
	--bd-tags: 10px;
	--co-tags: #a0a0a0;
	--ff-tags: -apple-system, BlinkMacSystemFont,Inter;
	--fs-tags: 0.9rem;
	--ft-tags: normal;
	--fw-tags: 500;
	--td-tags: none;
	--tt-tags: none;
}

:root {
	--bc-textarea__selection: #a0a0a0;
}

:root {
}

:root {
	--bc-tooltip: #3d4145;
	--bt-tooltip: 1px solid #4b4d50;
	--br-tooltip: 1px solid #4b4d50;
	--bb-tooltip: 1px solid #4b4d50;
	--bl-tooltip: 1px solid #4b4d50;
	--bd-tooltip: 5px;
	--co-tooltip: #e9eaea;
	--fs-tooltip: 0.9rem;
}

:root {
	--bc-topbar__container: transparent;
	--bt-topbar__container: none;
	--br-topbar__container: none;
	--bb-topbar__container: none;
	--bl-topbar__container: none;
	--bd-topbar__container: 5px;
	--sd-topbar__container: none;
}

:root {
	--bc-topbar-datepicker__day--hover: #292929;
	--bd-topbar-datepicker__day--hover: 5px;
	--co-topbar-datepicker__day--hover: #f4f4f4;
}

:root {
	--bc-topbar-datepicker__day--selected: #f4f4f4;
	--bd-topbar-datepicker__day--selected: 5px;
	--co-topbar-datepicker__day--selected: #202020;
}

:root {
	--co-topbar-datepicker__day: #f4f4f4;
}

:root {
	--bc-topbar-datepicker__day-selected--hover: #f4f4f4;
	--bd-topbar-datepicker__day-selected--hover: 5px;
	--co-topbar-datepicker__day-selected--hover: #202020;
}

:root {
	--co-topbar-datepicker__day-without-page: #646464;
}

:root {
	--bc-topbar-datepicker__nav-button--hover: #292929;
	--bt-topbar-datepicker__nav-button--hover: none;
	--br-topbar-datepicker__nav-button--hover: none;
	--bb-topbar-datepicker__nav-button--hover: none;
	--bl-topbar-datepicker__nav-button--hover: none;
	--bd-topbar-datepicker__nav-button--hover: 5px;
	--co-topbar-datepicker__nav-button--hover: #f4f4f4;
}

:root {
	--co-topbar-datepicker__nav-button--hover: #f4f4f4;
}

:root {
	--bc-topbar-datepicker__nav-button: transparent;
	--bt-topbar-datepicker__nav-button: none;
	--br-topbar-datepicker__nav-button: none;
	--bb-topbar-datepicker__nav-button: none;
	--bl-topbar-datepicker__nav-button: none;
	--bd-topbar-datepicker__nav-button: 5px;
}

:root {
	--co-topbar-datepicker__nav-button: #f4f4f4;
}

:root {
	--bc-topbar-datepicker__outside: transparent;
}

:root {
	--bc-topbar-datepicker__today--selected: #2fa5d2;
	--co-topbar-datepicker__today--selected: #f2f2f2;
}

:root {
	--bc-topbar-datepicker__today: #222c31;
	--co-topbar-datepicker__today: #f4f4f4;
	--fw-topbar-datepicker__today: 400;
}

:root {
	--bc-topbar-datepicker__today-selected--hover: #2fa5d2;
}

:root {
	--co-topbar-datepicker__weekdays: #646464;
}

:root {
	--br-topbar-datepicker__weeknumber: none;
	--co-topbar-datepicker__weeknumber: #646464;
	--ff-topbar-datepicker__weeknumber: -apple-system, BlinkMacSystemFont,Inter;
	--fs-topbar-datepicker__weeknumber: 1rem;
}

:root {
	--bc-topbar-datepicker: transparent;
	--bt-topbar-datepicker: none;
	--br-topbar-datepicker: none;
	--bb-topbar-datepicker: none;
	--bl-topbar-datepicker: none;
	--bd-topbar-datepicker: 5px;
	--co-topbar-datepicker: #f4f4f4;
	--ff-topbar-datepicker: -apple-system, BlinkMacSystemFont,Inter;
}

:root {
	--bc-topbar-datepicker-html__select--hover: transparent;
	--co-topbar-datepicker-html__select--hover: #f4f4f4;
}

:root {
	--co-topbar-datepicker-html__select: #f4f4f4;
	--ff-topbar-datepicker-html__select: -apple-system, BlinkMacSystemFont,Inter;
	--fs-topbar-datepicker-html__select: 1rem;
}

:root {
	--co-topbar-datepicker-html__select-icon--hover: #f4f4f4;
}

:root {
	--co-topbar-datepicker-html__select-icon: #f4f4f4;
}

:root {
	--bc-version__bullet: #4c4c4c;
}

:root {
	--bb-version__choice: 1px solid #333333;
}

:root {
	--bc-zoom__mask: transparent;
}

:root {
	--co-zoom-item: #7a7a7a;
	--fs-zoom-item: 1rem;
}

:root {
	--co-zotero__h5: #f4f4f4;
}

:root {
	--bc-zotero__page-menu: #0a0a0a;
	--bt-zotero__page-menu: 1px solid #222222;
	--br-zotero__page-menu: 1px solid #222222;
	--bb-zotero__page-menu: 1px solid #222222;
	--bl-zotero__page-menu: 1px solid #222222;
	--bd-zotero__page-menu: 5px;
	--sd-zotero__page-menu: ;
}

:root {
	--bc-zotero__primary: ;
	--bt-zotero__primary: ;
	--br-zotero__primary: ;
	--bb-zotero__primary: ;
	--bl-zotero__primary: ;
	--bd-zotero__primary: ;
	--sd-zotero__primary: ;
	--co-zotero__primary: ;
}

:root {
	--bc-zotero__primary: ;
	--bt-zotero__primary: ;
	--br-zotero__primary: ;
	--bb-zotero__primary: ;
	--bl-zotero__primary: ;
	--bd-zotero__primary: ;
	--sd-zotero__primary: ;
	--co-zotero__primary: #f4f4f4;
}

:root {
	--bc-zotero__sequence: transparent;
	--br-zotero__sequence: none;
	--fs-zotero__sequence: 1rem;
}

:root {
	--co-zotero__search-highlight--hover: ;
}

:root {
	--co-zotero__search-secondary--hover: ;
}

:root {
	--co-zotero__search-highlight: ;
}

:root {
	--co-zotero__search-secondary: ;
}

