@import url('https://rcvd.github.io/roam-css-system/fonts/things.css');
@import url('https://rcvd.github.io/roam-css-system/internal/colors-things.css');
@import url('https://rcvd.github.io/roam-css-system/internal/roam-css-system.css');
@import url('https://rcvd.github.io/roam-css-system/internal/additional-fixes-things.css');


:root {
	--co-a--hover: #65a9f9;
	--td-a--hover: none;
}

:root {
	--co-a: #65a9f9;
	--td-a: none;
}

:root {
	--bl-alias__tooltip-content-bq: 1px solid var(--cl-gray-600);
	--co-alias__tooltip-content-bq: ;
}

:root {
	--co-alias__tooltip-external--hover: ;
}

:root {
	--co-alias__tooltip-external: ;
}

:root {
	--bc-allpages__checkbox: transparent;
	--bt-allpages__checkbox: 1px solid #747474;
	--br-allpages__checkbox: 1px solid #747474;
	--bb-allpages__checkbox: 1px solid #747474;
	--bl-allpages__checkbox: 1px solid #747474;
	--bd-allpages__checkbox: 3px;
	--sd-allpages__checkbox: ;
	--fs-allpages__checkbox: ;
}

:root {
	--bc-allpages__clickable-pill: transparent;
	--bt-allpages__clickable-pill: none;
	--br-allpages__clickable-pill: none;
	--bb-allpages__clickable-pill: none;
	--bl-allpages__clickable-pill: none;
	--bd-allpages__clickable-pill: ;
	--co-allpages__clickable-pill: #676767;
	--fs-allpages__clickable-pill: ;
	--fw-allpages__clickable-pill: ;
	--op-allpages__clickable-pill: ;
}

:root {
	--bc-allpages__clickable-pill-1: transparent;
	--bt-allpages__clickable-pill-1: none;
	--br-allpages__clickable-pill-1: none;
	--bb-allpages__clickable-pill-1: none;
	--bl-allpages__clickable-pill-1: none;
	--co-allpages__clickable-pill-1: #676767;
	--op-allpages__clickable-pill-1: 1;
}

:root {
	--bc-allpages__clickable-pill-2: transparent;
	--bt-allpages__clickable-pill-2: none;
	--br-allpages__clickable-pill-2: none;
	--bb-allpages__clickable-pill-2: none;
	--bl-allpages__clickable-pill-2: none;
	--co-allpages__clickable-pill-2: #676767;
	--op-allpages__clickable-pill-2: 1;
}

:root {
	--bc-allpages__clickable-pill-3: transparent;
	--bt-allpages__clickable-pill-3: none;
	--br-allpages__clickable-pill-3: none;
	--bb-allpages__clickable-pill-3: none;
	--bl-allpages__clickable-pill-3: none;
	--co-allpages__clickable-pill-3: #676767;
	--op-allpages__clickable-pill-3: 1;
}

:root {
	--bc-allpages__clickable-pill-empty: transparent;
	--bt-allpages__clickable-pill-empty: none;
	--br-allpages__clickable-pill-empty: none;
	--bb-allpages__clickable-pill-empty: none;
	--bl-allpages__clickable-pill-empty: none;
	--co-allpages__clickable-pill-empty: #676767;
	--op-allpages__clickable-pill-empty: ;
}

:root {
	--bt-allpages__input--focused: none;
	--br-allpages__input--focused: none;
	--bb-allpages__input--focused: none;
	--bl-allpages__input--focused: none;
}

:root {
	--bc-allpages__input: transparent;
	--bt-allpages__input: none;
	--br-allpages__input: none;
	--bb-allpages__input: none;
	--bl-allpages__input: none;
	--bd-allpages__input: 0px;
	--sd-allpages__input: none;
	--co-allpages__input: #adadac;
	--fs-allpages__input: 1rem;
	--fw-allpages__input: normal;
}

:root {
	--co-allpages__input-icon--focused: ;
}

:root {
	--co-allpages__input-icon: #787877;
}

:root {
	--bb-allpages__row: none;
	--co-allpages__row: #818180;
}

:root {
	--bc-allpages__row-header: transparent;
	--bb-allpages__row-header: 1px solid #424141;
	--bd-allpages__row-header: 0px;
	--co-allpages__row-header: #ffffff;
	--fs-allpages__row-header: 1rem;
	--fw-allpages__row-header: 700;
}

:root {
	--co-allpages__sort-button--focused: #67acfe;
	--fw-allpages__sort-button--focused: ;
}

:root {
	--co-allpages__sorted-header-text: #ffffff;
	--fw-allpages__sorted-header-text: 700;
}

:root {
	--co-allpages__title-col: #959595;
}

:root {
	--co-allpages__title-header: #ffffff;
}

:root {
	--co-allpages__title-text: #ffffff;
}

:root {
	--co-app__h1: #ffffff;
	--ff-app__h1: ;
	--ft-app__h1: ;
	--fw-app__h1: normal;
}

:root {
	--bc-app: #2b2a2a;
	--co-app: #ffffff;
}

:root {
	--co-attributes: #848484;
	--ft-attributes: ;
	--fw-attributes: bold;
}

:root {
	--co-block__ghost: #7d7d7d;
}

:root {
	--bc-block-highlight--blue: #383c3e;
	--co-block-highlight--blue: #ffffff;
}

:root {
	--bc-block-highlight--grey: #414141;
	--co-block-highlight--grey: #ffffff;
}

:root {
	--bc-block-highlight--yellow: #4f482b;
	--co-block-highlight--yellow: #ffffff;
}

:root {
	--bc-block-ref--hover: transparent;
	--co-block-ref--hover: #939393;
}

:root {
	--bb-block-ref: .5px dotted #464646;
}

:root {
	--co-brackets: #6d6e6d;
}

:root {
	--bt-bullet__closed: 4px solid #666767;
	--br-bullet__closed: 4px solid #666767;
	--bb-bullet__closed: 4px solid #666767;
	--bl-bullet__closed: 4px solid #666767;
}

:root {
	--bc-bullet__ghost: #666767;
}

:root {
	--bc-bullet__inner: #666767;
}

:root {
	--bc-button__cancel--hover: #5e5e5e;
	--bt-button__cancel--hover: 1px solid #707171;
	--br-button__cancel--hover: 1px solid #707171;
	--bb-button__cancel--hover: 1px solid #707171;
	--bl-button__cancel--hover: 1px solid #707171;
	--sd-button__cancel--hover: ;
	--co-button__cancel--hover: #e6e7e7;
}

:root {
	--bc-button__cancel: #5e5e5e;
	--bt-button__cancel: 1px solid #707171;
	--br-button__cancel: 1px solid #707171;
	--bb-button__cancel: 1px solid #707171;
	--bl-button__cancel: 1px solid #707171;
	--bd-button__cancel: ;
	--sd-button__cancel: ;
	--co-button__cancel: #e6e7e7;
}

:root {
	--bc-button__danger--hover: #cf3350;
	--bt-button__danger--hover: none;
	--br-button__danger--hover: none;
	--bb-button__danger--hover: none;
	--bl-button__danger--hover: none;
	--sd-button__danger--hover: none;
	--co-button__danger--hover: #2c2227;
}

:root {
	--bc-button__danger: #cf3350;
	--bt-button__danger: none;
	--br-button__danger: none;
	--bb-button__danger: none;
	--bl-button__danger: none;
	--bd-button__danger: ;
	--sd-button__danger: none;
	--co-button__danger: #2c2227;
}

:root {
	--co-button__icon--hover: #a5a7ab;
}

:root {
	--co-button__icon: #a5a7ab;
}

:root {
	--bc-button__minimal--hover: transparent;
	--bd-button__minimal--hover: ;
	--sd-button__minimal--hover: none;
	--co-button__minimal--hover: #dfeaf9;
	--td-button__minimal--hover: ;
}

:root {
	--bc-button__minimal: transparent;
	--bd-button__minimal: ;
	--sd-button__minimal: none;
}

:root {
	--bc-button__primary--hover: #1574d8;
	--bt-button__primary--hover: none;
	--br-button__primary--hover: none;
	--bb-button__primary--hover: none;
	--bl-button__primary--hover: none;
	--sd-button__primary--hover: none;
	--co-button__primary--hover: #dfeaf9;
}

:root {
	--bc-button__primary: #1574d8;
	--bt-button__primary: none;
	--br-button__primary: none;
	--bb-button__primary: none;
	--bl-button__primary: none;
	--bd-button__primary: ;
	--sd-button__primary: none;
	--co-button__primary: #dfeaf9;
}

:root {
	--bc-button__warning--hover: #f3d12c;
	--bt-button__warning--hover: none;
	--br-button__warning--hover: none;
	--bb-button__warning--hover: none;
	--bl-button__warning--hover: none;
	--sd-button__warning--hover: none;
	--co-button__warning--hover: #2c2504;
}

:root {
	--bc-button__warning: #f3d12c;
	--bt-button__warning: none;
	--br-button__warning: none;
	--bb-button__warning: none;
	--bl-button__warning: none;
	--bd-button__warning: ;
	--sd-button__warning: none;
	--co-button__warning: #2c2504;
}

:root {
	--bc-button__minimal--active: transparent;
	--sd-button__minimal--active: none;
	--co-button__minimal--active: #dfeaf9;
}

:root {
	--co-button__minimal-icon--active: #a5a7ab;
}

:root {
	--bt-button--default: none;
	--br-button--default: none;
	--bb-button--default: none;
	--bl-button--default: none;
	--bd-button--default: ;
	--fs-button--default: ;
}

:root {
	--bc-button--hover: transparent;
	--sd-button--hover: none;
	--co-button--hover: #a5a7ab;
}

:root {
	--bc-button: transparent;
	--sd-button: none;
	--co-button: #a5a7ab;
	--ff-button: ;
}

:root {
	--co-callout__icon: ;
}

:root {
	--bc-callout__primary: ;
	--bt-callout__primary: ;
	--br-callout__primary: ;
	--bb-callout__primary: ;
	--bl-callout__primary: ;
	--bd-callout__primary: ;
	--fs-callout__primary: ;
}

:root {
	--bc-card: #1c1c1c;
	--bt-card: 1px solid #161616;
	--br-card: 1px solid #161616;
	--bb-card: 1px solid #161616;
	--bl-card: 1px solid #161616;
	--bd-card: 5px;
	--sd-card: 3px 3px 11px 3px rgba(0,0,0,0.1);
}

:root {
	--co-caret: ;
}

:root {
	--bt-checkmark__mark--checked: 0px;
	--br-checkmark__mark--checked: 2px solid #262626;
	--bb-checkmark__mark--checked: 2px solid #262626;
	--bl-checkmark__mark--checked: 0px;
}

:root {
	--bc-checkmark--checked: #64a6f5;
	--bt-checkmark--checked: ;
	--br-checkmark--checked: ;
	--bb-checkmark--checked: ;
	--bl-checkmark--checked: ;
}

:root {
	--bt-checkmark: 1px solid #6e6e6e;
	--br-checkmark: 1px solid #6e6e6e;
	--bb-checkmark: 1px solid #6e6e6e;
	--bl-checkmark: 1px solid #6e6e6e;
	--bd-checkmark: 3px;
}

:root {
	--bc-code: #222222;
	--bt-code: 1px solid #151515;
	--br-code: 1px solid #151515;
	--bb-code: 1px solid #151515;
	--bl-code: 1px solid #151515;
	--bd-code: 5px;
	--co-code: #ffffff;
	--ff-code: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;;
	--fs-code: 0.95rem;
}

:root {
	--co-codeblock__atom: var(--cl-indigo-300);
}

:root {
	--co-codeblock__attribute: var(--cl-blue-500);
}

:root {
	--co-codeblock__bracket: var(--cl-gray-600);
}

:root {
	--co-codeblock__builtin: var(--cl-indigo-400);
}

:root {
	--ff-codeblock__code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;;
	--fs-codeblock__code: 1rem;
}

:root {
	--co-codeblock__comment: var(--cl-yellow-300);
}

:root {
	--bc-codeblock__container: #222222;
	--bt-codeblock__container: ;
	--br-codeblock__container: none;
	--bb-codeblock__container: ;
	--bl-codeblock__container: ;
	--bd-codeblock__container: 5px;
	--co-codeblock__container: var(--cl-gray-100);
}

:root {
	--br-codeblock__cursor: 1px solid #5c9df5;
	--bl-codeblock__cursor: ;
}

:root {
	--co-codeblock__def: var(--cl-blue-400);
}

:root {
	--co-codeblock__error: var(--cl-red-500);
}

:root {
	--bc-codeblock__gutters: #222222;
	--bt-codeblock__gutters: ;
	--br-codeblock__gutters: none;
	--bb-codeblock__gutters: ;
	--bl-codeblock__gutters: ;
	--bd-codeblock__gutters: 5px;
}

:root {
	--ff-codeblock__gutter: ;
	--fs-codeblock__gutter: ;
	--ft-codeblock__gutter: ;
	--fw-codeblock__gutter: ;
}

:root {
	--co-codeblock__hr: var(--cl-gray-500);
}

:root {
	--co-codeblock__invalidchar: var(--cl-red-500);
}

:root {
	--co-codeblock__keyword: var(--cl-pink-300);
}

:root {
	--co-codeblock__link: var(--cl-blue-300);
}

:root {
	--co-codeblock__matchingbracket: var(--cl-green-500);
}

:root {
	--co-codeblock__meta: var(--cl-gray-300);
}

:root {
	--co-codeblock__nonmatchingbracket: var(--cl-red-500);
}

:root {
	--co-codeblock__number: var(--cl-green-300);
}

:root {
	--co-codeblock__qualifier: var(--cl-gray-300);
}

:root {
	--bc-codeblock__searching: ;
}

:root {
	--bc-codeblock__selected--focused: #2260ae;
}

:root {
	--bc-codeblock__selected: #585958;
}

:root {
	--co-codeblock__string: var(--cl-red-500);
}

:root {
	--co-codeblock__string-2: var(--cl-yellow-600);
}

:root {
	--co-codeblock__tag: var(--cl-green-300);
}

:root {
	--co-codeblock__type: var(--cl-green-300);
}

:root {
	--co-codeblock__variable-2: var(--cl-blue-300);
}

:root {
	--bc-datepicker__day--hover: #296cbe;
	--bd-datepicker__day--hover: 2px;
	--co-datepicker__day--hover: var(--cl-white);
}

:root {
	--bc-datepicker__nav-button--hover: #266bbd;
	--bt-datepicker__nav-button--hover: ;
	--br-datepicker__nav-button--hover: ;
	--bb-datepicker__nav-button--hover: ;
	--bl-datepicker__nav-button--hover: ;
	--bd-datepicker__nav-button--hover: 2px;
}

:root {
	--co-datepicker__nav-button--hover: #ffffff;
}

:root {
	--bc-datepicker__nav-button: transparent;
	--bt-datepicker__nav-button: ;
	--br-datepicker__nav-button: ;
	--bb-datepicker__nav-button: ;
	--bl-datepicker__nav-button: ;
	--bd-datepicker__nav-button: 2px;
}

:root {
	--co-datepicker__nav-button: ;
}

:root {
	--bc-datepicker__outside--hover: transparent;
}

:root {
	--bc-datepicker__select--hover: #67acfe;
	--co-datepicker__select--hover: #fbfdfd;
}

:root {
	--co-datepicker__select: #fbfdfd;
}

:root {
	--co-datepicker__select-icon: #fbfdfd;
}

:root {
	--co-datepicker__today: #fbfbfb;
	--fw-datepicker__today: bold;
}

:root {
	--co-datepicker__weekdays: #939393;
}

:root {
	--br-datepicker__weeknumber: 1px solid #373737;
	--co-datepicker__weeknumber: #939393;
	--ff-datepicker__weeknumber: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-datepicker__weeknumber: 1rem;
}

:root {
	--bc-datepicker: #262626;
	--bt-datepicker: 1px solid #373737;
	--br-datepicker: 1px solid #373737;
	--bb-datepicker: 1px solid #373737;
	--bl-datepicker: 1px solid #373737;
	--bd-datepicker: 5px;
	--co-datepicker: #fbfbfb;
	--ff-datepicker: ;
}

:root {
	--co-dialog__heading: var(--cl-gray-100);
	--fs-dialog__heading: ;
	--fw-dialog__heading: ;
}

:root {
	--bc-dialog__upload-button: var(--cl-gray-800);
	--bt-dialog__upload-button: 1px solid var(--cl-gray-700);
	--br-dialog__upload-button: 1px solid var(--cl-gray-700);
	--bb-dialog__upload-button: 1px solid var(--cl-gray-700);
	--bl-dialog__upload-button: 1px solid var(--cl-gray-700);
	--bd-dialog__upload-button: 3px;
	--sd-dialog__upload-button: none;
	--co-dialog__upload-button: var(--cl-gray-100);
}

:root {
	--bc-dialog__upload-input: var(--cl-gray-800);
	--bt-dialog__upload-input: 1px solid var(--cl-gray-700);
	--br-dialog__upload-input: 1px solid var(--cl-gray-700);
	--bb-dialog__upload-input: 1px solid var(--cl-gray-700);
	--bl-dialog__upload-input: 1px solid var(--cl-gray-700);
	--bd-dialog__upload-input: 0px;
	--sd-dialog__upload-input: none;
	--co-dialog__upload-input: var(--cl-gray-100);
}

:root {
	--ff-div: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-div: 1rem;
}

:root {
	--bc-dropbar: var(--cl-gray-500);
}

:root {
	--bc-elevation__container: #262626;
	--bt-elevation__container: 1px solid #373737;
	--br-elevation__container: 1px solid #373737;
	--bb-elevation__container: 1px solid #373737;
	--bl-elevation__container: 1px solid #373737;
	--bd-elevation__container: 5px;
	--sd-elevation__container: 3px 3px 11px 3px rgba(0,0,0,0.1);
}

:root {
	--co-elevation__create-block--selected: #ffffff;
}

:root {
	--co-elevation__create-block: #939393;
}

:root {
	--bc-elevation__item--selected: #262626;
	--bt-elevation__item--selected: none;
	--br-elevation__item--selected: none;
	--bb-elevation__item--selected: none;
	--bl-elevation__item--selected: none;
	--bd-elevation__item--selected: 5px;
	--co-elevation__item--selected: #ffffff;
}

:root {
	--bt-elevation__item: none;
	--br-elevation__item: none;
	--bb-elevation__item: none;
	--bl-elevation__item: none;
	--co-elevation__item: #cdcecd;
	--ff-elevation__item: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
}

:root {
	--co-elevation__item-icon--selected: #ffffff;
}

:root {
	--co-elevation__item-icon: #67acfe;
}

:root {
	--co-elevation__item-keyprompt--selected: #ffffff;
}

:root {
	--co-elevation__item-keyprompt: #939393;
	--fs-elevation__item-keyprompt: 0.8rem;
	--op-elevation__item-keyprompt: 1;
}

:root {
	--co-elevation__search-block: #939393;
}

:root {
	--bc-embed__container-10: #393939;
	--bt-embed__container-10: none;
	--br-embed__container-10: none;
	--bb-embed__container-10: none;
	--bl-embed__container-10: none;
	--bd-embed__container-10: ;
}

:root {
	--bc-embed__container-11: #1c1c1c;
	--bt-embed__container-11: none;
	--br-embed__container-11: none;
	--bb-embed__container-11: none;
	--bl-embed__container-11: none;
	--bd-embed__container-11: ;
}

:root {
	--bc-embed__container-2: #222222;
	--bt-embed__container-2: none;
	--br-embed__container-2: none;
	--bb-embed__container-2: none;
	--bl-embed__container-2: none;
	--bd-embed__container-2: ;
}

:root {
	--bc-embed__container-3: #262626;
	--bt-embed__container-3: none;
	--br-embed__container-3: none;
	--bb-embed__container-3: none;
	--bl-embed__container-3: none;
	--bd-embed__container-3: ;
}

:root {
	--bc-embed__container-4: #2f2f2f;
	--bt-embed__container-4: none;
	--br-embed__container-4: none;
	--bb-embed__container-4: none;
	--bl-embed__container-4: none;
	--bd-embed__container-4: ;
}

:root {
	--bc-embed__container-5: #393939;
	--bt-embed__container-5: none;
	--br-embed__container-5: none;
	--bb-embed__container-5: none;
	--bl-embed__container-5: none;
	--bd-embed__container-5: ;
}

:root {
	--bc-embed__container-6: #1c1c1c;
	--bt-embed__container-6: none;
	--br-embed__container-6: none;
	--bb-embed__container-6: none;
	--bl-embed__container-6: none;
	--bd-embed__container-6: ;
}

:root {
	--bc-embed__container-7: #222222;
	--bt-embed__container-7: none;
	--br-embed__container-7: none;
	--bb-embed__container-7: none;
	--bl-embed__container-7: none;
	--bd-embed__container-7: ;
}

:root {
	--bc-embed__container-8: #262626;
	--bt-embed__container-8: none;
	--br-embed__container-8: none;
	--bb-embed__container-8: none;
	--bl-embed__container-8: none;
	--bd-embed__container-8: ;
}

:root {
	--bc-embed__container-9: #2f2f2f;
	--bt-embed__container-9: none;
	--br-embed__container-9: none;
	--bb-embed__container-9: none;
	--bl-embed__container-9: none;
	--bd-embed__container-9: ;
}

:root {
	--bc-embed: #1c1c1c;
	--bt-embed: none;
	--br-embed: none;
	--bb-embed: none;
	--bl-embed: none;
	--bd-embed: ;
}

:root {
	--bc-embed-page__margin: #262626;
	--bl-embed-page__margin: 1px solid #939393;
}

:root {
	--bt-embed-page__reference-main: 1px solid #747474;
}

:root {
	--fs-embed-page__title: 1rem;
}

:root {
	--bc-embed-page: #393939;
	--bt-embed-page: none;
	--br-embed-page: none;
	--bb-embed-page: none;
	--bl-embed-page: none;
	--bd-embed-page: 0px;
}

:root {
	--bc-emoji-mart__category-label: #333333;
}

:root {
	--bc-emoji-mart: #333333;
	--bt-emoji-mart: 1px solid #5b5b5b;
	--br-emoji-mart: 1px solid #5b5b5b;
	--bb-emoji-mart: 1px solid #5b5b5b;
	--bl-emoji-mart: 1px solid #5b5b5b;
	--bd-emoji-mart: ;
	--co-emoji-mart: #e7e8e7;
	--ff-emoji-mart: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-emoji-mart: 1rem;
}

:root {
	--bc-find-or-create__menu-item--selected: #286bbd;
	--bt-find-or-create__menu-item--selected: none;
	--br-find-or-create__menu-item--selected: none;
	--bb-find-or-create__menu-item--selected: none;
	--bl-find-or-create__menu-item--selected: none;
	--bd-find-or-create__menu-item--selected: 3px;
}

:root {
	--co-find-or-create__menu-item--selected: #ffffff;
}

:root {
	--bt-find-or-create__menu-item: none;
	--br-find-or-create__menu-item: none;
	--bb-find-or-create__menu-item: none;
	--bl-find-or-create__menu-item: none;
}

:root {
	--co-find-or-create__new-page--selected: #ffffff;
}

:root {
	--co-find-or-create__new-page: #67acfe;
}

:root {
	--co-find-or-create__recent: #939393;
}

:root {
	--co-find-or-create__search-list-item: #e7e7e7;
}

:root {
	--co-find-or-create__search-list-item-title: #e7e7e7;
	--fs-find-or-create__search-list-item-title: 1rem;
}

:root {
	--co-graph-dropdown__a--hover: #ebebeb;
	--td-graph-dropdown__a--hover: ;
}

:root {
	--co-graph-dropdown__a: #ebebeb;
	--td-graph-dropdown__a: none;
}

:root {
	--co-graph-dropdown__expand-icon--hover: #dfeaf9;
}

:root {
	--co-graph-dropdown__expand-icon: #dfeaf9;
}

:root {
	--co-graph-dropdown__menu-item: #ebebeb;
	--td-graph-dropdown__menu-item: none;
}

:root {
	--co-graph-dropdown__menu-title: #6d6d6d;
	--fs-graph-dropdown__menu-title: 12px;
	--ft-graph-dropdown__menu-title: normal;
	--fw-graph-dropdown__menu-title: normal;
	--tt-graph-dropdown__menu-title: uppercase;
}

:root {
	--bc-graph-dropdown__setting--hover: #286bbd;
	--co-graph-dropdown__setting--hover: #ebebeb;
}

:root {
	--bc-graph-dropdown__setting: transparent;
	--co-graph-dropdown__setting: #dfeaf9;
	--fs-graph-dropdown__setting: ;
}

:root {
	--co-graph-dropdown__setting-icon--hover: #ebebeb;
	--td-graph-dropdown__setting-icon--hover: none;
}

:root {
	--fs-graph-dropdown__sign-out: ;
	--fw-graph-dropdown__sign-out: ;
	--op-graph-dropdown__sign-out: ;
}

:root {
	--sd-graph-dropdown: 0px 0px 15px 0px rgba(0,0,0,0.2);
	--fs-graph-dropdown: ;
	--fw-graph-dropdown: ;
}

:root {
	--bc-help__categories--hover: transparent;
	--co-help__categories--hover: var(--cl-white);
}

:root {
	--bc-help__categories--selected: #286bbd;
}

:root {
	--co-help__categories: #939393;
}

:root {
	--co-help__category-name: #939393;
	--fs-help__category-name: 1rem;
	--ft-help__category-name: normal;
	--fw-help__category-name: normal;
	--tt-help__category-name: uppercase;
}

:root {
	--co-help__component-description: #6d6e6d;
}

:root {
	--bc-help__component-notation: #1c1c1c;
	--co-help__component-notation: #ebebeb;
	--fs-help__component-notation: 1rem;
}

:root {
	--co-help__component-title: #ebebeb;
	--fs-help__component-title: ;
	--fw-help__component-title: ;
}

:root {
	--co-help__function-name: #ebebeb;
	--fs-help__function-name: 1rem;
	--fw-help__function-name: 500;
}

:root {
	--co-help__help-version: #6d6e6d;
	--fs-help__help-version: 12px;
	--fw-help__help-version: normal;
}

:root {
	--bc-help__icon-container: transparent;
	--bt-help__icon-container: none;
	--br-help__icon-container: none;
	--bb-help__icon-container: none;
	--bl-help__icon-container: none;
}

:root {
	--bc-help__input--focus: #515151;
	--bt-help__input--focus: none;
	--br-help__input--focus: none;
	--bb-help__input--focus: none;
	--bl-help__input--focus: none;
	--bd-help__input--focus: ;
}

:root {
	--bc-help__input: transparent;
	--bt-help__input: none;
	--br-help__input: none;
	--bb-help__input: none;
	--bl-help__input: none;
	--bd-help__input: ;
}

:root {
	--co-help__markdown-md: #939393;
	--fs-help__markdown-md: 12px;
	--fw-help__markdown-md: normal;
	--op-help__markdown-md: 1;
}

:root {
	--co-help__markdown-title: #ebebeb;
	--fs-help__markdown-title: 1rem;
	--fw-help__markdown-title: 500;
}

:root {
	--bc-help__resource--hover: transparent;
}

:root {
	--co-help__resource-description: #939393;
	--fs-help__resource-description: 1rem;
	--fw-help__resource-description: normal;
}

:root {
	--bc-help__resource-icon: transparent;
	--co-help__resource-icon: #939393;
}

:root {
	--co-help__resource-title: #ebebeb;
	--fs-help__resource-title: 1rem;
	--fw-help__resource-title: bold;
}

:root {
	--co-help__title: #ebebeb;
	--fs-help__title: 16px;
}

:root {
	--bc-highlight: #4f482b;
	--co-highlight: #fee692;
}

:root {
	--bt-hr: 1px solid #464646;
	--br-hr: ;
	--bb-hr: ;
	--bl-hr: ;
}

:root {
	--bc-html__select--hover: #286bbd;
	--sd-html__select--hover: ;
	--co-html__select--hover: #fff;
	--td-html__select--hover: ;
}

:root {
	--bc-html__select: ;
	--sd-html__select: ;
	--co-html__select: #fff;
}

:root {
	--co-html__select-icon: #fff;
}

:root {
	--bc-inline-references: #222222;
}

:root {
	--bd-input__search: 0px;
}

:root {
	--co-input__search-icon: #a8a8a9;
}

:root {
	--co-input__search-placeholder: #a8a8a9;
	--ff-input__search-placeholder: ;
}

:root {
	--bc-input--focus: #5c5b5b;
	--bt-input--focus: none;
	--br-input--focus: none;
	--bb-input--focus: none;
	--bl-input--focus: none;
	--bd-input--focus: 5px;
	--sd-input--focus: none;
}

:root {
	--bc-input: transparent;
	--bt-input: none;
	--br-input: none;
	--bb-input: none;
	--bl-input: none;
	--bd-input: ;
	--sd-input: none;
	--co-input: #ebebeb;
	--ff-input: ;
	--fs-input: 1rem;
	--fw-input: normal;
}

:root {
	--bc-install-button--hover: #266bbd;
	--bt-install-button--hover: none;
	--br-install-button--hover: none;
	--bb-install-button--hover: none;
	--bl-install-button--hover: none;
	--bd-install-button--hover: ;
	--co-install-button--hover: #e7e7e7;
}

:root {
	--bc-install-button: #515151;
	--bt-install-button: none;
	--br-install-button: none;
	--bb-install-button: none;
	--bl-install-button: none;
	--bd-install-button: 0px;
	--co-install-button: #e7e7e7;
}

:root {
	--bc-kanban__card: #333333;
	--bt-kanban__card: none;
	--br-kanban__card: none;
	--bb-kanban__card: none;
	--bl-kanban__card: none;
	--bd-kanban__card: ;
}

:root {
	--bc-kanban__column: #262626;
}

:root {
	--bc-kanban__dropbar: #286bbd;
}

:root {
	--bb-kanban__title: #a8a8a9;
}

:root {
	--bc-kanban: #222222;
}

:root {
	--bc-left-sidebar__container: #1c1c1c;
	--br-left-sidebar__container: 1px solid #161716;
}

:root {
	--co-left-sidebar__db-title--hover: #c5c5c5;
}

:root {
	--co-left-sidebar__db-title: #c5c5c5;
	--ff-left-sidebar__db-title: ;
	--fs-left-sidebar__db-title: ;
	--fw-left-sidebar__db-title: 500;
	--tt-left-sidebar__db-title: ;
}

:root {
	--bc-left-sidebar__hr: #1d1c1b;
}

:root {
}

:root {
	--co-left-sidebar__icon: #c5c5c5;
	--fs-left-sidebar__icon: 16px;
}

:root {
	--bc-left-sidebar__logo--hover: transparent;
	--td-left-sidebar__logo--hover: none;
}

:root {
	--td-left-sidebar__logo: none;
}

:root {
	--co-left-sidebar__logo-text: #c5c5c5;
}

:root {
	--bc-left-sidebar__toprow--hover: transparent;
}

:root {
	--bb-level1: 1px solid #464746;
	--co-level1: #ffffff;
	--ff-level1: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-level1: 1rem;
	--ft-level1: ;
	--fw-level1: 700;
	--tt-level1: normal;
}

:root {
	--bb-level2: 1px solid #466a93;
	--co-level2: #64a6f5;
	--ff-level2: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-level2: 1rem;
	--ft-level2: ;
	--fw-level2: 700;
	--tt-level2: normal;
}

:root {
	--bb-level3: none;
	--co-level3: #d1d2d1;
	--ff-level3: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-level3: 1rem;
	--ft-level3: ;
	--fw-level3: 700;
	--tt-level3: normal;
}

:root {
	--co-log-page__h1: #737473;
	--ff-log-page__h1: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-log-page__h1: 22px;
	--ft-log-page__h1: ;
	--fw-log-page__h1: 600;
	--tt-log-page__h1: ;
}

:root {
	--co-log-page__preview: #737473;
}

:root {
	--bt-log-page: 1px solid #464746;
}

:root {
	--bc-logbutton--hover: transparent;
	--bt-logbutton--hover: none;
	--br-logbutton--hover: none;
	--bb-logbutton--hover: none;
	--bl-logbutton--hover: none;
	--co-logbutton--hover: #c5c5c5;
	--td-logbutton--hover: ;
}

:root {
	--co-logbutton: #c5c5c5;
	--ff-logbutton: ;
	--fs-logbutton: 1rem;
	--fw-logbutton: 500;
	--tt-logbutton: normal;
}

:root {
	--bc-main: #262626;
}

:root {
	--co-main: #ffffff;
	--ff-main: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-main: 1rem;
	--fw-main: normal;
}

:root {
	--bc-menu__button--active: #434343;
	--bt-menu__button--active: 1px solid #434343;
	--br-menu__button--active: 1px solid #434343;
	--bb-menu__button--active: 1px solid #434343;
	--bl-menu__button--active: 1px solid #434343;
	--bd-menu__button--active: 3px;
	--co-menu__button--active: #a1a1a1;
}

:root {
	--bc-menu__button--hover: transparent;
	--bt-menu__button--hover: 1px solid #676767;
	--br-menu__button--hover: 1px solid #676767;
	--bb-menu__button--hover: 1px solid #676767;
	--bl-menu__button--hover: 1px solid #676767;
	--bd-menu__button--hover: 3px;
	--co-menu__button--hover: #b7b8b7;
}

:root {
	--bc-menu__button: transparent;
	--bt-menu__button: 1px solid transparent;
	--br-menu__button: 1px solid transparent;
	--bb-menu__button: 1px solid transparent;
	--bl-menu__button: 1px solid transparent;
	--bd-menu__button: 3px;
	--co-menu__button: #525151;
}

:root {
	--co-menu__button-icon--active: #b7b8b7;
}

:root {
	--co-menu__button-icon--hover: #b7b8b7;
}

:root {
	--co-menu__button-icon: #525151;
}

:root {
	--bc-menu__item--hover: #0058d0;
	--bt-menu__item--hover: none;
	--br-menu__item--hover: none;
	--bb-menu__item--hover: none;
	--bl-menu__item--hover: none;
	--bd-menu__item--hover: 5px;
	--co-menu__item--hover: #eeeeee;
}

:root {
	--bt-menu__item: none;
	--br-menu__item: none;
	--bb-menu__item: none;
	--bl-menu__item: none;
	--bd-menu__item: 5px;
	--co-menu__item: #eeeeee;
}

:root {
	--co-menu__item-icon--hover: #eeeeee;
}

:root {
	--co-menu__item-icon: #eeeeee;
}

:root {
	--co-menu__item-label--hover: #eeeeee;
}

:root {
	--co-menu__item-label: #eeeeee;
	--td-menu__item-label: none;
}

:root {
	--co-menu__item-primary: #eeeeee;
}

:root {
	--bc-menu__menu-item--active: #0058d0;
	--co-menu__menu-item--active: #eeeeee;
}

:root {
	--fl-menu__svg-icon--hover: #eeeeee;
}

:root {
	--fl-menu__svg-icon: #eeeeee;
}

:root {
	--bc-menu: #333333;
	--bt-menu: none;
	--br-menu: none;
	--bb-menu: none;
	--bl-menu: none;
	--bd-menu: 5px;
	--co-menu: #eeeeee;
}

:root {
	--co-mobile-bar__icon: #eeeeee;
}

:root {
	--bc-mobile-bar: #1c1c1c;
}

:root {
	--bc-modal-dialog: #282828;
	--bt-modal-dialog: 1px solid #535353;
	--br-modal-dialog: 1px solid #535353;
	--bb-modal-dialog: 1px solid #535353;
	--bl-modal-dialog: 1px solid #535353;
	--bd-modal-dialog: 5px;
}

:root {
	--br-multibar--hover: 3px solid #676767;
}

:root {
	--br-multibar: 1px solid #464646;
}

:root {
	--co-page__link--hover: #65a6f5;
	--td-page__link--hover: none;
}

:root {
	--co-page__link: #65a6f5;
	--td-page__link: none;
}

:root {
	--co-page__title: #e5e5e5;
	--ff-page__title: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-page__title: 22px;
	--ft-page__title: ;
	--fw-page__title: 600;
	--tt-page__title: ;
}

:root {
	--bc-pomodoro--break: #2f7055;
	--bt-pomodoro--break: none;
	--br-pomodoro--break: none;
	--bb-pomodoro--break: none;
	--bl-pomodoro--break: none;
	--bd-pomodoro--break: 0px;
	--sd-pomodoro--break: none;
	--co-pomodoro--break: #262626;
}

:root {
	--bc-pomodoro--running: #cf3350;
	--bt-pomodoro--running: none;
	--br-pomodoro--running: none;
	--bb-pomodoro--running: none;
	--bl-pomodoro--running: none;
	--bd-pomodoro--running: 0px;
	--sd-pomodoro--running: none;
	--co-pomodoro--running: #262626;
}

:root {
	--bc-pomodoro: #848484;
	--bt-pomodoro: none;
	--br-pomodoro: none;
	--bb-pomodoro: none;
	--bl-pomodoro: none;
	--bd-pomodoro: 0px;
	--sd-pomodoro: none;
	--co-pomodoro: #262626;
}

:root {
	--fl-popover__arrow-border: none;
}

:root {
	--fl-popover__arrow-fill: none;
}

:root {
	--sd-popover__arrow-shadow: ;
}

:root {
	--bc-popover__button--hover: transparent;
	--bt-popover__button--hover: 1px solid #939393;
	--br-popover__button--hover: 1px solid #939393;
	--bb-popover__button--hover: 1px solid #939393;
	--bl-popover__button--hover: 1px solid #939393;
	--co-popover__button--hover: #8b8c8c;
}

:root {
	--bc-popover__button: transparent;
	--bt-popover__button: 1px solid transparent;
	--br-popover__button: 1px solid transparent;
	--bb-popover__button: 1px solid transparent;
	--bl-popover__button: 1px solid transparent;
	--bd-popover__button: 5px;
	--co-popover__button: #8b8c8c;
}

:root {
	--bc-popover__content: #333333;
	--bt-popover__content: 1px solid #585858;
	--br-popover__content: 1px solid #585858;
	--bb-popover__content: 1px solid #585858;
	--bl-popover__content: 1px solid #585858;
	--bd-popover__content: 5px;
	--co-popover__content: #e5e5e5;
}

:root {
	--co-popover__description: #939393;
}

:root {
	--bd-popover: 5px;
	--sd-popover: 3px 3px 11px 3px rgba(0,0,0,0.1);
}

:root {
	--bc-query__content: transparent;
}

:root {
	--bc-query__title: transparent;
	--co-query__title: #e5e5e5;
}

:root {
	--bc-query: #2f2f2f;
	--bt-query: none;
	--br-query: none;
	--bb-query: none;
	--bl-query: none;
	--bd-query: ;
	--sd-query: 0px 0px 15px 5px rgba(0,0,0,0.3);
}

:root {
	--bc-quote: transparent;
	--bt-quote: ;
	--br-quote: ;
	--bb-quote: ;
	--bl-quote: 8px solid #67acfe;
	--bd-quote: 5px;
	--ff-quote: ;
	--fs-quote: 1rem;
	--ft-quote: ;
	--fw-quote: ;
}

:root {
	--bc-ref-count--active: var(--cl-blue-900);
	--co-ref-count--active: var(--cl-white);
}

:root {
	--co-reference__item--hover: ;
	--td-reference__item--hover: ;
}

:root {
	--bc-reference__item: #333232;
	--bt-reference__item: ;
	--br-reference__item: ;
	--bb-reference__item: ;
	--bl-reference__item: ;
	--bd-reference__item: 5px;
}

:root {
	--bb-reference__linked-title: ;
	--co-reference__linked-title: #7c7d7d;
	--ff-reference__linked-title: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-reference__linked-title: 1rem;
	--ft-reference__linked-title: normal;
	--fw-reference__linked-title: 500;
	--tt-reference__linked-title: normal;
}

:root {
	--bc-reference__nested-refs: var(--cl-green-700);
}

:root {
	--td-reference__page-title--hover: none;
}

:root {
	--co-reference__page-title: #939393;
	--fs-reference__page-title: 1rem;
	--fw-reference__page-title: ;
	--td-reference__page-title: none;
}

:root {
	--co-reference__unlinked-title--hover: #7c7d7d;
	--td-reference__unlinked-title--hover: ;
}

:root {
	--bb-reference__unlinked-title: ;
	--co-reference__unlinked-title: #7c7d7d;
	--ff-reference__unlinked-title: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-reference__unlinked-title: 1rem;
	--ft-reference__unlinked-title: normal;
	--fw-reference__unlinked-title: 500;
	--tt-reference__unlinked-title: normal;
}

:root {
	--bt-right-sidebar__bullet-closed: 4px solid var(--cl-gray-700);
	--br-right-sidebar__bullet-closed: 4px solid var(--cl-gray-700);
	--bb-right-sidebar__bullet-closed: 4px solid var(--cl-gray-700);
	--bl-right-sidebar__bullet-closed: 4px solid var(--cl-gray-700);
}

:root {
	--bc-right-sidebar__container: #272625;
	--bl-right-sidebar__container: 1px solid #191918;
}

:root {
	--co-right-sidebar__h1: ;
	--fs-right-sidebar__h1: 1rem;
	--fw-right-sidebar__h1: 600;
}

:root {
	--bb-right-sidebar__window: 1px solid var(--cl-gray-700);
}

:root {
	--bc-roam-css__button--active-hover: ;
	--bt-roam-css__button--active-hover: ;
	--br-roam-css__button--active-hover: ;
	--bb-roam-css__button--active-hover: ;
	--bl-roam-css__button--active-hover: ;
	--bd-roam-css__button--active-hover: ;
	--co-roam-css__button--active-hover: ;
}

:root {
	--bc-roam-css__button--active: ;
	--bt-roam-css__button--active: ;
	--br-roam-css__button--active: ;
	--bb-roam-css__button--active: ;
	--bl-roam-css__button--active: ;
	--bd-roam-css__button--active: ;
	--co-roam-css__button--active: ;
}

:root {
	--bc-roam-css__button--inactive-hover: ;
	--bt-roam-css__button--inactive-hover: ;
	--br-roam-css__button--inactive-hover: ;
	--bb-roam-css__button--inactive-hover: ;
	--bl-roam-css__button--inactive-hover: ;
	--bd-roam-css__button--inactive-hover: ;
	--co-roam-css__button--inactive-hover: ;
}

:root {
	--bc-roam-css__button--inactive: ;
	--bt-roam-css__button--inactive: ;
	--br-roam-css__button--inactive: ;
	--bb-roam-css__button--inactive: ;
	--bl-roam-css__button--inactive: ;
	--bd-roam-css__button--inactive: ;
	--co-roam-css__button--inactive: ;
}

:root {
	--bc-roam-css__container-active: ;
	--bt-roam-css__container-active: ;
	--br-roam-css__container-active: ;
	--bb-roam-css__container-active: ;
	--bl-roam-css__container-active: ;
	--bd-roam-css__container-active: ;
	--co-roam-css__container-active: ;
}

:root {
	--bc-roam-css__container-inactive: ;
	--bt-roam-css__container-inactive: ;
	--br-roam-css__container-inactive: ;
	--bb-roam-css__container-inactive: ;
	--bl-roam-css__container-inactive: ;
	--bd-roam-css__container-inactive: ;
	--co-roam-css__container-inactive: ;
}

:root {
	--bc-roam-js__button--active-hover: ;
	--bt-roam-js__button--active-hover: ;
	--br-roam-js__button--active-hover: ;
	--bb-roam-js__button--active-hover: ;
	--bl-roam-js__button--active-hover: ;
	--bd-roam-js__button--active-hover: ;
}

:root {
	--bc-roam-js__button--active: ;
	--bt-roam-js__button--active: ;
	--br-roam-js__button--active: ;
	--bb-roam-js__button--active: ;
	--bl-roam-js__button--active: ;
	--bd-roam-js__button--active: ;
}

:root {
	--bc-roam-js__button--inactive-hover: var(--cl-red-500);
	--bt-roam-js__button--inactive-hover: 1px solid var(--cl-red-400);
	--br-roam-js__button--inactive-hover: 1px solid var(--cl-red-400);
	--bb-roam-js__button--inactive-hover: 1px solid var(--cl-red-400);
	--bl-roam-js__button--inactive-hover: 1px solid var(--cl-red-400);
	--bd-roam-js__button--inactive-hover: ;
	--co-roam-js__button--inactive-hover: var(--cl-white);
}

:root {
	--bc-roam-js__button--inactive: transparent;
	--bt-roam-js__button--inactive: 1px solid var(--cl-gray-500);
	--br-roam-js__button--inactive: 1px solid var(--cl-gray-500);
	--bb-roam-js__button--inactive: 1px solid var(--cl-gray-500);
	--bl-roam-js__button--inactive: 1px solid var(--cl-gray-500);
	--bd-roam-js__button--inactive: 0px;
	--co-roam-js__button--inactive: var(--cl-gray-100);
}

:root {
	--bc-roam-js__container-active: var(--cl-yellow-800);
	--bt-roam-js__container-active: 1px solid var(--cl-yellow-900);
	--br-roam-js__container-active: 1px solid var(--cl-yellow-900);
	--bb-roam-js__container-active: 1px solid var(--cl-yellow-900);
	--bl-roam-js__container-active: 1px solid var(--cl-yellow-900);
	--bd-roam-js__container-active: ;
	--co-roam-js__container-active: var(--cl-gray-100);
}

:root {
	--bc-roam-js__container-inactive: var(--cl-gray-800);
	--bt-roam-js__container-inactive: 1px solid var(--cl-gray-700);
	--br-roam-js__container-inactive: 1px solid var(--cl-gray-700);
	--bb-roam-js__container-inactive: 1px solid var(--cl-gray-700);
	--bl-roam-js__container-inactive: 1px solid var(--cl-gray-700);
	--bd-roam-js__container-inactive: ;
	--co-roam-js__container-inactive: var(--cl-gray-100);
}

:root {
	--bc-roam42__cp-menu-item--selected: var(--cl-blue-900);
	--bt-roam42__cp-menu-item--selected: 1px solid var(--cl-blue-800);
	--br-roam42__cp-menu-item--selected: 1px solid var(--cl-blue-800);
	--bb-roam42__cp-menu-item--selected: 1px solid var(--cl-blue-800);
	--bl-roam42__cp-menu-item--selected: 1px solid var(--cl-blue-800);
	--bd-roam42__cp-menu-item--selected: ;
}

:root {
	--bt-roam42__cp-menu-item: 1px solid transparent;
	--br-roam42__cp-menu-item: 1px solid transparent;
	--bb-roam42__cp-menu-item: 1px solid transparent;
	--bl-roam42__cp-menu-item: 1px solid transparent;
	--bd-roam42__cp-menu-item: ;
}

:root {
	--bc-roam42__cp-menu-item-active--hover: var(--cl-blue-800);
	--bt-roam42__cp-menu-item-active--hover: 1px solid var(--cl-blue-700);
	--br-roam42__cp-menu-item-active--hover: 1px solid var(--cl-blue-700);
	--bb-roam42__cp-menu-item-active--hover: 1px solid var(--cl-blue-700);
	--bl-roam42__cp-menu-item-active--hover: 1px solid var(--cl-blue-700);
	--bd-roam42__cp-menu-item-active--hover: ;
}

:root {
	--bc-roam42__cp-menu-shortcut: ;
	--bd-roam42__cp-menu-shortcut: ;
	--co-roam42__cp-menu-shortcut: var(--cl-gray-500);
}

:root {
	--bc-roam42__jj-menu: var(--cl-black);
	--bt-roam42__jj-menu: 1px solid var(--cl-gray-800);
	--br-roam42__jj-menu: 1px solid var(--cl-gray-800);
	--bb-roam42__jj-menu: 1px solid var(--cl-gray-800);
	--bl-roam42__jj-menu: 1px solid var(--cl-gray-800);
	--bd-roam42__jj-menu: 0px;
}

:root {
	--bc-roam42__jj-menu-item--highlight: var(--cl-blue-900);
	--bt-roam42__jj-menu-item--highlight: 1px solid var(--cl-blue-800);
	--br-roam42__jj-menu-item--highlight: 1px solid var(--cl-blue-800);
	--bb-roam42__jj-menu-item--highlight: 1px solid var(--cl-blue-800);
	--bl-roam42__jj-menu-item--highlight: 1px solid var(--cl-blue-800);
	--bd-roam42__jj-menu-item--highlight: ;
}

:root {
	--bc-roam42__jj-menu-item: ;
	--bt-roam42__jj-menu-item: 1px solid transparent;
	--br-roam42__jj-menu-item: 1px solid transparent;
	--bb-roam42__jj-menu-item: 1px solid transparent;
	--bl-roam42__jj-menu-item: 1px solid transparent;
	--bd-roam42__jj-menu-item: ;
}

:root {
	--bd-settings__container: ;
}

:root {
	--bc-settings__container: ;
	--bt-settings__container: ;
	--br-settings__container: ;
	--bb-settings__container: ;
	--bl-settings__container: ;
	--co-settings__container: ;
}

:root {
	--co-settings__description: ;
}

:root {
	--co-settings__heading: var(--cl-gray-100);
}

:root {
	--bc-settings__input--focus: var(--cl-gray-800);
	--bt-settings__input--focus: ;
	--br-settings__input--focus: ;
	--bb-settings__input--focus: ;
	--bl-settings__input--focus: ;
}

:root {
	--bc-settings__input: var(--cl-gray-700);
	--bt-settings__input: ;
	--br-settings__input: ;
	--bb-settings__input: ;
	--bl-settings__input: ;
	--bd-settings__input: ;
}

:root {
	--bc-settings__items--hover: ;
	--bt-settings__items--hover: ;
	--br-settings__items--hover: ;
	--bb-settings__items--hover: ;
	--bl-settings__items--hover: ;
	--co-settings__items--hover: var(--cl-gray-700);
}

:root {
	--bc-settings__items--selected: ;
	--bt-settings__items--selected: ;
	--br-settings__items--selected: ;
	--bb-settings__items--selected: ;
	--bl-settings__items--selected: ;
	--co-settings__items--selected: var(--cl-gray-700);
}

:root {
	--bc-settings__items: ;
	--bt-settings__items: ;
	--br-settings__items: ;
	--bb-settings__items: ;
	--bl-settings__items: ;
	--co-settings__items: var(--cl-gray-100);
}

:root {
	--bc-settings__items-selected--before: ;
}

:root {
	--bc-settings__tab-list: var(--cl-gray-700);
}

:root {
	--bc-span--highlighted: #4f482b;
}

:root {
	--co-starred__icon: ;
}

:root {
	--bc-starred__page--hover: ;
	--bt-starred__page--hover: ;
	--br-starred__page--hover: ;
	--bb-starred__page--hover: ;
	--bl-starred__page--hover: ;
	--co-starred__page--hover: #d1d2d1;
	--td-starred__page--hover: none;
}

:root {
	--bt-starred__page: ;
	--br-starred__page: ;
	--bb-starred__page: ;
	--bl-starred__page: ;
	--co-starred__page: #d1d2d1;
	--ff-starred__page: ;
	--fs-starred__page: 1rem;
	--ft-starred__page: ;
	--fw-starred__page: 400;
	--tt-starred__page: normal;
}

:root {
	--co-starred__title: #d1d2d1;
	--ff-starred__title: ;
	--fs-starred__title: 1rem;
	--ft-starred__title: ;
	--fw-starred__title: 500;
	--tt-starred__title: lowercase;
}

:root {
	--bc-sync--saving-local: var(--cl-orange-500);
}

:root {
	--bc-sync--saving-remote: var(--cl-red-500);
}

:root {
	--bc-sync--synced: var(--cl-green-500);
}

:root {
	--bc-tags--hover: #296349;
	--bt-tags--hover: ;
	--br-tags--hover: ;
	--bb-tags--hover: ;
	--bl-tags--hover: ;
	--bd-tags--hover: 10px;
	--co-tags--hover: #d1dcd8;
}

:root {
	--bc-tags: #296349;
	--bt-tags: ;
	--br-tags: ;
	--bb-tags: ;
	--bl-tags: ;
	--bd-tags: 10px;
	--co-tags: #d1dcd8;
	--ff-tags: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-tags: 0.95rem;
	--ft-tags: ;
	--fw-tags: normal;
	--td-tags: ;
	--tt-tags: ;
}

:root {
	--bc-textarea__selection: var(--cl-gray-300);
}

:root {
	--bc-tooltip: #262626;
	--bt-tooltip: 1px solid #2e2f2e;
	--br-tooltip: 1px solid #2e2f2e;
	--bb-tooltip: 1px solid #2e2f2e;
	--bl-tooltip: 1px solid #2e2f2e;
	--bd-tooltip: 5px;
	--co-tooltip: #feffff;
}

:root {
	--bc-topbar__container: #262626;
	--bt-topbar__container: ;
	--br-topbar__container: ;
	--bb-topbar__container: 1px solid #1e1e1e;
	--bl-topbar__container: ;
	--bd-topbar__container: ;
	--sd-topbar__container: ;
}

:root {
	--bc-topbar-datepicker__day--hover: #67acfe;
	--bd-topbar-datepicker__day--hover: 2px;
	--co-topbar-datepicker__day--hover: var(--cl-white);
}

:root {
	--bc-topbar-datepicker__day--selected: #67acfe;
	--bd-topbar-datepicker__day--selected: 2px;
	--co-topbar-datepicker__day--selected: var(--cl-white);
}

:root {
	--co-topbar-datepicker__day: var(--cl-white);
}

:root {
	--bc-topbar-datepicker__day-selected--hover: #67acfe;
	--bd-topbar-datepicker__day-selected--hover: 2px;
}

:root {
	--co-topbar-datepicker__day-without-page: var(--cl-white);
}

:root {
	--bc-topbar-datepicker__nav-button--hover: #67acfe;
	--bt-topbar-datepicker__nav-button--hover: none;
	--br-topbar-datepicker__nav-button--hover: none;
	--bb-topbar-datepicker__nav-button--hover: none;
	--bl-topbar-datepicker__nav-button--hover: none;
	--bd-topbar-datepicker__nav-button--hover: 2px;
	--co-topbar-datepicker__nav-button--hover: ;
}

:root {
	--co-topbar-datepicker__nav-button--hover: var(--cl-white);
}

:root {
	--bc-topbar-datepicker__nav-button: ;
	--bt-topbar-datepicker__nav-button: none;
	--br-topbar-datepicker__nav-button: none;
	--bb-topbar-datepicker__nav-button: none;
	--bl-topbar-datepicker__nav-button: none;
	--bd-topbar-datepicker__nav-button: 2px;
}

:root {
	--co-topbar-datepicker__nav-button: var(--cl-white);
}

:root {
	--bc-topbar-datepicker__today--selected: #67acfe;
	--co-topbar-datepicker__today--selected: var(--cl-white);
}

:root {
	--co-topbar-datepicker__today: #67acfe;
	--fw-topbar-datepicker__today: bold;
}

:root {
	--bc-topbar-datepicker__today-selected--hover: #67acfe;
}

:root {
	--br-topbar-datepicker__weeknumber: 1px solid var(--cl-gray-700);
	--co-topbar-datepicker__weeknumber: var(--cl-gray-500);
	--ff-topbar-datepicker__weeknumber: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
	--fs-topbar-datepicker__weeknumber: 1rem;
}

:root {
	--bc-topbar-datepicker: #2d2f30;
	--bt-topbar-datepicker: ;
	--br-topbar-datepicker: ;
	--bb-topbar-datepicker: ;
	--bl-topbar-datepicker: ;
	--bd-topbar-datepicker: 5px;
	--co-topbar-datepicker: var(--cl-gray-500);
	--ff-topbar-datepicker: ;
}

:root {
	--bc-topbar-datepicker-html__select--hover: #67acfe;
	--co-topbar-datepicker-html__select--hover: var(--cl-white);
}

:root {
	--co-topbar-datepicker-html__select: var(--cl-white);
}

:root {
	--co-topbar-datepicker-html__select-icon: var(--cl-gray-500);
}

:root {
	--bc-version__bullet: #4d4e4d;
}

:root {
	--bc-zoom__mask: #4d4e4d;
}

:root {
	--co-zoom-item: var(--cl-gray-500);
	--fs-zoom-item: 1rem;
}

:root {
	--co-zotero__h5: var(--cl-gray-100);
}

:root {
	--bc-zotero__page-menu: var(--cl-gray-800);
	--bt-zotero__page-menu: 1px solid var(--cl-black);
	--br-zotero__page-menu: 1px solid var(--cl-black);
	--bb-zotero__page-menu: 1px solid var(--cl-black);
	--bl-zotero__page-menu: 1px solid var(--cl-black);
	--bd-zotero__page-menu: 0px;
}

:root {
	--co-zotero__primary: var(--cl-green-500);
}

:root {
	--bc-zotero__sequence: var(--cl-gray-800);
	--br-zotero__sequence: 1px solid var(--cl-black);
	--fs-zotero__sequence: ;
}

