@import url('https://rcvd.github.io/roam-css-system/fonts/things.css');
@import url('https://rcvd.github.io/roam-css-system/internal/colors-things.css');
@import url('https://rcvd.github.io/roam-css-system/internal/roam-css-system.css');
@import url('https://rcvd.github.io/roam-css-system/internal/additional-fixes-things.css');
:root {
  --co-a--hover: 	#0074e0;
  --td-a--hover: 	none;
}

:root {
  --co-a: 	#0074e0;
  --td-a: 	none;
}

:root {
  --bl-alias__tooltip-content-bq: 	1px solid var(--cl-gray-100);
  --co-alias__tooltip-content-bq: 	;
}

:root {
  --bc-allpages__checkbox: 	transparent;
  --bt-allpages__checkbox: 	1px solid var(--cl-gray-400);
  --br-allpages__checkbox: 	1px solid var(--cl-gray-400);
  --bb-allpages__checkbox: 	1px solid var(--cl-gray-400);
  --bl-allpages__checkbox: 	1px solid var(--cl-gray-400);
  --bd-allpages__checkbox: 	3px;
  --sd-allpages__checkbox: 	;
}

:root {
  --bc-allpages__clickable-pill: 	var(--cl-gray-300);
  --bt-allpages__clickable-pill: 	none;
  --br-allpages__clickable-pill: 	none;
  --bb-allpages__clickable-pill: 	none;
  --bl-allpages__clickable-pill: 	none;
  --bd-allpages__clickable-pill: 	4px;
  --co-allpages__clickable-pill: 	var(--cl-white);
  --op-allpages__clickable-pill: 	;
}

:root {
  --bc-allpages__clickable-pill-1: 	var(--cl-gray-400);
  --bt-allpages__clickable-pill-1: 	none;
  --br-allpages__clickable-pill-1: 	none;
  --bb-allpages__clickable-pill-1: 	none;
  --bl-allpages__clickable-pill-1: 	none;
  --bd-allpages__clickable-pill-1: 	4px;
  --co-allpages__clickable-pill-1: 	var(--cl-white);
  --op-allpages__clickable-pill-1: 	1;
}

:root {
  --bc-allpages__clickable-pill-2: 	var(--cl-gray-500);
  --bt-allpages__clickable-pill-2: 	none;
  --br-allpages__clickable-pill-2: 	none;
  --bb-allpages__clickable-pill-2: 	none;
  --bl-allpages__clickable-pill-2: 	none;
  --bd-allpages__clickable-pill-2: 	4px;
  --co-allpages__clickable-pill-2: 	var(--cl-white);
  --op-allpages__clickable-pill-2: 	1;
}

:root {
  --bc-allpages__clickable-pill-3: 	var(--cl-gray-600);;
  --bt-allpages__clickable-pill-3: 	none;
  --br-allpages__clickable-pill-3: 	none;
  --bb-allpages__clickable-pill-3: 	none;
  --bl-allpages__clickable-pill-3: 	none;
  --bd-allpages__clickable-pill-3: 	4px;
  --co-allpages__clickable-pill-3: 	var(--cl-white);
  --op-allpages__clickable-pill-3: 	1;
}

:root {
  --bc-allpages__clickable-pill-empty: 	transparent;
  --co-allpages__clickable-pill-empty: 	var(--cl-gray-400);
}

:root {
  --bc-allpages__input: 	;
  --bt-allpages__input: 	;
  --br-allpages__input: 	;
  --bb-allpages__input: 	;
  --bl-allpages__input: 	;
  --bd-allpages__input: 	0px;
  --sd-allpages__input: 	none;
  --co-allpages__input: 	var(--cl-gray-900);
  --fs-allpages__input: 	1rem;
  --fw-allpages__input: 	normal;
}

:root {
  --co-allpages__input-icon: 	var(--cl-gray-500);
}

:root {
  --bb-allpages__row: 	1px solid var(--cl-gray-100);
  --co-allpages__row: 	var(--cl-gray-400);
}

:root {
  --bc-allpages__row-header: 	var(--cl-gray-50);
  --bd-allpages__row-header: 	0px;
  --co-allpages__row-header: 	var(--cl-gray-900);
  --fs-allpages__row-header: 	1rem;
}

:root {
  --co-allpages__sort-button--focused: 	var(--cl-green-500);
}

:root {
  --co-allpages__sorted-header-text: 	var(--cl-gray-700);
  --fw-allpages__sorted-header-text: 	bold;
}

:root {
  --co-allpages__title-col: 	var(--cl-gray-900);
}

:root {
  --co-allpages__title-text: 	var(--cl-gray-800);
  --td-allpages__title-text: 	none;
}

:root {
  --co-app__h1: 	var(--cl-gray-900);
  --ff-app__h1: 	;
  --fs-app__h1: 	20px;
  --ft-app__h1: 	;
  --fw-app__h1: 	normal;
}

:root {
  --bc-app: 	var(--cl-white);
  --co-app: 	var(--cl-gray-900);
}

:root {
  --co-attributes: 	;
  --ft-attributes: 	;
  --fw-attributes: 	bold;
  --td-attributes: 	;
}

:root {
  --co-block__ghost: 	var(--cl-gray-400);
}

:root {
  --bc-block-highlight--blue: 	#c9e2ff;
}

:root {
  --bc-block-highlight--grey: 	var(--cl-gray-100);
}

:root {
  --bc-block-highlight--yellow: 	var(--cl-yellow-100);
}

:root {
  --bc-block-ref--hover: 	;
  --co-block-ref--hover: 	#0076e3;
}

:root {
  --bb-block-ref: 	.5px dotted var(--cl-gray-300);
}

:root {
  --co-brackets: 	var(--cl-gray-500);
}

:root {
  --bt-bullet__closed: 	4px solid var(--cl-gray-500);
  --br-bullet__closed: 	4px solid var(--cl-gray-500);
  --bb-bullet__closed: 	4px solid var(--cl-gray-500);
  --bl-bullet__closed: 	4px solid var(--cl-gray-500);
}

:root {
  --bc-bullet__ghost: 	var(--cl-gray-500);
}

:root {
  --bc-bullet__inner: 	var(--cl-gray-500);
}

:root {
  --bc-button__cancel--hover: 	;
  --bt-button__cancel--hover: 	;
  --br-button__cancel--hover: 	;
  --bb-button__cancel--hover: 	;
  --bl-button__cancel--hover: 	;
  --co-button__cancel--hover: 	;
}

:root {
  --bc-button__cancel: 	;
  --bt-button__cancel: 	;
  --br-button__cancel: 	;
  --bb-button__cancel: 	;
  --bl-button__cancel: 	;
  --bd-button__cancel: 	;
  --co-button__cancel: 	;
}

:root {
  --bc-button__danger--hover: 	;
  --bt-button__danger--hover: 	;
  --br-button__danger--hover: 	;
  --bb-button__danger--hover: 	;
  --bl-button__danger--hover: 	;
  --co-button__danger--hover: 	;
}

:root {
  --bc-button__danger: 	;
  --bt-button__danger: 	;
  --br-button__danger: 	;
  --bb-button__danger: 	;
  --bl-button__danger: 	;
  --bd-button__danger: 	;
  --co-button__danger: 	;
}

:root {
  --co-button__icon--hover: 	var(--cl-gray-700);
}

:root {
  --co-button__icon: 	var(--cl-gray-700);
}

:root {
  --bc-button--active: 	;
  --sd-button--active: 	;
}

:root {
  --co-button--active: 	#0076e3;
}

:root {
  --bc-button--hover: 	transparent;
  --sd-button--hover: 	none;
  --co-button--hover: 	#0076e3;
}

:root {
  --bc-button--minimal: 	;
  --sd-button--minimal: 	;
}

:root {
  --bc-button: 	transparent;
  --sd-button: 	none;
  --co-button: 	var(--cl-gray-700);
  --ff-button: 	;
}

:root {
  --co-callout__icon: 	;
}

:root {
  --bc-callout__primary: 	;
  --bt-callout__primary: 	;
  --br-callout__primary: 	;
  --bb-callout__primary: 	;
  --bl-callout__primary: 	;
  --bd-callout__primary: 	;
}

:root {
  --bc-card: 	var(--cl-white);
  --bt-card: 	1px solid var(--cl-gray-100);
  --br-card: 	1px solid var(--cl-gray-100);
  --bb-card: 	1px solid var(--cl-gray-100);
  --bl-card: 	1px solid var(--cl-gray-100);
  --bd-card: 	0px;
  --sd-card: 	none;
}

:root {
  --co-caret: 	;
}

:root {
  --bt-checkmark__mark--checked: 	0px;
  --br-checkmark__mark--checked: 	2px solid var(--cl-white);
  --bb-checkmark__mark--checked: 	2px solid var(--cl-white);
  --bl-checkmark__mark--checked: 	0px;
}

:root {
  --bc-checkmark--checked: 	#0362c1;
  --bt-checkmark--checked: 	;
  --br-checkmark--checked: 	;
  --bb-checkmark--checked: 	;
  --bl-checkmark--checked: 	;
}

:root {
  --bt-checkmark: 	1px solid var(--cl-gray-400);
  --br-checkmark: 	1px solid var(--cl-gray-400);
  --bb-checkmark: 	1px solid var(--cl-gray-400);
  --bl-checkmark: 	1px solid var(--cl-gray-400);
  --bd-checkmark: 	3px;
}

:root {
  --bc-code: 	var(--cl-gray-50);
  --bt-code: 	1px solid var(--cl-gray-100);
  --br-code: 	1px solid var(--cl-gray-100);
  --bb-code: 	1px solid var(--cl-gray-100);
  --bl-code: 	1px solid var(--cl-gray-100);
  --bd-code: 	2px;
  --co-code: 	var(--cl-gray-900);
  --ff-code: 	SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;;
  --fs-code: 	1rem;
}

:root {
  --co-codeblock__atom: 	var(--cl-indigo-700);
}

:root {
  --co-codeblock__attribute: 	var(--cl-blue-700);
}

:root {
  --co-codeblock__bracket: 	var(--cl-gray-400);
}

:root {
  --co-codeblock__builtin: 	var(--cl-indigo-600);
}

:root {
  --ff-codeblock__code: 	Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;;
  --fs-codeblock__code: 	1rem;
}

:root {
  --co-codeblock__comment: 	var(--cl-yellow-700);
}

:root {
  --bc-codeblock__container: 	var(--cl-gray-50);
  --bt-codeblock__container: 	;
  --br-codeblock__container: 	;
  --bb-codeblock__container: 	;
  --bl-codeblock__container: 	;
  --bd-codeblock__container: 	;
  --co-codeblock__container: 	var(--cl-gray-900);
}

:root {
  --br-codeblock__cursor: 	1px solid var(--cl-gray-900);
}

:root {
  --co-codeblock__def: 	var(--cl-blue-600);
}

:root {
  --co-codeblock__error: 	var(--cl-red-500);
}

:root {
  --bc-codeblock__gutters: 	var(--cl-gray-50);
  --bt-codeblock__gutters: 	;
  --br-codeblock__gutters: 	2px solid var(--cl-white);
  --bb-codeblock__gutters: 	;
  --bl-codeblock__gutters: 	;
  --ff-codeblock__gutters: 	SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;;
  --fs-codeblock__gutters: 	;
  --ft-codeblock__gutters: 	;
  --fw-codeblock__gutters: 	;
}

:root {
  --co-codeblock__hr: 	var(--cl-gray-400);
}

:root {
  --co-codeblock__invalidchar: 	var(--cl-red-500);
}

:root {
  --co-codeblock__keyword: 	var(--cl-pink-700);
}

:root {
  --co-codeblock__link: 	var(--cl-blue-700);
}

:root {
  --co-codeblock__matchingbracket: 	var(--cl-green-500);
}

:root {
  --co-codeblock__meta: 	var(--cl-gray-700);
}

:root {
  --co-codeblock__nonmatchingbracket: 	var(--cl-red-500);
}

:root {
  --co-codeblock__number: 	var(--cl-green-700);
}

:root {
  --co-codeblock__qualifier: 	var(--cl-gray-700);
}

:root {
  --bc-codeblock__searching: 	;
}

:root {
  --bc-codeblock__selected--focused: 	var(--cl-gray-200);
}

:root {
  --bc-codeblock__selected: 	var(--cl-gray-100);
}

:root {
  --co-codeblock__string: 	var(--cl-red-900);
}

:root {
  --co-codeblock__string-2: 	var(--cl-yellow-600);
}

:root {
  --co-codeblock__tag: 	var(--cl-green-700);
}

:root {
  --co-codeblock__type: 	var(--cl-green-700);
}

:root {
  --co-codeblock__variable-2: 	var(--cl-blue-700);
}

:root {
  --bc-datepicker__day--hover: 	#4f9dfe;
  --bd-datepicker__day--hover: 	2px;
  --co-datepicker__day--hover: 	var(--cl-white);
}

:root {
  --bc-datepicker__day--selected: 	#4f9dfe;
  --bd-datepicker__day--selected: 	2px;
  --co-datepicker__day--selected: 	var(--cl-white);
}

:root {
  --co-datepicker__day: 	var(--cl-gray-200);
}

:root {
  --bc-datepicker__day-selected--hover: 	#4f9dfe;
  --bd-datepicker__day-selected--hover: 	2px;
}

:root {
  --co-datepicker__day-without-page: 	var(--cl-gray-600);
}

:root {
  --bc-datepicker__nav-button--hover: 	#4f9dfe;
  --bt-datepicker__nav-button--hover: 	none;
  --br-datepicker__nav-button--hover: 	none;
  --bb-datepicker__nav-button--hover: 	none;
  --bl-datepicker__nav-button--hover: 	none;
  --bd-datepicker__nav-button--hover: 	2px;
}

:root {
  --co-datepicker__nav-button--hover: 	var(--cl-white);
}

:root {
  --bc-datepicker__nav-button: 	;
  --bt-datepicker__nav-button: 	none;
  --br-datepicker__nav-button: 	none;
  --bb-datepicker__nav-button: 	none;
  --bl-datepicker__nav-button: 	none;
  --bd-datepicker__nav-button: 	2px;
}

:root {
  --co-datepicker__nav-button: 	var(--cl-white);
}

:root {
  --bc-datepicker__today--selected: 	var(--cl-red-500);
  --co-datepicker__today--selected: 	var(--cl-white);
}

:root {
  --co-datepicker__today: 	#4f9dfe;
  --fw-datepicker__today: 	bold;
}

:root {
  --bc-datepicker__today-selected--hover: 	var(--cl-red-600);
}

:root {
  --br-datepicker__weeknumber: 	1px solid var(--cl-gray-600);
  --co-datepicker__weeknumber: 	var(--cl-gray-600);
  --ff-datepicker__weeknumber: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
  --fs-datepicker__weeknumber: 	1rem;
}

:root {
  --bc-datepicker: 	#2c3239;
  --bt-datepicker: 	;
  --br-datepicker: 	;
  --bb-datepicker: 	;
  --bl-datepicker: 	;
  --bd-datepicker: 	5px;
  --co-datepicker: 	var(--cl-gray-600);
  --ff-datepicker: 	;
}

:root {
  --co-dialog__heading: 	var(--cl-gray-900);
  --fw-dialog__heading: 	;
}

:root {
  --bc-dialog__upload-button: 	var(--cl-gray-50);
  --bt-dialog__upload-button: 	1px solid var(--cl-gray-100);
  --br-dialog__upload-button: 	1px solid var(--cl-gray-100);
  --bb-dialog__upload-button: 	1px solid var(--cl-gray-100);
  --bl-dialog__upload-button: 	1px solid var(--cl-gray-100);
  --bd-dialog__upload-button: 	3px;
  --sd-dialog__upload-button: 	none;
  --co-dialog__upload-button: 	var(--cl-gray-900);
}

:root {
  --bc-dialog__upload-input: 	var(--cl-gray-50);
  --bt-dialog__upload-input: 	1px solid var(--cl-gray-100);
  --br-dialog__upload-input: 	1px solid var(--cl-gray-100);
  --bb-dialog__upload-input: 	1px solid var(--cl-gray-100);
  --bl-dialog__upload-input: 	1px solid var(--cl-gray-100);
  --bd-dialog__upload-input: 	0px;
  --sd-dialog__upload-input: 	none;
  --co-dialog__upload-input: 	var(--cl-gray-900);
}

:root {
  --ff-div: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
  --fs-div: 	1rem;
}

:root {
  --bc-dropbar: 	var(--cl-gray-500);
}

:root {
  --bc-elevation__container: 	var(--cl-gray-800);
  --bt-elevation__container: 	;
  --br-elevation__container: 	;
  --bb-elevation__container: 	;
  --bl-elevation__container: 	;
  --bd-elevation__container: 	5px;
  --sd-elevation__container: 	0px 0px 15px 0px rgba(0,0,0,0.2);
}

:root {
  --co-elevation__create-block--selected: 	var(--cl-white);
}

:root {
  --co-elevation__create-block: 	var(--cl-gray-500);
}

:root {
  --bc-elevation__item--selected: 	#509cfe;
  --bt-elevation__item--selected: 	;
  --br-elevation__item--selected: 	;
  --bb-elevation__item--selected: 	;
  --bl-elevation__item--selected: 	;
  --bd-elevation__item--selected: 	5px;
  --co-elevation__item--selected: 	var(--cl-white);
}

:root {
  --bt-elevation__item: 	;
  --br-elevation__item: 	;
  --bb-elevation__item: 	;
  --bl-elevation__item: 	;
  --co-elevation__item: 	var(--cl-white);
  --ff-elevation__item: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
}

:root {
  --co-elevation__item-icon--selected: 	var(--cl-white);
}

:root {
  --co-elevation__item-icon: 	var(--cl-gray-500);
}

:root {
  --co-elevation__item-keyprompt--selected: 	var(--cl-white);
}

:root {
  --co-elevation__item-keyprompt: 	var(--cl-gray-500);
  --fs-elevation__item-keyprompt: 	0.8rem;
  --op-elevation__item-keyprompt: 	1;
}

:root {
  --bc-embed__container-10: 	var(--cl-gray-400);
}

:root {
  --bc-embed__container-11: 	var(--cl-gray-50);
}

:root {
  --bc-embed__container-2: 	var(--cl-gray-100);
}

:root {
  --bc-embed__container-3: 	var(--cl-gray-200);
}

:root {
  --bc-embed__container-4: 	var(--cl-gray-300);
}

:root {
  --bc-embed__container-5: 	var(--cl-gray-400);
}

:root {
  --bc-embed__container-6: 	var(--cl-gray-50);
}

:root {
  --bc-embed__container-7: 	var(--cl-gray-100);
}

:root {
  --bc-embed__container-8: 	var(--cl-gray-200);
}

:root {
  --bc-embed__container-9: 	var(--cl-gray-300);
}

:root {
  --bc-embed: 	var(--cl-gray-50);
  --bt-embed: 	1px solid var(--cl-gray-100);
  --br-embed: 	1px solid var(--cl-gray-100);
  --bb-embed: 	1px solid var(--cl-gray-100);
  --bl-embed: 	1px solid var(--cl-gray-100);
  --bd-embed: 	;
}

:root {
  --bc-embed-page__margin: 	var(--cl-gray-300);
  --op-embed-page__margin: 	1.0;
}

:root {
  --bt-embed-page__reference-main: 	1px solid var(--cl-gray-100);
}

:root {
  --fs-embed-page__title: 	1rem;
}

:root {
  --bc-embed-page: 	var(--cl-gray-50);
  --bt-embed-page: 	1px solid var(--cl-gray-100);
  --br-embed-page: 	1px solid var(--cl-gray-100);
  --bb-embed-page: 	1px solid var(--cl-gray-100);
  --bl-embed-page: 	1px solid var(--cl-gray-100);
  --bd-embed-page: 	0px;
}

:root {
  --bc-emoji-mart__category-label: 	var(--cl-gray-50);
}

:root {
  --bc-emoji-mart: 	var(--cl-white);
  --bt-emoji-mart: 	1px solid var(--cl-gray-100);
  --br-emoji-mart: 	1px solid var(--cl-gray-100);
  --bb-emoji-mart: 	1px solid var(--cl-gray-100);
  --bl-emoji-mart: 	1px solid var(--cl-gray-100);
  --bd-emoji-mart: 	;
  --co-emoji-mart: 	var(--cl-gray-900);
  --ff-emoji-mart: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
  --fs-emoji-mart: 	1rem;
}

:root {
  --bc-find-or-create__menu-item--selected: 	#bed7f9;
  --bt-find-or-create__menu-item--selected: 	;
  --br-find-or-create__menu-item--selected: 	;
  --bb-find-or-create__menu-item--selected: 	;
  --bl-find-or-create__menu-item--selected: 	;
  --bd-find-or-create__menu-item--selected: 	3px;
}

:root {
  --co-find-or-create__menu-item--selected: 	;
}

:root {
  --bt-find-or-create__menu-item: 	;
  --br-find-or-create__menu-item: 	;
  --bb-find-or-create__menu-item: 	;
  --bl-find-or-create__menu-item: 	;
}

:root {
  --co-find-or-create__new-page--selected: 	var(--cl-green-500);
}

:root {
  --co-find-or-create__new-page: 	var(--cl-green-500);
}

:root {
  --co-find-or-create__recent: 	;
}

:root {
  --co-find-or-create__search-list-item: 	var(--cl-gray-600);
}

:root {
  --co-find-or-create__search-list-item-title: 	var(--cl-gray-800);
  --fs-find-or-create__search-list-item-title: 	1rem;
}

:root {
  --co-graph-dropdown__a--hover: 	var(--cl-gray-700);
}

:root {
  --co-graph-dropdown__a: 	var(--cl-gray-700);
  --td-graph-dropdown__a: 	none;
}

:root {
  --co-graph-dropdown__expand-icon--hover: 	var(--cl-green-500);
}

:root {
  --co-graph-dropdown__expand-icon: 	var(--cl-gray-500);
}

:root {
  --co-graph-dropdown__menu-item: 	var(--cl-gray-900);
  --td-graph-dropdown__menu-item: 	none;
}

:root {
  --co-graph-dropdown__menu-title: 	var(--cl-gray-500);
  --fs-graph-dropdown__menu-title: 	12px;
  --ft-graph-dropdown__menu-title: 	normal;
  --fw-graph-dropdown__menu-title: 	normal;
  --tt-graph-dropdown__menu-title: 	uppercase;
}

:root {
  --bc-graph-dropdown__setting--hover: 	var(--cl-gray-500);
  --co-graph-dropdown__setting--hover: 	var(--cl-white);
}

:root {
  --bc-graph-dropdown__setting: 	var(--cl-gray-100);
  --co-graph-dropdown__setting: 	var(--cl-gray-700);
}

:root {
  --co-graph-dropdown__setting-icon--hover: 	var(--cl-gray-700);
  --td-graph-dropdown__setting-icon--hover: 	none;
}

:root {
  --sd-graph-dropdown: 	none;
}

:root {
  --bc-help__categories--hover: 	var(--cl-gray-300);
  --co-help__categories--hover: 	var(--cl-gray-900);
}

:root {
  --bc-help__categories--selected: 	var(--cl-blue-100);
}

:root {
  --co-help__categories: 	var(--cl-gray-700);
}

:root {
  --co-help__category-name: 	var(--cl-gray-700);
  --fs-help__category-name: 	1rem;
  --ft-help__category-name: 	normal;
  --fw-help__category-name: 	normal;
  --tt-help__category-name: 	uppercase;
}

:root {
  --co-help__component-description: 	var(--cl-gray-500);
}

:root {
  --bc-help__component-notation: 	var(--cl-gray-100);
  --co-help__component-notation: 	var(--cl-gray-900);
  --fs-help__component-notation: 	1rem;
}

:root {
  --co-help__component-title: 	var(--cl-gray-700);
  --fs-help__component-title: 	;
  --fw-help__component-title: 	;
}

:root {
  --co-help__function-name: 	var(--cl-gray-900);
  --fs-help__function-name: 	1rem;
  --fw-help__function-name: 	500;
}

:root {
  --co-help__help-version: 	var(--cl-gray-500);
  --fs-help__help-version: 	12px;
  --fw-help__help-version: 	normal;
}

:root {
  --bc-help__icon-container: 	var(--cl-white);
  --bt-help__icon-container: 	none;
  --br-help__icon-container: 	none;
  --bb-help__icon-container: 	none;
  --bl-help__icon-container: 	none;
}

:root {
  --bc-help__input--focus: 	;
  --bt-help__input--focus: 	;
  --br-help__input--focus: 	;
  --bb-help__input--focus: 	;
  --bl-help__input--focus: 	;
  --bd-help__input--focus: 	;
}

:root {
  --bc-help__input: 	;
  --bt-help__input: 	;
  --br-help__input: 	;
  --bb-help__input: 	;
  --bl-help__input: 	;
  --bd-help__input: 	;
}

:root {
  --co-help__markdown-md: 	var(--cl-gray-700);
  --fs-help__markdown-md: 	12px;
  --fw-help__markdown-md: 	normal;
  --op-help__markdown-md: 	1;
}

:root {
  --co-help__markdown-title: 	var(--cl-gray-900);
  --fs-help__markdown-title: 	1rem;
  --fw-help__markdown-title: 	500;
}

:root {
  --bc-help__resource--hover: 	var(--cl-blue-50);
}

:root {
  --co-help__resource-description: 	var(--cl-gray-600);
  --fs-help__resource-description: 	1rem;
  --fw-help__resource-description: 	normal;
}

:root {
  --bc-help__resource-icon: 	var(--cl-gray-100);
  --co-help__resource-icon: 	var(--cl-gray-700);
}

:root {
  --co-help__resource-title: 	var(--cl-gray-700);
  --fs-help__resource-title: 	1rem;
  --fw-help__resource-title: 	bold;
}

:root {
  --co-help__title: 	var(--cl-gray-900);
  --fs-help__title: 	16px;
}

:root {
  --bc-highlight: 	#f8e594;
}

:root {
  --bt-hr: 	2px solid var(--cl-gray-100);
  --br-hr: 	;
  --bb-hr: 	;
  --bl-hr: 	;
}

:root {
  --bc-html__select--hover: 	var(--cl-gray-200);
  --co-html__select--hover: 	var(--cl-black);
}

:root {
  --co-html__select: 	var(--cl-gray-900);
}

:root {
  --co-html__select-icon: 	var(--cl-gray-500);
}

:root {
  --bc-inline-references: 	var(--cl-gray-50);
}

:root {
  --bd-input__search: 	0px;
}

:root {
  --co-input__search-icon: 	var(--cl-gray-500);
}

:root {
  --co-input__search-placeholder: 	var(--cl-gray-400);
  --ff-input__search-placeholder: 	;
}

:root {
  --bc-input--focus: 	var(--cl-gray-300);
  --bt-input--focus: 	none;
  --br-input--focus: 	none;
  --bb-input--focus: 	none;
  --bl-input--focus: 	none;
  --bd-input--focus: 	5px;
  --sd-input--focus: 	none;
}

:root {
  --bc-input: 	transparent;
  --bt-input: 	none;
  --br-input: 	none;
  --bb-input: 	none;
  --bl-input: 	none;
  --bd-input: 	;
  --sd-input: 	none;
  --co-input: 	var(--cl-gray-900);
  --ff-input: 	;
  --fs-input: 	1rem;
  --fw-input: 	normal;
}

:root {
  --bc-install-button--hover: 	var(--cl-blue-50);
  --bt-install-button--hover: 	1px solid var(--cl-blue-100);
  --br-install-button--hover: 	1px solid var(--cl-blue-100);
  --bb-install-button--hover: 	1px solid var(--cl-blue-100);
  --bl-install-button--hover: 	1px solid var(--cl-blue-100);
  --co-install-button--hover: 	var(--cl-blue-900);
}

:root {
  --bc-install-button: 	var(--cl-gray-100);
  --bt-install-button: 	1px solid var(--cl-gray-200);
  --br-install-button: 	1px solid var(--cl-gray-200);
  --bb-install-button: 	1px solid var(--cl-gray-200);
  --bl-install-button: 	1px solid var(--cl-gray-200);
  --bd-install-button: 	0px;
  --co-install-button: 	var(--cl-gray-900);
}

:root {
  --bc-kanban__card: 	var(--cl-white);
  --bt-kanban__card: 	1px solid var(--cl-gray-200);
  --br-kanban__card: 	1px solid var(--cl-gray-200);
  --bb-kanban__card: 	1px solid var(--cl-gray-200);
  --bl-kanban__card: 	1px solid var(--cl-gray-200);
  --bd-kanban__card: 	;
}

:root {
  --bc-kanban__column: 	var(--cl-gray-100);
}

:root {
  --bc-kanban__dropbar: 	var(--cl-red-500);
}

:root {
  --bb-kanban__title: 	1px solid var(--cl-gray-300);
}

:root {
  --bc-kanban: 	var(--cl-gray-200);
}

:root {
  --bc-left-sidebar__container: 	var(--cl-gray-100);
  --br-left-sidebar__container: 	1px solid var(--cl-gray-200);;
}

:root {
  --co-left-sidebar__db-title--hover: 	var(--cl-gray-700);
}

:root {
  --co-left-sidebar__db-title: 	var(--cl-gray-700);
  --ff-left-sidebar__db-title: 	;
  --fs-left-sidebar__db-title: 	;
  --fw-left-sidebar__db-title: 	500;
  --tt-left-sidebar__db-title: 	;
}

:root {
  --bc-left-sidebar__hr: 	var(--cl-gray-200);
}

:root {
  --co-left-sidebar__icon: 	var(--cl-gray-700);
  --fs-left-sidebar__icon: 	16px;
}

:root {
  --bc-left-sidebar__logo--hover: 	transparent;
  --td-left-sidebar__logo--hover: 	none;
}

:root {
  --td-left-sidebar__logo: 	none;
}

:root {
  --co-left-sidebar__logo-text: 	var(--cl-gray-700);
}

:root {
  --bc-left-sidebar__toprow--hover: 	transparent;
}

:root {
  --bb-level1: 	2px solid var(--cl-gray-100);
  --co-level1: 	var(--cl-gray-800);
  --ff-level1: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
  --fs-level1: 	1rem;
  --ft-level1: 	;
  --fw-level1: 	700;
  --tt-level1: 	normal;
}

:root {
  --bb-level2: 	2px solid var(--cl-gray-100);
  --co-level2: 	#0362c1;
  --ff-level2: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
  --fs-level2: 	1rem;
  --ft-level2: 	;
  --fw-level2: 	700;
  --tt-level2: 	normal;
}

:root {
  --bb-level3: 	2px solid var(--cl-gray-100);
  --co-level3: 	var(--cl-gray-600);
  --ff-level3: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
  --fs-level3: 	1rem;
  --ft-level3: 	;
  --fw-level3: 	700;
  --tt-level3: 	normal;
}

:root {
  --co-log-page__h1: 	var(--cl-gray-500);
  --ff-log-page__h1: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
  --fs-log-page__h1: 	22px;
  --ft-log-page__h1: 	;
  --fw-log-page__h1: 	600;
  --tt-log-page__h1: 	;
}

:root {
  --co-log-page__preview: 	var(--cl-gray-500);
}

:root {
  --bt-log-page: 	1px solid var(--cl-gray-200);
}

:root {
  --bc-logbutton--hover: 	transparent;
  --bt-logbutton--hover: 	;
  --br-logbutton--hover: 	;
  --bb-logbutton--hover: 	;
  --bl-logbutton--hover: 	;
  --co-logbutton--hover: 	var(--cl-gray-700);
  --td-logbutton--hover: 	;
}

:root {
  --co-logbutton: 	var(--cl-gray-700);
  --ff-logbutton: 	;
  --fs-logbutton: 	1rem;
  --fw-logbutton: 	500;
  --tt-logbutton: 	normal;
}

:root {
  --bc-main__button--hover: 	;
  --bt-main__button--hover: 	;
  --br-main__button--hover: 	;
  --bb-main__button--hover: 	;
  --bl-main__button--hover: 	;
  --bd-main__button--hover: 	;
  --co-main__button--hover: 	var(--cl-gray-700);
}

:root {
  --bc-main__button: 	;
  --bt-main__button: 	;
  --br-main__button: 	;
  --bb-main__button: 	;
  --bl-main__button: 	;
  --bd-main__button: 	;
  --co-main__button: 	var(--cl-gray-900);
}

:root {
  --bc-main: 	var(--cl-white);
}

:root {
  --co-main: 	var(--cl-gray-900);
  --ff-main: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
  --fs-main: 	1rem;
  --fw-main: 	normal;
}

:root {
  --bc-menu__button--active: 	var(--cl-green-50);
  --bt-menu__button--active: 	1px solid var(--cl-green-100);
  --br-menu__button--active: 	1px solid var(--cl-green-100);
  --bb-menu__button--active: 	1px solid var(--cl-green-100);
  --bl-menu__button--active: 	1px solid var(--cl-green-100);
  --bd-menu__button--active: 	5px;
}

:root {
  --bc-menu__button: 	transparent;
  --bt-menu__button: 	none;
  --br-menu__button: 	none;
  --bb-menu__button: 	none;
  --bl-menu__button: 	none;
  --bd-menu__button: 	;
}

:root {
  --co-menu__button-icon: 	var(--cl-gray-700);
}

:root {
  --bc-menu__item--hover: 	var(--cl-gray-400);
  --bt-menu__item--hover: 	;
  --br-menu__item--hover: 	;
  --bb-menu__item--hover: 	;
  --bl-menu__item--hover: 	;
  --bd-menu__item--hover: 	5px;
  --co-menu__item--hover: 	var(--cl-white);
}

:root {
  --bt-menu__item: 	;
  --br-menu__item: 	;
  --bb-menu__item: 	;
  --bl-menu__item: 	;
  --bd-menu__item: 	5px;
  --co-menu__item: 	var(--cl-gray-900);
}

:root {
  --co-menu__item-icon--hover: 	var(--cl-white);
}

:root {
  --co-menu__item-icon: 	var(--cl-gray-100);
}

:root {
  --co-menu__item-label--hover: 	var(--cl-white);
}

:root {
  --co-menu__item-label: 	var(--cl-gray-500);
  --td-menu__item-label: 	none;
}

:root {
  --co-menu__item-primary: 	#0074e0;
}

:root {
  --bc-menu__menu-item--active: 	#0074e0;
  --co-menu__menu-item--active: 	var(--cl-white);
}

:root {
  --fl-menu__svg-icon--hover: 	var(--cl-white);
}

:root {
  --fl-menu__svg-icon: 	var(--cl-gray-900);
}

:root {
  --bc-menu: 	var(--cl-gray-100);
  --bd-menu: 	5px;
  --co-menu: 	var(--cl-gray-900);
}

:root {
  --co-mobile-bar__icon: 	var(--cl-gray-900);
}

:root {
  --bc-mobile-bar: 	var(--cl-white);
}

:root {
  --bc-modal-dialog: 	var(--cl-gray-50);
  --bt-modal-dialog: 	1px solid var(--cl-gray-100);
  --br-modal-dialog: 	1px solid var(--cl-gray-100);
  --bb-modal-dialog: 	1px solid var(--cl-gray-100);
  --bl-modal-dialog: 	1px solid var(--cl-gray-100);
  --bd-modal-dialog: 	5px;
}

:root {
  --br-multibar--hover: 	3px solid #aeb2b8;
}

:root {
  --br-multibar: 	1px solid #aeb2b8;
}

:root {
  --co-page__link--hover: 	#0074e0;
  --td-page__link--hover: 	none;
}

:root {
  --co-page__link: 	#0074e0;
  --td-page__link: 	none;
}

:root {
  --co-page__title: 	var(--cl-gray-900);
  --ff-page__title: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
  --fs-page__title: 	22px;
  --ft-page__title: 	;
  --fw-page__title: 	600;
  --tt-page__title: 	;
}

:root {
  --bc-pomodoro--break: 	var(--cl-green-50);
  --bt-pomodoro--break: 	1px solid var(--cl-green-100);
  --br-pomodoro--break: 	1px solid var(--cl-green-100);
  --bb-pomodoro--break: 	1px solid var(--cl-green-100);
  --bl-pomodoro--break: 	1px solid var(--cl-green-100);
  --bd-pomodoro--break: 	0px;
  --co-pomodoro--break: 	var(--cl-green-900);
}

:root {
  --bc-pomodoro--running: 	var(--cl-red-50);
  --bt-pomodoro--running: 	1px solid var(--cl-red-100);
  --br-pomodoro--running: 	1px solid var(--cl-red-100);
  --bb-pomodoro--running: 	1px solid var(--cl-red-100);
  --bl-pomodoro--running: 	1px solid var(--cl-red-100);
  --bd-pomodoro--running: 	0px;
  --co-pomodoro--running: 	var(--cl-red-900);
}

:root {
  --bc-pomodoro: 	var(--cl-gray-50);
  --bt-pomodoro: 	1px solid var(--cl-gray-100);
  --br-pomodoro: 	1px solid var(--cl-gray-100);
  --bb-pomodoro: 	1px solid var(--cl-gray-100);
  --bl-pomodoro: 	1px solid var(--cl-gray-100);
  --bd-pomodoro: 	0px;
  --co-pomodoro: 	var(--cl-gray-900);
}

:root {
  --fl-popover__arrow-border: 	var(--cl-gray-400);
}

:root {
  --fl-popover__arrow-fill: 	var(--cl-gray-100);
}

:root {
  --sd-popover__arrow-shadow: 	none;
}

:root {
  --bc-popover__button--hover: 	;
  --bt-popover__button--hover: 	1px solid var(--cl-gray-300);
  --br-popover__button--hover: 	1px solid var(--cl-gray-300);
  --bb-popover__button--hover: 	1px solid var(--cl-gray-300);
  --bl-popover__button--hover: 	1px solid var(--cl-gray-300);
  --co-popover__button--hover: 	;
}

:root {
  --bc-popover__button: 	;
  --bt-popover__button: 	1px solid transparent;
  --br-popover__button: 	1px solid transparent;
  --bb-popover__button: 	1px solid transparent;
  --bl-popover__button: 	1px solid transparent;
  --bd-popover__button: 	5px;
  --co-popover__button: 	;
}

:root {
  --bc-popover__content: 	var(--cl-gray-100);
  --bt-popover__content: 	none;
  --br-popover__content: 	none;
  --bb-popover__content: 	none;
  --bl-popover__content: 	none;
  --bd-popover__content: 	5px;
  --co-popover__content: 	var(--cl-gray-900);
}

:root {
  --co-popover__description: 	var(--cl-gray-400);
}

:root {
  --bd-popover: 	5px;
  --sd-popover: 	0px 0px 15px 0px rgba(0,0,0,0.2);
}

:root {
  --bc-query__content: 	var(--cl-white);
}

:root {
  --bc-query__title: 	var(--cl-gray-100);
  --co-query__title: 	var(--cl-gray-500);
}

:root {
  --bt-query: 	1px solid var(--cl-gray-200);
  --br-query: 	1px solid var(--cl-gray-200);
  --bb-query: 	1px solid var(--cl-gray-200);
  --bl-query: 	1px solid var(--cl-gray-200);
}

:root {
  --bc-quote: 	transparent;
  --bt-quote: 	;
  --br-quote: 	;
  --bb-quote: 	;
  --bl-quote: 	8px solid #0362c1;
  --bd-quote: 	;
  --ff-quote: 	;
  --fs-quote: 	1rem;
  --ft-quote: 	;
  --fw-quote: 	;
}

:root {
  --bc-ref-count--active: 	;
  --co-ref-count--active: 	var(--cl-gray-900);
}

:root {
  --co-reference__item--hover: 	;
  --td-reference__item--hover: 	;
}

:root {
  --bc-reference__item: 	var(--cl-gray-50);
  --bt-reference__item: 	1px solid var(--cl-gray-100);
  --br-reference__item: 	1px solid var(--cl-gray-100);
  --bb-reference__item: 	1px solid var(--cl-gray-100);
  --bl-reference__item: 	1px solid var(--cl-gray-100);
  --bd-reference__item: 	5px;
}

:root {
  --bb-reference__linked-title: 	;
  --co-reference__linked-title: 	var(--cl-gray-600);
  --ff-reference__linked-title: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
  --fs-reference__linked-title: 	1rem;
  --ft-reference__linked-title: 	normal;
  --fw-reference__linked-title: 	500;
  --tt-reference__linked-title: 	normal;
}

:root {
  --bc-reference__nested-refs: 	var(--cl-green-100);
}

:root {
  --td-reference__page-title--hover: 	none;
}

:root {
  --co-reference__page-title: 	#0076e4;
  --fs-reference__page-title: 	1rem;
  --fw-reference__page-title: 	;
  --td-reference__page-title: 	none;
}

:root {
  --co-reference__unlinked-title--hover: 	;
  --td-reference__unlinked-title--hover: 	;
}

:root {
  --bb-reference__unlinked-title: 	;
  --co-reference__unlinked-title: 	var(--cl-gray-600);
  --ff-reference__unlinked-title: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
  --fs-reference__unlinked-title: 	1rem;
  --ft-reference__unlinked-title: 	normal;
  --fw-reference__unlinked-title: 	500;
  --tt-reference__unlinked-title: 	normal;
}

:root {
  --bt-right-sidebar__bullet-closed: 	4px solid var(--cl-gray-400);
  --br-right-sidebar__bullet-closed: 	4px solid var(--cl-gray-400);
  --bb-right-sidebar__bullet-closed: 	4px solid var(--cl-gray-400);
  --bl-right-sidebar__bullet-closed: 	4px solid var(--cl-gray-400);
}

:root {
  --bc-right-sidebar__container: 	var(--cl-gray-50);
  --bl-right-sidebar__container: 	1px solid var(--cl-gray-100);
}

:root {
  --co-right-sidebar__h1: 	var(--cl-gray-700);
  --fs-right-sidebar__h1: 	1rem;
  --fw-right-sidebar__h1: 	600;
}

:root {
  --bb-right-sidebar__window: 	1px solid var(--cl-gray-300);
}

:root {
  --bc-roam-js__button--hover: 	var(--cl-red-500);
  --bt-roam-js__button--hover: 	1px solid var(--cl-red-600);
  --br-roam-js__button--hover: 	1px solid var(--cl-red-600);
  --bb-roam-js__button--hover: 	1px solid var(--cl-red-600);
  --bl-roam-js__button--hover: 	1px solid var(--cl-red-600);
  --co-roam-js__button--hover: 	var(--cl-white);
}

:root {
  --bc-roam-js__button: 	transparent;
  --bt-roam-js__button: 	1px solid var(--cl-gray-500);
  --br-roam-js__button: 	1px solid var(--cl-gray-500);
  --bb-roam-js__button: 	1px solid var(--cl-gray-500);
  --bl-roam-js__button: 	1px solid var(--cl-gray-500);
  --bd-roam-js__button: 	0px;
  --co-roam-js__button: 	var(--cl-gray-900);
}

:root {
  --bc-roam-js__container--active: 	var(--cl-yellow-50);
  --bt-roam-js__container--active: 	1px solid var(--cl-yellow-100);
  --br-roam-js__container--active: 	1px solid var(--cl-yellow-100);
  --bb-roam-js__container--active: 	1px solid var(--cl-yellow-100);
  --bl-roam-js__container--active: 	1px solid var(--cl-yellow-100);
  --co-roam-js__container--active: 	var(--cl-gray-900);
}

:root {
  --bc-roam-js__container--inactive: 	var(--cl-gray-50);
  --bt-roam-js__container--inactive: 	1px solid var(--cl-gray-100);
  --br-roam-js__container--inactive: 	1px solid var(--cl-gray-100);
  --bb-roam-js__container--inactive: 	1px solid var(--cl-gray-100);
  --bl-roam-js__container--inactive: 	1px solid var(--cl-gray-100);
  --co-roam-js__container--inactive: 	var(--cl-gray-900);
}

:root {
  --bc-roam42__cp-menu-item--selected: 	var(--cl-blue-50);
  --bt-roam42__cp-menu-item--selected: 	1px solid var(--cl-blue-100);
  --br-roam42__cp-menu-item--selected: 	1px solid var(--cl-blue-100);
  --bb-roam42__cp-menu-item--selected: 	1px solid var(--cl-blue-100);
  --bl-roam42__cp-menu-item--selected: 	1px solid var(--cl-blue-100);
  --bd-roam42__cp-menu-item--selected: 	;
}

:root {
  --bt-roam42__cp-menu-item: 	1px solid transparent;
  --br-roam42__cp-menu-item: 	1px solid transparent;
  --bb-roam42__cp-menu-item: 	1px solid transparent;
  --bl-roam42__cp-menu-item: 	1px solid transparent;
  --bd-roam42__cp-menu-item: 	;
}

:root {
  --bc-roam42__cp-menu-item-active--hover: 	var(--cl-blue-100);
  --bt-roam42__cp-menu-item-active--hover: 	1px solid var(--cl-blue-200);
  --br-roam42__cp-menu-item-active--hover: 	1px solid var(--cl-blue-200);
  --bb-roam42__cp-menu-item-active--hover: 	1px solid var(--cl-blue-200);
  --bl-roam42__cp-menu-item-active--hover: 	1px solid var(--cl-blue-200);
  --bd-roam42__cp-menu-item-active--hover: 	;
}

:root {
  --bc-roam42__cp-menu-shortcut: 	;
  --bd-roam42__cp-menu-shortcut: 	;
  --co-roam42__cp-menu-shortcut: 	var(--cl-gray-500);
}

:root {
  --bc-roam42__jj-menu: 	var(--cl-white);
  --bt-roam42__jj-menu: 	1px solid var(--cl-gray-100);
  --br-roam42__jj-menu: 	1px solid var(--cl-gray-100);
  --bb-roam42__jj-menu: 	1px solid var(--cl-gray-100);
  --bl-roam42__jj-menu: 	1px solid var(--cl-gray-100);
  --bd-roam42__jj-menu: 	0px;
}

:root {
  --bc-roam42__jj-menu-item--highlight: 	var(--cl-blue-50);
  --bt-roam42__jj-menu-item--highlight: 	1px solid var(--cl-blue-100);
  --br-roam42__jj-menu-item--highlight: 	1px solid var(--cl-blue-100);
  --bb-roam42__jj-menu-item--highlight: 	1px solid var(--cl-blue-100);
  --bl-roam42__jj-menu-item--highlight: 	1px solid var(--cl-blue-100);
  --bd-roam42__jj-menu-item--highlight: 	;
}

:root {
  --bc-roam42__jj-menu-item: 	;
  --bt-roam42__jj-menu-item: 	1px solid transparent;
  --br-roam42__jj-menu-item: 	1px solid transparent;
  --bb-roam42__jj-menu-item: 	1px solid transparent;
  --bl-roam42__jj-menu-item: 	1px solid transparent;
  --bd-roam42__jj-menu-item: 	;
}

:root {
  --bd-settings__container: 	;
}

:root {
  --bc-settings__container: 	;
  --bt-settings__container: 	;
  --br-settings__container: 	;
  --bb-settings__container: 	;
  --bl-settings__container: 	;
  --co-settings__container: 	;
}

:root {
  --co-settings__description: 	;
}

:root {
  --co-settings__heading: 	var(--cl-gray-900);
}

:root {
  --bc-settings__input--focus: 	var(--cl-gray-100);
  --bt-settings__input--focus: 	;
  --br-settings__input--focus: 	;
  --bb-settings__input--focus: 	;
  --bl-settings__input--focus: 	;
}

:root {
  --bc-settings__input: 	var(--cl-gray-50);
  --bt-settings__input: 	;
  --br-settings__input: 	;
  --bb-settings__input: 	;
  --bl-settings__input: 	;
  --bd-settings__input: 	;
}

:root {
  --bc-settings__items--hover: 	;
  --bt-settings__items--hover: 	;
  --br-settings__items--hover: 	;
  --bb-settings__items--hover: 	;
  --bl-settings__items--hover: 	;
  --co-settings__items--hover: 	var(--cl-gray-300);
}

:root {
  --bc-settings__items--selected: 	var(--cl-white);
  --bt-settings__items--selected: 	;
  --br-settings__items--selected: 	;
  --bb-settings__items--selected: 	;
  --bl-settings__items--selected: 	;
  --co-settings__items--selected: 	var(--cl-gray-300);
}

:root {
  --bc-settings__items: 	;
  --bt-settings__items: 	;
  --br-settings__items: 	;
  --bb-settings__items: 	;
  --bl-settings__items: 	;
  --co-settings__items: 	var(--cl-gray-900);
}

:root {
  --bc-settings__items-selected--before: 	;
}

:root {
  --bc-settings__tab-list: 	var(--cl-gray-200);
}

:root {
  --bc-span--highlighted: 	#f8e594;
}

:root {
  --co-starred__icon: 	;
}

:root {
  --bc-starred__page--hover: 	;
  --bt-starred__page--hover: 	;
  --br-starred__page--hover: 	;
  --bb-starred__page--hover: 	;
  --bl-starred__page--hover: 	;
  --co-starred__page--hover: 	var(--cl-gray-700);
  --td-starred__page--hover: 	none;
}

:root {
  --bt-starred__page: 	;
  --br-starred__page: 	;
  --bb-starred__page: 	;
  --bl-starred__page: 	;
  --co-starred__page: 	var(--cl-gray-700);
  --ff-starred__page: 	;
  --fs-starred__page: 	1rem;
  --ft-starred__page: 	;
  --fw-starred__page: 	400;
  --tt-starred__page: 	normal;
}

:root {
  --co-starred__title: 	var(--cl-gray-700);
  --ff-starred__title: 	;
  --fs-starred__title: 	1rem;
  --ft-starred__title: 	;
  --fw-starred__title: 	500;
  --tt-starred__title: 	lowercase;
}

:root {
  --bc-sync--saving-local: 	var(--cl-orange-500);
}

:root {
  --bc-sync--saving-remote: 	var(--cl-red-500);
}

:root {
  --bc-sync--synced: 	var(--cl-green-500);
}

:root {
  --bc-tags--hover: 	#c3e1d3;
  --bt-tags--hover: 	none;
  --br-tags--hover: 	none;
  --bb-tags--hover: 	none;
  --bl-tags--hover: 	none;
  --bd-tags--hover: 	10px;
  --co-tags--hover: 	#24805b;
}

:root {
  --bc-tags: 	#c3e1d3;
  --bt-tags: 	none;
  --br-tags: 	none;
  --bb-tags: 	none;
  --bl-tags: 	none;
  --bd-tags: 	10px;
  --co-tags: 	#24805b;
  --ff-tags: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
  --fs-tags: 	0.95rem;
  --ft-tags: 	;
  --fw-tags: 	;
  --td-tags: 	;
  --tt-tags: 	;
}

:root {
  --bc-textarea__selection: 	#c3d7ff;
}

:root {
  --bc-topbar__container: 	;
  --bt-topbar__container: 	;
  --br-topbar__container: 	;
  --bb-topbar__container: 	1px solid var(--cl-gray-200);
  --bl-topbar__container: 	;
  --bd-topbar__container: 	;
  --sd-topbar__container: 	;
}

:root {
  --bc-version__bullet: 	var(--cl-gray-500);
}

:root {
  --bc-zoom__mask: 	var(--cl-gray-50);
}

:root {
  --co-zoom-item: 	var(--cl-gray-400);
  --fs-zoom-item: 	1rem;
}

:root {
  --co-zotero__h5: 	var(--cl-gray-900);
}

:root {
  --bc-zotero__page-menu: 	var(--cl-blue-50);
  --bt-zotero__page-menu: 	1px solid var(--cl-blue-100);
  --br-zotero__page-menu: 	1px solid var(--cl-blue-100);
  --bb-zotero__page-menu: 	1px solid var(--cl-blue-100);
  --bl-zotero__page-menu: 	1px solid var(--cl-blue-100);
  --bd-zotero__page-menu: 	0px;
}

:root {
  --co-zotero__primary: 	var(--cl-green-500);
}

:root {
  --bc-zotero__sequence: 	var(--cl-gray-50);
  --br-zotero__sequence: 	1px solid var(--cl-gray-100);
  --fs-zotero__sequence: 	;
}

:root {
  --bc-topbar-datepicker__day--hover: 	#cbe2ff;
  --bd-topbar-datepicker__day--hover: 	2px;
  --co-topbar-datepicker__day--hover: 	var(--cl-gray-900);
}

:root {
  --bc-topbar-datepicker__day--selected: 	#cbe2ff;
  --bd-topbar-datepicker__day--selected: 	2px;
  --co-topbar-datepicker__day--selected: 	var(--cl-gray-900);
}

:root {
  --co-topbar-datepicker__day: 	var(--cl-gray-900);
}

:root {
  --bc-topbar-datepicker__day-selected--hover: 	#cbe2ff;
  --bd-topbar-datepicker__day-selected--hover: 	2px;
}

:root {
  --co-topbar-datepicker__day-without-page: 	var(--cl-gray-900);
}

:root {
  --bc-topbar-datepicker__nav-button--hover: 	#cbe2ff;
  --bt-topbar-datepicker__nav-button--hover: 	none;
  --br-topbar-datepicker__nav-button--hover: 	none;
  --bb-topbar-datepicker__nav-button--hover: 	none;
  --bl-topbar-datepicker__nav-button--hover: 	none;
  --bd-topbar-datepicker__nav-button--hover: 	2px;
}

:root {
  --co-topbar-datepicker__nav-button--hover: 	var(--cl-gray-900);
}

:root {
  --bc-topbar-datepicker__nav-button: 	;
  --bt-topbar-datepicker__nav-button: 	none;
  --br-topbar-datepicker__nav-button: 	none;
  --bb-topbar-datepicker__nav-button: 	none;
  --bl-topbar-datepicker__nav-button: 	none;
  --bd-topbar-datepicker__nav-button: 	2px;
}

:root {
  --co-topbar-datepicker__nav-button: 	var(--cl-gray-900);
}

:root {
  --bc-topbar-datepicker__today--selected: 	#cbe2ff;
  --co-topbar-datepicker__today--selected: 	var(--cl-gray-900);
}

:root {
  --co-topbar-datepicker__today: 	#4f9dfe;
  --fw-topbar-datepicker__today: 	bold;
}

:root {
  --bc-topbar-datepicker__today-selected--hover: 	#cbe2ff;
}

:root {
  --br-topbar-datepicker__weeknumber: 	1px solid var(--cl-gray-300);
  --co-topbar-datepicker__weeknumber: 	var(--cl-gray-500);
  --ff-topbar-datepicker__weeknumber: 	-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;;
  --fs-topbar-datepicker__weeknumber: 	1rem;
}

:root {
  --bc-topbar-datepicker: 	var(--cl-gray-100);
  --bt-topbar-datepicker: 	;
  --br-topbar-datepicker: 	;
  --bb-topbar-datepicker: 	;
  --bl-topbar-datepicker: 	;
  --bd-topbar-datepicker: 	5px;
  --co-topbar-datepicker: 	var(--cl-gray-500);
  --ff-topbar-datepicker: 	;
}

:root {
  --bc-datepicker-html__select--hover: 	#4e9cfe;
  --co-datepicker-html__select--hover: 	var(--cl-white);
}

:root {
  --co-datepicker-html__select: 	var(--cl-white);
}

:root {
  --co-datepicker-html__select-icon: 	var(--cl-gray-500);
}

:root {
  --bc-topbar-datepicker-html__select--hover: 	#c9e2ff;
  --co-topbar-datepicker-html__select--hover: 	var(--cl-gray-900);
}

:root {
  --co-topbar-datepicker-html__select: 	var(--cl-gray-900);
}

:root {
  --co-topbar-datepicker-html__select-icon: 	var(--cl-gray-500);
}

