

/* Fix bullet position */
.controls .simple-bullet-outer,
.rm-block__controls .simple-bullet-outer {
    padding-left: 2px;
    margin-top: 4px;
}

.roam-block-container .rm-block-main {
    align-items: inherit;
    justify-content: inherit;
}

.rm-bullet {
    margin-top: 1px;
}

.rm-bullet--numbered {
    margin-top: -1px;
}

@-moz-document url-prefix() {
    .controls .simple-bullet-outer,
    .rm-block__controls .simple-bullet-outer {
        margin-top: 7.5px;
    }

    .controls,
    .rm-block__controls {
        padding-top: 0px;
    }

    .check-container {
        top: 4px;
    }

    .block-expand .rm-caret {
        margin-top: 6px;
    }

    .rm-bullet--numbered {
        margin-top: 3px;
    }
}

/* Align main block */
.roam-block-container .rm-block-main {
    padding-left: 4px;
}

/* Align multibar */
.rm-multibar {
  left: -2px;
}

/* Align references */
.rm-ref-page-view {
    padding-left: 7px;
}

.rm-reference-container>.flex-h-box {
    padding-bottom: 2px;
}

.rm-reference-main>div>div:nth-child(2)>div.flex-h-box {
    margin-top: 12px;
}

.rm-reference-item {
    margin-left: 16px;
}

/* Align caret for linked references */
.rm-reference-container>.flex-h-box {
    align-items: center;
}

.rm-reference-container>.flex-h-box>.rm-caret {
    margin-bottom: 1px;
}

/* Set min height for unlinked references */
.rm-reference-main > div > div:nth-child(2) > div {
  min-height: 31px;
}