body, input, textarea, select, button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -moz-osx-font-smoothing: grayscale;
}

.level1 {
    line-height: 26px;
}

.level2 {
    line-height: 22px;
}

.level3 {
    line-height: 20px;
}

div {
    line-height: 16px;
}

/* Fix bullet position */
.controls .simple-bullet-outer,
.rm-block__controls .simple-bullet-outer {
    margin-top: 4px;
    padding-left: 2px;
}

.roam-block-container .rm-block-main {
    align-items: inherit;
    justify-content: inherit;
}

.rm-bullet {
    margin-top: 1px;
}

.rm-bullet--numbered {
    margin-top: -1px;
}

/* Firefox specific fixes */
@-moz-document url-prefix() {
    .controls .simple-bullet-outer,
    .rm-block__controls .simple-bullet-outer {
        margin-top: 7.5px;
    }

    .controls,
    .rm-block__controls {
        padding-top: 3px;
    }

    .check-container {
        top: 4px;
    }

    .block-expand .rm-caret {
        margin-top: 6px;
    }

    .rm-bullet--numbered {
        margin-top: 3px;
    }
}

/* Align main block */
.roam-block-container .rm-block-main {
    padding-left: 4px;
}

/* Align multibar */
.rm-multibar {
  left: -2px;
}

/* Align references */
.rm-ref-page-view {
    padding-left: 7px;
}

.rm-reference-container>.flex-h-box {
    padding-bottom: 2px;
}

.rm-reference-main>div>div:nth-child(2)>div.flex-h-box {
    margin-top: 12px;
}

.rm-reference-item {
    margin-left: 16px;
}

/* Align caret for linked references */
.rm-reference-container>.flex-h-box {
    align-items: center;
}

.rm-reference-container>.flex-h-box>.rm-caret {
    margin-bottom: 1px;
}

/* Set min height for unlinked references */
.rm-reference-main > div > div:nth-child(2) > div {
  min-height: 31px;
}

/* Re-color Roam Research Logo */
#roam-sidebar-logo img {
    --webkit-filter: brightness(65%);
    filter: brightness(65%);
}

@media (prefers-color-scheme: dark) {
    #roam-sidebar-logo img {
        --webkit-filter: brightness(35%);x
        filter: brightness(35%);
    }
}

/* Remove transparency from graph menu */
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown {
    opacity: 1;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .signout {
    opacity: 1;
}

/* Remove gradient from buttons */
.bp3-button:not([class*='bp3-intent-']) {
    background-image: none;
}

/* Make menu items lower */
.bp3-menu-item {
    padding: 3px 10px;
}

/* Fix border for popover menus */
.bp3-select-popover .bp3-popover-content {
    padding: 0;
}

.bp3-select-popover .bp3-menu {
  padding: 5px;
}

/* Fix starred pages wrapper */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
    padding: 4px 0px 4px 19px;
}

/* Change all pages column alignment to left */
.rm-all-pages .table .rm-pages-row .rm-pages-col {
    text-align: left;
}

/* Change padding for tags */
.rm-page-ref--tag {
    padding: 1px 15px 1px 15px;
}

/* Fix hr margin */
.rm-hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Fix table scrolling for Safari */
.roam-table td {
    overflow: auto;
}

/* Remove popover arrows */
.bp3-popover-arrow {
    display: none;
}

/* Remove gradient from all pages checkboxes */
.rm-all-pages .bp3-control .bp3-control-indicator {
    background-image: none;
}

/* Remove focus border */
:focus {
    outline: none;
}

/* Fix checkbox */
.check-container .checkmark::after {
    left: 2.5px;
    top: -0.5px;
}

/* Hide scrollbar on elevation */
.bp3-elevation-3 {
    overflow: hidden!important;
}

/* Roam Sidebar container icons */
.roam-sidebar-container {
    color: #0079ff;
}