.bp3-popover .bp3-popover-arrow-border {
    fill-opacity: 1;
}

.roam-table td {
    overflow: auto;
}

.rm-hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown {
    opacity: 100%;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .signout {
    opacity: 100%;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .icon {
    padding-bottom: 2px;
}

#roam-sidebar-logo img {
    --webkit-filter: brightness(40%);
    filter: brightness(40%);
}

@media (prefers-color-scheme: dark) {
    #roam-sidebar-logo img {
        --webkit-filter: brightness(60%);
        filter: brightness(60%);
    }
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.bp3-datepicker .DayPicker-Day {
    height: 35px;
    width: 35px;
}

.controls .simple-bullet-outer,
.rm-block__controls .simple-bullet-outer {
    padding-left: 1px;
    margin-top: 8px;
}

.roam-block-container .rm-block-main {
    padding-left: 5px;
}

.rm-multibar {
    left: -1px;
}

.rm-ref-page-view {
    padding-left: 7px;
}

.rm-reference-container>.flex-h-box {
    padding-bottom: 2px;
}

.rm-reference-main>div>div:nth-child(2)>div.flex-h-box {
    margin-top: 12px;
}

.rm-reference-item {
    margin-left: 16px;
}

.bp3-button:not([class*='bp3-intent-']) {
    background-image: none;
}

.rm-pages-toolbar .toolbar-search-group .search-input {
    margin-right: 10px;
}

.rm-all-pages .bp3-control .bp3-control-indicator {
    background-image: none;
}

.rm-embed--page>.rm-embed-margin-action {
    left: -14px;
    width: 5px;
}

.rm-embed--page {
    margin-bottom: 0px;
}

.tribute-container ul {
    padding: 4px;
}

@media (prefers-color-scheme: dark) {
    .tribute-item img {
        filter: invert(99%) sepia(15%) saturate(6%) hue-rotate(229deg) brightness(113%) contrast(87%);
    }
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
    padding: 4px 0px 4px 0px;
}

.bp3-button {
    padding: 0px 7px 0px 7px;
    min-height: 24px;
    font: inherit;
}

.rm-block-separator {
    min-width: 0px;
}

.block-expand {
    margin-top: 4px;
}

.controls,
.rm-block__controls {
    padding-top: 0px;
}

.rm-bullet {
    margin-top: 5px;
}

.rm-query .rm-bullet {
    margin-top: 3px;
}

.rm-reference-container>.flex-h-box {
    align-items: center;
}

.rm-reference-container>.flex-h-box>.rm-caret {
    margin-bottom: 1px;
}

.bp3-file-upload-input::after {
    line-height: 28px;
    margin: -1px;
}

.rm-page-ref--tag {
    padding: 1px 10px 1px 10px;
    border-radius: 10px
}

span.rm-page-ref--tag[data-tag='evergreen'] {
  background-color:     transparent;
  border-top:           1px solid var(--cl-green-500);
  border-right:         1px solid var(--cl-green-500);
  border-bottom:        1px solid var(--cl-green-500);
  border-left:          1px solid var(--cl-green-500);
  border-radius:        3px;
  color:                var(--cl-green-500);
  padding:              3px;
}

span.rm-page-ref--tag[data-tag='evergreen']:hover {
  background-color:     transparent;
  border-top:           1px solid var(--cl-green-700);
  border-right:         1px solid var(--cl-green-700);
  border-bottom:        1px solid var(--cl-green-700);
  border-left:          1px solid var(--cl-green-700);
  border-radius:        3px;
  color:                var(--cl-green-700);
  padding:              3px;
}

div {
    line-height: 1.6rem;
}

.rm-nested-refs .flex-h-box, .rm-inline-references .flex-h-box {
    align-items: center;
}

.rm-inline-references .rm-inline-reference .rm-caret-wrapper {
    margin-top: 0;
}

#app {
    border-top: 1px solid var(--cl-gray-100);
}

@media (prefers-color-scheme: dark) {
    #app {
        border-top: 1px solid var(--cl-gray-800);
    }
}


.bp3-popover-arrow {
    display: none;
}


.bp3-menu-item {
    padding: 3px 10px;
}

.bp3-elevation-3 > div {
    border-radius: 5px!important;
    padding:  3px 10px;
}

.bp3-datepicker .bp3-datepicker-day-wrapper {
    padding:  0px 7px;
}

.rm-jump-date-picker .bp3-datepicker-day-wrapper {
    height:  unset;
}

.bp3-datepicker .DayPicker-Day {
    width:  unset;
    height:  unset;
}

.bp3-datepicker .DayPicker-Day.DayPicker-Day--isToday .bp3-datepicker-day-wrapper {
    border: none;
}

:focus {
    outline:  none;
}