/* Fix bullet position */
.controls, .rm-block__controls {
    padding-top: 4px;
}

.controls .simple-bullet-outer,
.rm-block__controls .simple-bullet-outer {
    margin-top: 3px;
    padding-left: 2px;
}

.roam-block-container .rm-block-main {
    align-items: inherit;
    justify-content: inherit;
}

.rm-bullet {
    margin-top: 2px;
}

.rm-bullet--numbered {
    margin-top: 0px;
}

/* Firefox specific fixes */
@-moz-document url-prefix() {
    .controls .simple-bullet-outer,
    .rm-block__controls .simple-bullet-outer {
        margin-top: 7.5px;
    }

    .controls,
    .rm-block__controls {
        padding-top: 3px;
    }

    .check-container {
        top: 4px;
    }

    .block-expand .rm-caret {
        margin-top: 6px;
    }

    .rm-bullet--numbered {
        margin-top: 3px;
    }
}

/* Align main block */
.roam-block-container .rm-block-main {
    padding-left: 4px;
}

/* Align multibar */
.rm-multibar {
    left: -2px;
}

/* Align references */
    .rm-reference-container>.flex-h-box {
    padding-bottom: 2px;
}

.rm-reference-main>div>div:nth-child(2)>div.flex-h-box {
    margin-top: 12px;
}

.rm-reference-item {
    margin-left: -2px; /*was +16px*/
}

.rm-caret {
    width: 16px;
    height:  17px;
}

.rm-mentions .rm-ref-page-view {
    margin-left: 15px;
}

.rm-mentions .rm-ref-page-view .rm-title-arrow-wrapper .rm-caret {
    padding: 0px;
}

/* Align caret for linked references */
.rm-reference-container>.flex-h-box {
    align-items: center;
}

.rm-reference-container>.flex-h-box>.rm-caret {
    margin-bottom: 1px;
}

/* Set min height for unlinked references */
.rm-reference-main > div > div:nth-child(2) > div {
    min-height: 31px;
}

/* Remove transparency from graph menu */
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown {
    opacity: 1;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .signout {
    opacity: 1;
}

/* Remove gradient from buttons */
.bp3-file-upload-input::after, .bp3-button:not([class*='bp3-intent-']) {
    background-image: none;
}

/* Fix border for popover menus */
.bp3-select-popover .bp3-popover-content {
    padding: 0;
}

.bp3-select-popover .bp3-menu {
    padding: 5px;
}

/* Remove gradient from all pages checkboxes */
.rm-all-pages .bp3-control .bp3-control-indicator {
    background-image: none;
}

/* Remove focus border */
:focus {
    outline: none;
}

/* Fix checkbox */
.check-container {
    height: 15px;
    width: 15px;
    top: 2px;
}

.check-container .checkmark::after {
    left: 4px;
    top: 1px;
}

.bp3-menu-item::before, .bp3-menu-item>.bp3-icon {
    margin-top: 2px;
}

.rm-page-ref--tag, span[data-tag='tags'] {
    padding:  1px 7px;
}

/* Fix border for popover menus */
.bp3-select-popover .bp3-popover-content {
    padding: 0;
}

.bp3-select-popover .bp3-menu {
    padding: 5px;
}

/* Remove popover arrows */
.bp3-popover-arrow {
    display: none;
}

/* Fix hr margin */
.rm-hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Fix table scrolling for Safari */
.roam-table td {
    overflow: auto;
}

#app > div > div > div.roam-sidebar-container.noselect > div > div.flex-v-box.starred-pages-wrapper > div:nth-child(1) {
    display:  none;
}

/* Re-color Roam Research Logo */
#roam-sidebar-logo img {
    --webkit-filter: brightness(75%);
    filter: brightness(75%);
}

@media (prefers-color-scheme: dark) {
    #roam-sidebar-logo img {
        --webkit-filter: brightness(100%);
        filter: brightness(100%);
    }
}

/* Hide Code Block Gutter */
.CodeMirror-gutter-wrapper, .CodeMirror-gutters {
  display: none;
}

.CodeMirror {
  padding: 2px 8px;
}

.CodeMirror-sizer {
  margin-left: 0px!important;
}

.roam-block-container {
    border-radius: 0;
}

.bp3-datepicker .bp3-datepicker-day-wrapper {
    padding: 8px;
}

/* Cursor Color */
input,
textarea,
[contenteditable] {
    caret-color: rgba(224, 109, 114, 1.00);
}

@media (prefers-color-scheme: dark) {
    input,
    textarea,
    [contenteditable] {
        caret-color: rgba(173, 196, 249, 1.00);
    }
}

.bp3-control.bp3-switch.bp3-large.bp3-align-right .bp3-control-indicator {
    border: 0;
}

/* Change all pages column alignment to left */
.rm-all-pages .table .rm-pages-row .rm-pages-col {
    text-align: left;
}
