/* Menu Items */
.bp3-menu-item {
	padding-top: 4px;
	padding-bottom: 4px;
}

/* Hide menu icons */
.bp3-menu-item::before, 
.bp3-menu-item>.bp3-icon {
	display: none;
}

/* Hide Roam Research Logo */
#roam-sidebar-logo {
	display: none;
}

/* Hide Starred Pages Icon */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .bp3-icon-star {
	display: none;
}

/* Hide old starred pages title */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper > div > span {
	display: none;
}

/* Log Button */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px 10px;
}

/* Remove padding between star and title */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper > div > div::before {
	content: 'Shortcuts';
	font-size: 0.9em;
	font-weight: 600;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .title {
	padding-left: 10px;
}

/* Shortcuts Header */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
	padding: 8px 0px!important;
	margin: 0px 10px;
}

/* Shortcuts */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

/* Horizontal ruler between Log Buttons and Favorites */
.starred-pages-wrapper > div:first-child {
	display: none;
}

/* Fix block position */
.rm-block__children.rm-level-0 {
	margin-left: -19px;
}

/* References */
.rm-mentions {
	margin-left: 12px;
	margin-top: 0.5em;
	padding-top: 0.9em;
	margin-bottom: 2em;
}

.rm-reference-main {
	margin-left: -3px;
}

.rm-reference-main > div > div > .flex-h-box {
	margin-top: 1em;
}

.rm-reference-main > div > div > .flex-h-box,
.rm-reference-container > .flex-h-box {
	align-items: center;
}

.rm-mentions .rm-ref-page-view .rm-title-arrow-wrapper .rm-caret {
	padding-bottom: 4px;
}

.rm-reference-main > div > div > .flex-h-box .rm-caret,
.rm-reference-container > .flex-h-box .rm-caret {
	padding: 2px; 
}

.rm-zoom.zoom-mentions-view {
	margin-left: 4px;
}

.rm-mentions .rm-ref-page-view .rm-title-arrow-wrapper .rm-caret {
	margin-right: 6px;
}

.rm-mentions div[style*='margin-left: 4px'] {
	margin-left: 12px!important;
}

/* Tasks */
.check-container {
	width: 14px;
	height: 14px;
	top: 2px;
}

.check-container .checkmark:after {
	left: 2.5px;
	top: -0.75px;
}

.rm-bullet__inner {
	height: 4px;
	width: 4px;
}

/* Heading 1 */
h1, .rm-level1, .rm-heading-level-1 > .rm-block-main {
	margin-top: 31px;
	margin-bottom: 2px;
	min-height: 40px;
}

/* Heading 2 */
h2, .rm-level2, .rm-heading-level-2 > .rm-block-main {
	margin-top: 18px;
	margin-bottom: 6px;
	min-height: 36px;
}

/* Heading 3 */
h3, .rm-level3, .rm-heading-level-3 > .rm-block-main {
	margin-top: 14px;
	margin-bottom: 4px;
	min-height: 34px;
}

.controls, .rm-block__controls {
	flex: 0 0 48px;
}

.rm-bullet__inner--numbered {
	vertical-align: middle;
}

.rm-title-display {
	line-height: 36px;
}

.rm-block-input {
	padding-top: 1px;
	padding-bottom: 4px;
}

.rm-block-input {
	line-height: 24px;
}

.roam-block {
	line-height: 24px;
	min-height: 32px;
}

.roam-block-container textarea {
	margin-top: 2px;
	margin-bottom: 0px;
}

.roam-body .roam-app .roam-main .roam-article .rm-heading-level-1.rm-block > div > div > textarea {
	margin-top: 2px;
}

.roam-body .roam-app .roam-main .roam-article .rm-heading-level-2.rm-block > div > div > textarea {
	margin-top: 2px;
}

.roam-body .roam-app .roam-main .roam-article .rm-heading-level-3.rm-block > div > div > textarea {
	margin-top: 2px;
}

.roam-body .roam-app .roam-main .roam-article .rm-title-editing-display textarea.rm-title-textarea, .rm-title-textarea {
	margin-top: 3px;
}

.roam-block {
	padding-top: 4px;
	padding-bottom: 4px;
}

.controls, .rm-block__controls {
	padding-top: 4px;
}

/* Topbar Buttons */
.rm-topbar .bp3-button.bp3-minimal, .rm-topbar .bp3-button:not([class*='bp3-intent-']).bp3-minimal {
	width: 32px;
	height: 28px;
}

.bp3-popover .bp3-popover-arrow {
	display: none;
}

.bp3-tooltip .bp3-popover-content {
	padding: 4px 8px;
}


/* Settings dialog */
.bp3-control.bp3-switch input:checked ~ .bp3-control-indicator::before {
	margin: 0;
	margin-left: 4px;
}

.bp3-control.bp3-radio input:checked ~ .bp3-control-indicator::before {
	margin: -1px;
}

.rm-settings--desktop .rm-settings-tabs .bp3-tab-list {
	padding-left: 12px;
	padding-right: 12px;
}

.rm-settings .rm-settings__tab.rm-settings__tab:not(.rm-settings__panel-wrapper) {
	padding: 0px 20px;
}

.rm-auth-providers .rm-auth-provider,
.rm-settings .rm-settings-panel .flex-v-box>button,
.rm-settings .rm-settings-panel .flex-h-box>button,
.rm-settings .rm-select-wrapper button.bp3-button {
	padding-top: 4px!important;
	padding-bottom: 4px!important;
}

.rm-settings input[type='text'] {
	padding-top: 8px;
}

.rm-hotkeys-settings .rm-hotkeys-context .rm-hotkeys-action {
	padding-top: 4px;
}

.bp3-control input:focus ~ .bp3-control-indicator {
	outline: none;
}

.bp3-control .bp3-control-indicator::before {
	height: 1rem;
	width: 1rem;
	margin-left: -2px;
	margin-top: -2px;
}

.rm-all-pages .table .rm-pages-row .rm-pages-col:nth-child(3) {
	justify-content: flex-end;
	flex: 0 0 100px;	
}

.rm-all-pages .table .rm-pages-row .rm-pages-col:nth-child(4) {
	justify-content: flex-end;
	flex: 0 0 100px;
}

.rm-all-pages .table .rm-pages-row .rm-pages-col:nth-child(5),
.rm-all-pages .table .rm-pages-row .rm-pages-col:nth-child(6) {
	justify-content: flex-end;
	flex: 0 0 140px;
}

.rm-all-pages .table .rm-pages-row .rm-pages-title-col {
	height: 40px;
	line-height: 40px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.rm-all-pages .table .rm-pages-row .rm-pages-col {
	height: 40px;
	line-height: 40px;
	padding-top: 0px;
	padding-bottom: 0px;
	display: flex;
	align-items: center;
}

.rm-clickable-pill {
	padding: 0px;
}

.rm-all-pages .table .rm-pages-row .rm-pages-checkbox-col {
	padding: 9px 0px;
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-title-col > span:first-child,
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(3) > span:first-child,
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(4) > span:first-child,
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(5) > span:first-child,
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(6) > span:first-child {
	display: none;
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-title-col:before {
	content: 'Title';
	font-size: 0.9rem;
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(3):before {
	content: 'Words';
	font-size: 0.9rem;
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(4):before {
	content: 'Mentions';
	font-size: 0.9rem;
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(5):before {
	content: 'Updated';
	font-size: 0.9rem;
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(6):before {
	content: 'Created';
	font-size: 0.9rem;
}

.rm-block--ghost .controls, .rm-block--ghost .rm-block__controls {
	padding-top: 5px;
	padding-left: 13px;
	margin-right: 8px;
}

.controls .simple-bullet-outer .simple-bullet-inner, .rm-block__controls .simple-bullet-outer .simple-bullet-inner {
	height: 4px;
	width: 4px;
}

.bp3-button-text {
	padding-bottom: 2px;
}

.rm-alias--external:after {
  content: '↗';
  color: #7f7f7f;
 }
 
/* Hide Code Block Gutter */
.cm-gutters {
   display: none!important;
 }
 
 .rm-code-block {
   padding: 20px;
 }

.bp3-button {
	height: 24px;
	line-height: 24px;
}
 
.bp3-button .bp3-icon-caret-down {
	 padding-bottom: 4px;
 }
 
 .rm-help-search__icon-container {
	position: absolute;
	top: 10px; 
 }
 
 .rm-help-search__input {
	padding-left: 40px; 
 }
 
 .roam-body .roam-app .roam-main .roam-article .rm-title-editing-display {
	 margin-top: 33px;
	 margin-bottom: 14px;
 }
 
 .roam-body .roam-app .roam-main .roam-article .rm-title-display {
	 margin-bottom: 16px;
 }
 
 .rm-encrypted-passphrase .bp3-icon-lock {
	 margin-bottom: 0!important;
 }
 
 .roam-block .bp3-button:not([class*='bp3-intent-']).rm-pomodoro {
	 line-height: 20px;
	 height: 30px;
	 width: 150px;
	 text-align: center;
 }
 
 .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page::before {
	 content: '›  ';
 } 
 
 .rm-encrypted-block .bp3-button:not([class*='bp3-intent-']) {
	 padding-left: 20px!important;
	 padding-right: 20px!important;
 }
 
.bp3-button.bp3-intent-danger,
.bp3-button.bp3-intent-warning,
.bp3-control .bp3-control-indicator,
.bp3-file-upload-input::after,
.bp3-button.bp3-intent-primary,
.bp3-button:not([class*="bp3-intent-"]) {
	 background-image: none;
 }
 
 /* Remove focus border */
:focus {
	 outline: none;
 }
 
 /* Change padding for tags */
.rm-page-ref--tag {
	 padding: 2px 10px 2px 10px;
	 border-radius: 10px
 }
 
 .rm-sync {
	 position: absolute;
	 right: 0px;
	 bottom: 0px;
	 z-index: 2;
 }

@media (hover: hover) and (pointer: fine) {
	/* Search Dialog */
	.rm-find-or-create-wrapper[style='flex: 0 1 200px;'] {
		max-width: 24px;
		min-width: 24px;
		cursor: pointer;
	}
	
	.rm-find-or-create-wrapper[style='flex: 0 1 200px;'] input{
		padding-left: 20px!important;
		background-color: transparent;
		z-index: 1000;
	}
	
	.rm-find-or-create-wrapper .bp3-menu {
		max-height: 340px;
	}

	.roam-app .flex-h-box[style*='margin-left: 232px;'] .rm-find-or-create-wrapper:not([style*='flex: 0 1 200px']) {
		left: -232px;
	}
	
	.rm-find-or-create-wrapper:not([style*='flex: 0 1 200px']) {
		width: 95%;
		/* min-width: 300px; */
		max-width: 600px;
		height: 400px;
		position: absolute;
		z-index:1000;
		margin: auto;
		top: 0; left: 0px; bottom: 0; right: 0;
		padding: 10px;
	}
	
	.rm-find-or-create-wrapper .bp3-popover .bp3-popover-content {
		background-color: transparent!important;
		border: none;
	}
	
	.rm-find-or-create-wrapper .bp3-popover {
		box-shadow: none;
	}
	
	.rm-find-or-create-wrapper .bp3-transition-container {
		transform: translate3d(0px, 50px, 0px)!important;
	}
	
	.rm-find-or-create-wrapper {
		transition: none;
	}
	
	.rm-find-or-create-wrapper .bp3-menu {
		padding: 10px;
	}
	
	.rm-find-or-create-wrapper[style='flex: 0 1 200px;'] .bp3-menu {
		display: none;
	}
 }

 
 .emoji-mart-search-icon {
	 top: 3px;
 }
 
 .rm-embed--page {
	 padding: 14px;
 }
 
 .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .bp3-menu-item .icon.settings {
	 padding-bottom: 1px;	
 }
 
.rm-page-ref--namespace:before {
	content: '› ';
	color: #7f7f7f;
}

div.cm-activeLine.cm-line {
	caret-color: white !important;
}

.reveal div {
	font-family: "Inter",sans-serif;
	font-size: 1em;
}

.rm-block-separator {
	min-width: 0px;
}