:root {
    --cl-white: #ffffff;
    --cl-black: #000000;
    --cl-gray-50: hsl(0,0%,98%);
    --cl-gray-100: hsl(0,0%,93%);
    --cl-gray-200: hsl(0,0%,85%);
    --cl-gray-300: hsl(0,0%,70%);
    --cl-gray-400: hsl(0,0%,60%);
    --cl-gray-500: hsl(0,0%,50%);
    --cl-gray-600: hsl(0,0%,40%);
    --cl-gray-700: hsl(0,0%,30%);
    --cl-gray-800: hsl(0,0%,20%);
    --cl-gray-900: hsl(0,0%,10%);
    --cl-red-50: #fef2f2;
    --cl-red-100: #fee2e2;
    --cl-red-200: #fecaca;
    --cl-red-300: #fca5a5;
    --cl-red-400: #f87171;
    --cl-red-500: #ef4444;
    --cl-red-600: #dc2626;
    --cl-red-700: #b91c1c;
    --cl-red-800: #991b1b;
    --cl-red-900: #7f1d1d;
    --cl-yellow-50: #fffbeb;
    --cl-yellow-100: #fef3c7;
    --cl-yellow-200: #fde68a;
    --cl-yellow-300: #fcd34d;
    --cl-yellow-400: #fbbf24;
    --cl-yellow-500: #f59e0b;
    --cl-yellow-600: #d97706;
    --cl-yellow-700: #b45309;
    --cl-yellow-800: #92400e;
    --cl-yellow-900: #78350f;
    --cl-green-50: hsl(126,24%,98%);
    --cl-green-100: hsl(126,24%,93%);
    --cl-green-200: hsl(126,24%,85%);
    --cl-green-300: hsl(126,24%,70%);
    --cl-green-400: hsl(126,24%,60%);
    --cl-green-500: hsl(126,24%,50%);
    --cl-green-600: hsl(126,24%,40%);
    --cl-green-700: hsl(126,24%,30%);
    --cl-green-800: hsl(126,24%,20%);
    --cl-green-900: hsl(126,24%,10%);
    --cl-blue-50: #eff6ff;
    --cl-blue-100: #dbeafe;
    --cl-blue-200: #bfdbfe;
    --cl-blue-300: #93c5fd;
    --cl-blue-400: #60a5fa;
    --cl-blue-500: #3b82f6;
    --cl-blue-600: #2563eb;
    --cl-blue-700: #1d4ed8;
    --cl-blue-800: #1e40af;
    --cl-blue-900: #1e3a8a;
    --cl-indigo-50: #eef2ff;
    --cl-indigo-100: #e0e7ff;
    --cl-indigo-200: #c7d2fe;
    --cl-indigo-300: #a5b4fc;
    --cl-indigo-400: #818cf8;
    --cl-indigo-500: #6366f1;
    --cl-indigo-600: #4f46e5;
    --cl-indigo-700: #4338ca;
    --cl-indigo-800: #3730a3;
    --cl-indigo-900: #312e81;
    --cl-purple-50: #f5f3ff;
    --cl-purple-100: #ede9fe;
    --cl-purple-200: #ddd6fe;
    --cl-purple-300: #c4b5fd;
    --cl-purple-400: #a78bfa;
    --cl-purple-500: #8b5cf6;
    --cl-purple-600: #7c3aed;
    --cl-purple-700: #6d28d9;
    --cl-purple-800: #5b21b6;
    --cl-purple-900: #4c1d95;
    --cl-pink-50: #fdf2f8;
    --cl-pink-100: #fce7f3;
    --cl-pink-200: #fbcfe8;
    --cl-pink-300: #f9a8d4;
    --cl-pink-400: #f472b6;
    --cl-pink-500: #ec4899;
    --cl-pink-600: #db2777;
    --cl-pink-700: #be185d;
    --cl-pink-800: #9d174d;
    --cl-pink-900: #831843;
}